<% if can? :view_step_automation_tab, association_or_new_instance(step, :request) %>
   <% if @display_only && !step.enabled_editing?(current_user) %>
    <% if step.script && !step.script.arguments.blank? %>
      <%argument_values = step.script_argument_values_display%>
      <% unless step.script_type == "BladelogicScript" %>
        <div style='float:right;margin-right:20px'>
          <%=render :partial => 'steps/display_script_paramter_options', :locals => {:script => step.script, :step => step, :installed_component => step.installed_component, :argument_values => argument_values, :output_parameters => true}%>
        </div>
      <%end%>
      <div class="script_arguments">
        <h3>Automation: <%= step.script.name %></h3>
        <h3>Script Arguments:</h3>
        <% unless step.script_type == "BladelogicScript" %>
          <div id='step_output_area'>
            <%=render :partial => 'steps/step_script', :locals => {:script => step.script, :step => step, :installed_component => step.installed_component, :argument_values => argument_values, :output_parameters => true}%>
            <%= javascript_tag("render_output_step_view('Output');")%>
          </div>
        <% else %>
          <table class="argument_table">
            <% step.script.arguments.each do |argument| %>
              <tr>
                <th>
                  <div><%= argument.argument %></div>
                </th>
                <% if step.script_argument_value(argument).blank? %>
                  <td class="no_value">No value provided</td>
                <% else %>
                  <%step_arguments = step.script_argument_value(argument).is_a?(Array) ? step.script_argument_value(argument).flatten.first : step.script_argument_value(argument)%>
                  <td><%= argument.is_private ? "&lt;private&gt;" : script_argument_value_output_display(step, argument)  %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <%end%>
      </div>
    <% end %>
   <% else %>
   <br class="clear" />
      <table class="head_automation_table">
        <tbody>
          <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
          <tr>
            <!--div class="form_column left left_column"-->
            <% if GlobalSettings.automation_available? || GlobalSettings[:bladelogic_enabled] == true %>
              <!--div class="field"-->
              <td>Step Action</td>
              <td colspan="2">
                <% if step.installed_component.nil? && step.package.nil? %>
                  <%= select_tag "automation_type",
                                 options_for_select(Script.automation_popup, (step.script_type.nil? ? "none" : step.script_type)),
                                 :disabled => true
                  %>
                <% else %>
                  <%= select_tag "automation_type",
                                 options_for_select(Script.automation_popup, (step.script_type.nil? ? "none" : step.script_type)),
                                 disabled: step.protect_automation? || disable_automation_tasks?(step)
                  %>
                  <%= hidden_field_tag 'automation_type', step.script_type if step.protect_automation? || disable_automation_tasks?(step)  %>
                <% end %>
              </td>
              <!--/div-->
              <!--/div-->
              <td style="<%= (step.script_id.nil? ? "display: none;" : "") %>" id="script_fields_label">Task</td>
              <!--div class="form_column" style="padding-top:10px;"-->
              <!--div class="field"-->
              <td colspan="2" id="script_fields" style="<%= (step.script_id.nil? ? "display: none;" : "") %>;">
                <%= f.collection_select :script_id,
                                        step.script_type.nil? ? Script.unarchived.visible.sorted : find_scripts(step),
                                        :id, :name, {:prompt => true},
                                        {:disabled => step.protect_automation? || !step.enabled_editing?(current_user) }
                %>
                <%= f.hidden_field :script_id if !step.enabled_editing?(current_user) || step.protect_automation? %>
              </td>
              <!--/div-->
              <!--/div-->
            <% end %>
          </tr>
        </tbody>
      </table>
      <br class="clear" />
      <% if local_assigns[:request]%>
      <span class="step_auto_only" >
        <!--h4 style="<%= "display: none;" unless step.script %>" class='step_auto_only'><a href="#" id="script_heading" class="collapsible_section_heading">Automation</a></h4-->
        <div id="script_section" style="">
          <%if step.script_type == "BladelogicScript" %>
            <%= render :partial => 'steps/bladelogic/step_script', :locals => { :script => step.script, :step => step, :installed_component => step.installed_component, :argument_values => step.script_argument_values_display } %>

          <%else%>
            <%if GlobalSettings.automation_available?%>
              <%= render :partial => 'steps/step_script', :locals => { :script => step.script, :step => step, :installed_component => step.installed_component, :argument_values => step.script_argument_values_display } %>
            <%end%>
          <%end%>
        </div> <!-- /div#script_section -->
      </span>
      <% end %>
      <%= javascript_tag do %>
        if($('#argument_grid').length > 0) {
          $('#argument_grid').data('step_obj', JSON.parse("<%= j step.to_json.html_safe %>"));
        }
      <% end %>
      <%= javascript_tag("updateforall_loaded_properties();") %>
      <%= javascript_tag("updateTargetArgumentId();triggerResourceAutomation();") %>
  <% end %>
<% end %>
