<% if can? :view_step_properties_tab, association_or_new_instance(step, :request) %>
  <% if @display_only && !step.enabled_editing?(current_user) %>
    <div id="properties_section" >
      <div id="properties_container">
        <div class="results" style="float: none; clear: both;">
          <% unless step.installed_component.nil? || step.installed_component.properties.active.select { |field| field.entry_during_step_execution_on_task?(step.work_task) }.empty? %>
            <h3>Property Value Results</h3>
            <div id="view_property_results<%= step.id %>_section" class="view_properties_section">
              <%= render :partial => 'steps/step_rows/property_results', :locals => { :step => step } %>
            </div>
          <% end %>
          <!-- I AM NOT SURE IF FOLLOWING CODE BLOCK IS STILL VALID? -->
          <% if step.owner == current_user && !step.bladelogic_password_available? %>
            <div class="field left">
              <label for="step_bladelogic_password">BladeLogic password:</label>
              <%= password_field_tag 'step[bladelogic_password]', step.bladelogic_password, :id => 'step_bladelogic_password' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div id="properties_section" >
      <div id="properties_container">
        <% if step.installed_component %>
          <%= render :partial => 'steps/property_values',
            :locals => { :request => request, :step => step, :installed_component => step.installed_component, :work_task => step.work_task, :disable_fields => @disable_fields} %>
        <% end %>
      </div>
    </div>
  <%= javascript_tag("updateforall_loaded_properties()") %>
  <% end %>
<% end %>
