<!--h4><a href="#" id="promotion_area_heading" class="collapsible_section_heading" style="<%#= step.new_record? ? 'display:none' : '' %>">Promotion</a></h4-->
<div id="promotion_section" style="<%= step.new_record? ? 'display:none' : '' %>">
  <h3 class="margin_bottom_0">
    Plan: <%= step.request.plan.nil? ? "n/a" : step.request.plan.name %>&nbsp;||&nbsp;App: <%= step.request.app_name %>&nbsp;||&nbsp;Route: <%= "Calculate Route" %>
  </h3>
  <% if step.design_state? %>
    <br>
    <div class="field">
        <%= f.check_box :allow_unattended_promotion, class: 'normal' %>
        <%= f.label :allow_unattended_promotion, 'Unattended promotion', class: 'normal' %>
    </div>
  <% else %>
    <% # Build the route selection table here %>
  <% end %>

</div>
<!-- /div# promotion_area_section -->
