<div id="deployment_window_series_list">
  <table class="server_side_tablesorter tablesorter formatted_table"
         summary="<%= deployment_window_series_occurrences_path(@series, params.merge({scope: :unarchived, order: @filter_params[:order]})) %>">
    <thead>
      <tr>
        <th headers="position">Occurrence number</th>
        <th headers="start_at">Start</th>
        <th headers="finish_at">Finish</th>
        <th>Environments</th>
        <th>Changes</th>
      </tr>
    </thead>
  <tbody>
  <% @occurrences.each do |occurrence| %>
    <tr>
      <td><%= occurrence.position %></td>
      <td><%= occurrence.start_at.strftime(GlobalSettings['default_date_format']) %></td>
      <td><%= occurrence.finish_at.strftime(GlobalSettings['default_date_format']) %></td>
      <td class="environments" title="<%= occurrence.environments.map(&:name).join(', ') %>">
        <%= hidden_field_tag('schedule_request_url', schedule_from_event_requests_path) %>
        <%= occurrence_environments_links(occurrence, current_user) %>
      </td>
      <td><%= display_state(occurrence) %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
  <%= will_paginate @occurrences, class: 'server_side_tablesorter_pagination' %>
</div>
