<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr id='package_content_<%= package_content.id %>' <%= tag_options({:class => cycle('', 'alt')+"#{' package_content_row' unless archived}"}, false) %>>
  <td>
    <%= link_to_if can?(:edit, package_content), h(package_content.name), edit_package_content_path(package_content) %>
  </td>
  <td>
    <%= link_to_if can?(:edit, package_content), h(package_content.abbreviation), edit_package_content_path(package_content) %>
  </td>
  <td><%= "#{package_content.count_of_associated_requests} | #{package_content.count_of_associated_request_templates}" %></td>
  <td>
    <% unless archived %>
      <% if can?(:edit, package_content) %>
        <%= link_to I18n.t(:edit), edit_package_content_path(package_content), class: 'edit_package_content' %>
      <% end %>

      <% if package_content.can_be_archived? && can?(:archive_unarchive, package_content) %>
        &nbsp;|&nbsp;
        <%= link_to I18n.t(:archive), archive_package_content_path(package_content), method: :put, class: 'archive_package_content' %>
      <% end %>
    <% else %>
      <% if can?(:archive_unarchive, package_content) %>
        <%= link_to I18n.t(:unarchive), unarchive_package_content_path(package_content), method: :put, class: 'archive_package_content' %>
      <% end %>

      <% if can?(:delete, package_content) %>
        &nbsp;|&nbsp;
        <%= link_to I18n.t(:delete),  package_content, method: :delete, confirm: "Are you sure you want to delete the package content?", class: 'delete_package_content' %>
      <% end %>
    <% end %>
  </td>
</tr>
