<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% backlink = manage_metadata_path %>
<% title = 'Package Contents' %>
<% page_settings :title => title %>
<% content_for :head do %>
  <%= static_javascript_include_tag 'drag_and_drop/draggable_object', 'drag_and_drop/table_drop_zone' %>
  <%= static_javascript_include_tag 'drag_and_drop/jquery.ui.core', 'drag_and_drop/jquery.ui.widget', 'drag_and_drop/jquery.ui.mouse', 'drag_and_drop/jquery.ui.draggable' %>
<% end %>

<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>

<% content_for :sidebar do %>
  <% if can?(:create, PackageContent.new) %>
    <%= button_to 'Create Package Content', new_package_content_path, :method => :get, :class => 'button create_package_content' %>
  <% end %>
<% end %>

<%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>

<br class='clear'/>

<% if can?(:list, PackageContent.new) %>
  <div id="package_contents">

    <% if @package_contents.empty? %>
      <div class='blank_data_msg'>
        There are no package contents at this time.
      </div>
    <% else %>
      <%= render :partial => 'environments/metadata_pagination', :locals => { :metadata_model => @package_contents,:metadata_type => 'package_content', :position => 'unarchived' } %>
      <table class='formatted_table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th title='Count of associated Requests and Request Templates'>#Requests | #Request Templates</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @package_contents.each do |package_content| %>
            <%= render :partial => 'package_content', :locals => { :package_content => package_content,:archived => false } %>
          <% end %>
        </tbody>
      </table>
      <% form_tag reorder_package_contents_path, :method => :put, :id => 'reorder_package_contents' do %>
        <!--  -->
      <% end %>
    <% end %>
    <% unless @archived_package_contents.empty? %>
      <h3><%= I18n.t(:archived) %></h3>
      <%= render :partial => 'environments/metadata_pagination', :locals => { :metadata_model => @archived_package_contents,:metadata_type => 'package_content', :position => 'archived' } %>
      <table class='formatted_table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th title='Count of associated Requests and Request Templates'>#Requests | #Request Templates</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @archived_package_contents.each do |package_content| %>
            <%= render :partial => 'package_content', :locals => { :package_content => package_content,:archived => true } %>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
<% end %>
