<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<script type="text/javascript">
  $(document).ready(function() {
    $('#server_level_id').change(function() {
      $('#level_' + $(this).find(':selected').val()).show().removeAttr('disabled');
      $(this).find(':not(:selected)').each(function() {
        $('#level_' + $(this).val()).hide().attr('disabled', 'disabled');
      });
    }).change();

    $('form#update_servers').submit(function() {
      var form = $(this);
      var comp_ids = new Array();

      $('#installed_components_' + <%= @application_environment.id.to_json %>).find('input.installed_component_ids:checked').each(function() {
        form.append('<input name="installed_component_ids[]" type="hidden" value="' +  $(this).val() + '" />');
        comp_ids.push($(this).val());
      });
      form.ajaxSubmit({ dataType: 'json', success:function(json) {
		$.each(comp_ids, function(index, comp_id) {
	      $("#installed_component_"+comp_id).find('td[class=server_associations_name_list]').html(truncate(json[comp_id], 25));
$("#installed_component_"+comp_id).find('td[class=server_associations_name_list]').attr('title',json[comp_id]);	
	    });
	  $.facebox.close() }});
      return false;
    });
  });
</script>
<%= form_tag update_servers_installed_components_path, :id => 'update_servers', :class => 'cssform' do %>
  <div class="field">
    <label for="server_level_id">Server Type</label>
    <%= select_tag :server_level_id, options_from_collection_for_select(@available_server_associations.keys, :id, :name) %>
  </div>
  <% @available_server_associations.each do |level, servers| %>
    <div id="level_<%= level.id %>">
      <div class="field">
        <label for="server_ids_to_add_">Server Associations to Add</label>
        <%= select_tag 'server_ids_to_add[]', options_from_collection_for_select(servers, :id, :path_string), :multiple => true, :style => "width: auto" %>
      </div>
      <div class="field">
        <label for="server_ids_to_remove_">Server Associations to Remove</label>
        <%= select_tag 'server_ids_to_remove[]', options_from_collection_for_select(servers, :id, :path_string), :multiple => true, :style => "width: auto" %>
      </div>
    </div>
  <% end %>

  <div class="button_bar"><%= submit_tag 'Update', :class => "button", :confirm => "#{t :new_servers_assigments_for_steps_confirmation}" %></div>
<% end %>
