<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<h2><%= truncate((h @installed_component.name), :length => 30) %> in <%= truncate(@installed_component.environment.name, :length => 10) %></h2>
<div id="steps_using_components">&nbsp;</div>
<!--<div class="facebox_scroll">-->
<%= form_for @installed_component, :remote=> true, :url => app_installed_component_path(@app, @installed_component), :html => {:rel => "direct_submit", :class=> "cssform"} do |f| %>
  <%= hidden_field_tag "save_anyway" %>
  <fieldset>
      <div class="field">
          <div class="property_label">
            <%= f.label :version %>
          </div>
          <% if GlobalSettings.limit_versions? %>
            <%= f.collection_select :version, @installed_component.version_tags.unarchived, :name, :name, {:include_blank => true} %>
          <% else %>
            <%= f.text_field :version, :class => 'initialFocus', :size => "37", :style => "width:243px" %>
          <% end %>
      </div>
  </fieldset>
  <fieldset>
    <%= render :partial => 'installed_components/property_values', :locals => { :installed_component => @installed_component, :work_task => nil } %>
  </fieldset>

  <fieldset>
    <% selected_association = selected_server_association_type(@installed_component, @available_server_associations.keys) %>
    <div class="field">
        <div class="property_label">
            <label for="server_association_type">Associate with:</label>
        </div>
        <%= select_tag 'server_association_type',
          options_for_select([['Server', 'server'], ['Server Group', 'server_group'], ['Server Level Group', 'server_aspect_group']] +
                             @available_server_associations.keys.map { |server_level| [server_level.name, "server_level_#{server_level.id}"] },
                             selected_association), :style => "width:243px"
        %>
    </div>
    <div id="server" class="field server_association" <%= "style=\"display: none;\"".html_safe unless selected_association == 'server'%>>
        <div class="property_label">
            <%= f.label :server_ids, "Server" %>
        </div>
        <% if @servers.blank? %>
            <div class="fl pt_2">No Servers Found</div>
        <% else %>
            <%= f.collection_select :server_ids, @servers, :id, :name, {}, :multiple => true, :style => "width:243px!important;" %>
        <% end %>
    </div>
    <div id="server_group" class="field server_association" <%= "style=\"display: none;\"".html_safe unless selected_association == 'server_group'%>>
      <div class="property_label">
        <%= f.label :default_server_group_id, "Server Group" %>
      </div>
      <% if @server_groups.blank? %>
        <div class="fl pt_2">No Server Groups Found</div>
      <% else %>
        <%= f.collection_select :default_server_group_id, @server_groups, :id, :name %>
      <% end %>
    </div>
    <div id="server_aspect_group" class="field server_association" <%= "style=\"display: none;\"".html_safe unless selected_association == 'server_aspect_group'%>>
        <div class="property_label">
            <%= f.label :server_aspect_group_ids, "Server Level Group" %>
        </div>
        <% if @server_aspect_groups.blank? %>
            <div class="fl pt_2">No Server Aspect Groups Found</div>
        <% else %>
            <%= f.collection_select :server_aspect_group_ids, @server_aspect_groups, :id, :name, {}, :multiple => true, :style=> "width:243px" %>
        <% end %>
    </div>

    <% @available_server_associations.each do |server_level, assocs| %>
      <div id="server_level_<%= server_level.id %>"
           class="field server_association"
           <%= "style=\"display: none;\"".html_safe unless selected_association == "server_level_#{server_level.id}" %>
      >
        <div class="property_label">
            <label><%= h server_level.name %></label>
        </div>
        <% if assocs.blank? %>
            <div class="fl pt_2">No <%= server_level.name %> Found</div>
        <% else %>
            <%= f.collection_select :server_aspect_ids, assocs, :id, :path_string, {}, :multiple => true %>
        <% end %>
      </div>
    <% end %>
  </fieldset>

  <div class="button_bar"><%= f.submit :confirm => "#{t :new_servers_assigments_for_steps_confirmation}" %></div>
<% end %>
<!--</div>-->
