<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= form_for @server_aspect_group, :html => {:class => 'cssform ajax' } do |f| %>
 <%= error_messages_for :server_aspect_group %>
 <%= hidden_field_tag :page, params[:page] %>
 <%= hidden_field_tag :key, params[:key] %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :server_level_id, "Server Level" %>
    <%= f.collection_select :server_level_id, ServerLevel.order("server_levels.name"), :id, :name, {}, :id => "server_level_id" %>
  </div>

  <div class="field">
    <%= f.label :server_aspect_ids, "Server Aspects" %>
    <%= select_tag 'server_aspect_group[server_aspect_ids][]', '', :multiple => true, 
                   :id => 'server_aspect_ids', :class => 'use_remote_options', :rel => 'server_level_id' %>
    <%= hidden_field_tag 'server_aspect_ids_url', server_aspect_options_server_aspect_groups_path %>
    <%= hidden_field_tag 'multiple_selected_server_aspect_ids', @server_aspect_group.server_aspect_ids.to_json %>
  </div>

  <% if @server_aspect_group.new_record? %>
    <%= submit_tag 'Create Server Level Group',:class =>'button' %>
  <% else %>
    <%= submit_tag "Update #{h @server_aspect_group.name}",:class =>'button' %>
  <% end %>

  or <%= link_to 'cancel', server_aspect_groups_path(:page => params[:page], :key => params[:key]), :class => 'ajax' %>

<% end %>
