<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id= "server_aspect_groups">
  <div class= "server_search">
    <%= search_box("/environment/server_aspect_groups") %>
  </div>
  <div class= "line_h_20px">
    <%= render :partial => "/shared/alphabetical_pagination", :locals => {:path => server_aspect_groups_path, :class_name => "server_aspect_groups"} %>
  </div>
  <table class="index_table formatted_table" style="clear:left">
    <thead>
      <tr>
        <th>Name</th>
        <th>Server Level Instances</th>
      </tr>
    </thead>
    <%- unless @server_aspect_groups.blank?  %>
    <tbody>
      <% @server_aspect_groups.each do |group| %>
        <tr class="<%= cycle '', 'alt' %>">
          <td><%= link_to_if can?(:edit, group), index_title(h(group.name)), edit_server_aspect_group_path(group, :page => params[:page], :key => params[:key]), :class => 'ajax' %></th>
          <td><%= name_list_sentence group.server_aspects %></td>
        </tr>
      <% end %>
    </tbody>

    <% else %>
      <tr>
          <td colspan="5">
              No Results Found
          </td>
      </tr>
    <% end %>
  </table>
  <div class= "line_h_20px">
    <%= render :partial => "/shared/alphabetical_pagination", :locals => {:path => server_aspect_groups_path, :class_name => "server_aspect_groups"} %>
  </div>
</div>
