<div class="event_popups_container">
  <h2>Edit Deployment Window</h2>
  <p title="<%= event.series.name %>"><b>Name:</b> <%= truncate(event.series.name, length: 50) %></p>
  <p><b>Behavior:</b> <%= event.series.behavior %></p>
  <p><b>DWS Date Range:</b> <%= event.series.start_at.strftime('%d/%m/%Y %l:%M %p') %> - <%= event.series.finish_at.strftime('%d/%m/%Y %l:%M %p') %></p>
  <% if event.series.recurrent? %>
    <p><b>DWS Occurrence Date range:</b> <%= event.occurrence.start_at.strftime('%d/%m/%Y %l:%M %p') %> - <%= event.occurrence.finish_at.strftime('%d/%m/%Y %l:%M %p') %></p>
    <p><b>Frequency:</b> <%= event.series.schedule.rrules.first.to_s %></p>
  <% end %>
  <p><b>Environment:</b> <%= event.environment.name %></p>
  <% if can?(:move, event.series) && !event.suspended? %>
    <%= link_to 'Move', popup_deployment_window_event_path(event, popup_type: 'move'), remote: true %> |
  <% end %>

  <% if can?(:suspend_resume, event.series) %>
    <%= link_to 'Suspend/Resume', popup_deployment_window_event_path(event, popup_type: 'suspend'), remote: true %>
  <% end %>
  <span id="edit-series-link">
    | <%= link_to 'Edit Series', edit_deployment_window_series_path(event.series, return_to: 'calendar') %>
  </span>
</div>
