<h2>Schedule Request</h2>

<% if flash[:warning] %>
  <div class="bg-warning">
    <p class="bold"><%= flash[:warning] %></p>
  </div>
<% end %>

<h3>Request Information :</h3>

<%= form_for request, url: create_from_event_requests_path, remote: true, html: {class: 'schedule_request cssform'} do |f| %>
  <div class="field">
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
  </div>
  <%= render partial: 'requests/request_popup/plan' %>

  <div class="field">
    <%= f.label "Application*:" %>
    <%= f.select :app_ids, event.environment.apps.map{ |app| [app.name, app.id] }, {include_blank: true}, class: "required" %>
  </div>

  <div class="field">
    <%= f.label "Environment:" %>
    <%= event.environment.name %>
    <%= f.hidden_field :environment_id, value: event.environment.id  %>
  </div>

  <div class="field">
    <%= f.label "Deployment Window:" %>
    <span title="<%= event.name %>"><%= "#{truncate(event.name, length: 30)}:" %></span>
    <span><%= "#{event.start_at.strftime(GlobalSettings[:default_date_format])} - #{event.finish_at.strftime(GlobalSettings[:default_date_format])}" %></span>
    <%= f.hidden_field :deployment_window_event_id %>
  </div>

  <%= render partial: 'requests/request_popup/estimate', locals: {f: f} %>
  <%= render partial: "requests/request_popup/scheduled_at", locals: {f: f} %>

  <div id="request_template_warning"></div>

  <div class="field">
    <%= f.label "Request Template:" %>
    <%= f.select :request_template_id, [] %>
  </div>

  <div class="button_bar">
    <div class="right">
      <%= submit_tag "Schedule", data: { disable_with: "Schedule" } %>
      <input type="submit" value="Cancel" class="button-cancel" />
    </div>
    <br clear="all">
  </div>
<% end %>

<%= static_javascript_include_tag 'schedule_request_from_event' %>
