<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2014
   # All Rights Reserved.
   ################################################################################
%>
<% page_settings :title => 'Create Component' %>
<% content_for :page_section do %>
    <%= render :partial => 'account/environment_tabs', :locals => {:selected => 'components'} %>
<% end %>
<% content_for :sidebar do %>
    <span></span>
<% end %>
<h3 class='no_margin servers_h2'>Create Component</h3>
<%= form_for @component, :html => {:class => 'cssform'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class='field'>
      <%= f.submit I18n.t(:create), :class => "button" %>
      or
      <%= link_to 'cancel', components_path(:page => params[:page], :key => params[:key]) %>
    </div>
<% end %>

