<div class="field stitched_date" id="template_scheduled_at">
  <%= f.label :scheduled_at_date, 'Planned Start:' %>
  <div class="planned-start-wrapper">
    <%= f.text_field :scheduled_at_date, :value => default_format_date(@request.scheduled_at), id: 'popup_request_scheduled_at_date', :class => :date %>
    &nbsp;at
    <%= f.select :scheduled_at_hour, %w{ 01 02 03 04 05 06 07 08 09 10 11 12 }, {:include_blank => true}, id: 'popup_request_scheduled_at_hour', :class => 'hour' %>
    :
    <%= f.select :scheduled_at_minute, (0..59).map {|n| "%02d" % n}, { :include_blank => true}, id: 'popup_request_scheduled_at_minute', :class => 'minute' %>
    <%= f.select :scheduled_at_meridian, %w{ AM PM }, { :include_blank => true }, id: 'popup_request_scheduled_at_meridian', :class => 'meridian'  %>
  </div>
</div>
