<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
<div id='request_templates'>
  <% unless false #@active_request_templates.blank? %>
    <div class='line_h_20px'><%= render 'shared/alphabetical_pagination',
                                        path: request_templates_path(request: {app_ids: @app_id, id: @request_id}, order: @order),
                                        class_name: 'request_templates',
                                        link_class: 'server_side_tablesorter_pagination' %></div>
    <%= render 'request_templates/index',
               request_templates: @request_templates, archived: false, request: {app_id: @app_id} %>
    <div class='line_h_20px'><%= render 'shared/alphabetical_pagination',
                                        path: request_templates_path(request: {app_ids: @app_id, id: @request_id}, order: @order),
                                        class_name: 'request_templates',
                                        link_class: 'server_side_tablesorter_pagination' %></div>
  <% else %>
    <p>&nbsp;</p>
    No Active Request Template Found
  <% end %>

  <% if @inactive_request_templates.present? %>
    <br>
    <h3><%= I18n.t(:archived) %></h3>
    <div class='line_h_20px'><%= render 'shared/alphabetical_pagination',
                                        path: request_templates_path(request: {app_ids: @app_id, id: @request_id}, order: @order),
                                        class_name: 'request_templates',
                                        unarchived: true,
                                        link_class: 'server_side_tablesorter_pagination' %></div>
    <%= render 'request_templates/index',
               request_templates: @inactive_request_templates, archived: true, request: {app_id: @app_id} %>
    <div class='line_h_20px'><%= render 'shared/alphabetical_pagination',
                                        path: request_templates_path(request: {app_ids: @app_id, id: @request_id}, order: @order),
                                        class_name: 'request_templates',
                                        unarchived: true,
                                        link_class: 'server_side_tablesorter_pagination' %></div>
  <% end %>
</div>

