<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
<% if @request_templates.empty? %>
  <br>
  <%= 'No Requests templates found.' %>
<% else %>
  <div id='request_templates'>
    <table <%= tag_options({id: "request_templates_pagination_#{@page}"}, false) %>>
      <tbody>
        <tr>
          <td <%= tag_options({colspan: 3}, false) %>>
            <div id='my_data_pagination' rel='request_templates'>
              <%= will_paginate(@request_templates,
                                class: 'my_data_pagination server_side_tablesorter_pagination',
                                rel: 'request_templates')
              %>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class='cont_horizontal_scroll'>
      <table class='tablesorter server_side_tablesorter tbl_fix formatted_table'
             <%= tag_options({id: "request_templates_#{@page}"}, false) %>
             summary="<%= details_request_templates_path(position: 'unarchived',
                                                         format: 'html',
                                                         request: @request,
                                                         numeric_pagination: true,
                                                         visible_only: 'draft',
                                                         page: @page,
                                                         per_page: @per_page,
                                                         partial: 'list_details',
                                                         order: @order) %>"
      >
        <thead>
          <tr>
            <th headers="name" class='header headerSortDown' colspan='0' width='200'>
              Available Templates
            </th>
            <th headers="app" colspan='0' width='125'>
              Application
            </th>
            <th colspan='0' headers="status" width='80'>
              Status
            </th>
            <th colspan='0' width='115'>
              Created at
            </th>
            <th colspan='0' width='130'>
              Process
            </th>
            <th colspan='0' width='30'>
              Steps
            </th>
            <th colspan='0' width='450'>&nbsp;</th>
          </tr>
        </thead>
        <%= render 'request_templates/list_details', request_templates: @request_templates %>
      </table>
    </div>
  </div>
<% end %>
