<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
Include:&nbsp;
<%= check_box_tag "include[all]", 1, true, :id => "include_all_#{template.id}" %>
<label <%= tag_options({:for => "include_all_#{template.id}"}, false) %>>
  all
</label>
<%= check_box_tag "include[version]", 1, false, :id => "include_version_#{template.id}" %>
<label <%= tag_options({:for => "include_version_#{template.id}"}, false) %>>
  versions
</label>
<%= check_box_tag "include[users]", 1, false, :id => "include_users_#{template.id}" %>
<label <%= tag_options({:for => "include_users_#{template.id}"}, false) %>>
  assignments
</label>
