<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
<% if @request_template.present? %>
  <div class='content'>
    <div class='edit_in_place' style='top:5px;'>
      <span class='show'><%= h(@request_template.name) %></span>
      <%= form_for @request_template, :html => {:class => 'editable inline'} do |f| %>
        <%= f.error_messages %>
        <%= f.text_field :name, :size => 15 %>
        <%= submit_tag 'Save',:class =>"button" %>
        <span class='small'>
          or <%= link_to "cancel", "#", :class => 'cancel' %>
        </span>
      <% end %>

      <%= link_to "rename", '#', :class => 'activate small' %>
      <p></p>
    </div>
    <p>Created by:<%=@request_template.created_string.gsub(" on "," on ").html_safe %><br>
    Last Modified: <%=@request_template.updated_at.try(:default_format_date_time) %></p>
</div>
<% end %>
