<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>
<%= render 'heading' %>
<% unless @templates.empty? %>
  <table cellspacing='0'>
    <thead>
      <tr>
        <th colspan='0'>
          Available Templates for
          <%= @app.name %>
          on
          <%= @environment.name %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @templates.each do |template| %>
        <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
          <td>
            <%= template.name %>
          </td>
          <td>
            <%= form_tag create_from_template_requests_path do %>
              <%= hidden_field_tag :request_template_id, template.id %>
              <%= submit_tag 'Use This Template',:class =>'button' %>
              <%= check_box_tag "include[version]", 1, false, :id => "include_version_#{template.id}" %>
              <label <%= tag_options({:for => "include_version_#{template.id}"}, false) %>>
                preserve versions
              </label>
              <%= check_box_tag "include[users]", 1, false, :id => "include_users_#{template.id}" %>
              <label <%= tag_options({:for => "include_users_#{template.id}"}, false) %>>
                preserve assignments
              </label>
              <%= check_box_tag "include[all]", 1, false, :id => "include_all_#{template.id}" %>
              <label <%= tag_options({:for => "include_all_#{template.id}"}, false) %>>
                preserve all data
              </label>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
