<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= form_for(@request_template, :url => save_variant_request_templates_path) do |f| %>
  <table cellspacing='0'>
    <tr>
      <td>
        <%= f.label :name, "Select Activity" %>
      </td>
      <td>
        <%= select_tag(:teams, options_from_collection_for_select(@teams, :id, :name)) %>
      </td>
    </tr>
  </table>
  <%= hidden_field_tag :team_name %>
  <%= hidden_field_tag :request_template_id, params[:request_template_id] %>
  <%= hidden_field_tag :request_id, params[:request] %>
  <%= submit_tag "Create Request Template Variant",:class =>'button', :onClick => "setTeamName()" %>
<% end %>

