<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% backlink = manage_metadata_path %>
<% title = "Request Templates" %>
<% page_settings :title => title %>
<% content_for :page_section do %>
<%= static_javascript_include_tag 'requests' %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>

<% content_for :sidebar do %>
  <span></span>
<% end %>

<%= render partial: 'environments/metadata_heading', locals: { backlink: backlink, title: title} %>

<div class='server_search'>
  <%= search_box("/request_templates") %>
</div>

<div id='search_result'>
  <%= render partial: "request_templates/ajax_pagination_index" %>
</div>
