<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<div id="edit_chart_details">
	<h2><nobr>Edit Property Values for <%= h @server_level.name.singularize %>: <%= h @server_aspect.name %></nobr></h2>
	<%= form_tag update_property_values_server_level_server_aspect_path(@server_level, @server_aspect), :method => :put, :class => 'cssform ajax' do %>
	  <% @server_aspect.properties.active.each do |property| %>
	    <div class="field">
	      <%= property_value_input 'property_values', property, property.literal_value_for(@server_aspect) %>
	    </div>
	  <% end %>
        <div class="button_bar">
	  <%= submit_tag "Update values",:class =>'button' %>
        </div>
	<% end %>
</div>
