<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
<h1>Scheduled jobs:</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Category</th>
    <th>Status</th>
    <th>Owner</th>
    <th>Planned at</th>
    <th>Log</th>
    <th></th>
  </tr>

<% @scheduled_jobs.each do |scheduled_job| %>
  <tr>
    <td>
      <!-- Scheduled job id: <%= scheduled_job.id %> -->
      <%= resource_name_with_link(scheduled_job) %>
    </td>
    <td>
      <%= scheduled_job.resource_type %>
    </td>
    <td>
      <%= scheduled_job.status %>
      <!--
      Job name: '<%= scheduled_job.job_name %>'
      <% if scheduled_job.status == 'Scheduled' %>
        <%= (@service_hash.key? scheduled_job.job_name) ? ' present at service' : '' %>
      <% end %>
      -->
    </td>
    <td>
      <%= name_of(scheduled_job.owner) %>
    </td>
    <td>
      <%= scheduled_job.planned_at %>
    </td>
    <td>
      <%= scheduled_job.log %>
    </td>

    <td><%= link_to 'Show', scheduled_job %></td>
  </tr>
<% end %>
</table>

<hr>

<h1>Service jobs:</h1>
<table>
  <tr>
    <th>Job name</th>
    <th>Description</th>
  </tr>
  <% @service_hash.each do |_, service_job| %>
    <tr>
      <td>
        <%= service_job.name %>
      </td>
      <td>
        <%= service_job.description %>
      </td>
    </tr>
  <% end %>
</table>
