<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% f.fields_for :package_template_items  do |pti_f| %>
  <table <%= tag_options({:cellspacing => "0", :rel => "pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}", :class => "templateItemforms"}, false) %>>
    <thead>
      <tr>
        <td <%= tag_options({:colspan => 7}, false) %>>
          <h3 class='fl'><%= pti_f.object.new_record? ? "Adding Item #{@package_template.item_count}" : "Editing #{pti_f.object.try(:name)}" %></h3>
          <%= pti_f.hidden_field :id %>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align='right' width='150'><%= pti_f.label :item_type %></td>
        <td><%= pti_f.select :item_type, PackageTemplateItem::ItemTypes, {}, { :id => "package_template_item_type#{pti_f.object.id}", :for => 'Command', :onchange => "changeTemplateItemForm($(this).val(), 'pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}');", :disabled => !pti_f.object.new_record?} %></td>
        <td <%= tag_options({:class => "2_pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}", :align => "right"}, false) %>><%= pti_f.label  :component_template_id %></td>
        <td <%= tag_options({:class => "2_pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}"}, false) %>><%= pti_f.select :component_template_id, @app.component_templates.active.collect { |ct| [ct.name, ct.id ] }, { :include_blank => "Select" }, { :onchange => "loadComponentProperties($(this))", :rel => "Ct-pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}", :class => "Ct-pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}" } %></td>
      </tr>
      <tr <%= tag_options({:class => "2_pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}"}, false) %>>
      </tr>
      <tr>
        <td align='right'><%= pti_f.label :name %></td>
        <td><%= pti_f.text_field :name %></td>
        <td align='right'><%= pti_f.label :description %></td>
        <td><%= pti_f.text_area :description %></td>
      </tr>
    </tbody>
  </table>
  <%= pti_f.hidden_field :should_save, :value => (pti_f.object.new_record? ? 'no' : 'yes'), :id => "template_item_id#{pti_f.object.id}" %>
  <%= render :partial => 'package_templates/template_items/forms/component_instance', :locals => { :f => pti_f } %>
  <%= render :partial => 'package_templates/template_items/forms/command_instance', :locals => { :f => pti_f } %>
  <%= javascript_tag("changeTemplateItemForm('#{pti_f.object.try(:item_type)}', 'pk_#{@package_template.try(:id)}_item_#{pti_f.object.try(:id)}');") %>
<% end %>
