<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='clear'></div>
<div class='modify_assignment' id='versions_by_app_map'>
  <table class='formatted_table' style='width:100% !important'>
    <thead>
      <tr>
        <th>Step</th>
        <th>Name</th>
        <th>User/Group</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @step_ids.each do |step_id| %>
        <tr <%= tag_options({:class => "#{cycle('', 'alt' )}"}, false) %>>
          <td><%= find_step_from_hash(step_id).number %></td>
          <td><%= @step.name %></td>
          <td class='owner_type'><%= @step.owner_type %></td>
          <td class='owner_name'><%= @step.owner_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='divider'></div>
<div class='gray_text' id='versions_by_app_map'>New</div>
<div class='clear'></div>
<div class='field'>
  <%= label_tag "assigned_to" %>
  <%= select_tag "step[owner_type]",  options_for_select([["Select",""], ["User", "User"], ["Group", "Group"]]), :onchange => "display_owner_id_list($(this))" %>
  <span class='owner_type_span'></span>
</div>
<div class='field'>
  <%= label_tag "Name" %>
  <%= select_tag  "step[owner_id]", "<option value=''>Select</option>", :class => "default_select" %>
  <% unless  common_owner_type_of(@steps) %>
    <span class='default_select_span'>varies</span>
  <% end %>
  <%= select_tag "step[owner_id]",  ("<option value=''>Select</option>" +  options_for_select(@users.collect{|u|[u.name_for_index, u.id]},  :selected =>  common_attribute_id_of(@steps, 'owner_id'))).html_safe, :class => "User", :style => "display:none;", :disabled => true %>
  <span class='User user_span' style='display:none;'></span>
  <%= select_tag "step[owner_id]",  ("<option value=''>Select</option>" +  options_for_select(@groups.collect{|g|[g.name, g.id]}, :selected =>  common_attribute_id_of(@steps, 'owner_id'))).html_safe, :class => "Group", :style => "display:none;", :disabled => true %>
  <span class='Group group_span' style='display:none;'></span>
</div>
<%= hidden_field_tag "original_assignment", "#{@owner_type_of_selected_steps}_#{common_attribute_id_of(@steps, :owner_id)}" %>
<%= javascript_tag("DisplayAssignmentForSameOwnerType('modify_assignment')") %>
<%= javascript_tag("AddLabelForSelectLists('modify_assignment')") %>
