<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='clear'></div>
<div class='modify_task_phase' id='versions_by_app_map'>
  <table class='formatted_table' style='width:100% !important'>
    <thead>
      <tr>
        <th>Step</th>
        <th>Name</th>
        <th>Task</th>
        <th>Phase</th>
      </tr>
    </thead>
    <tbody>
      <% @step_ids.each do |step_id| %>
        <tr <%= tag_options({:class => "#{cycle('', 'alt' )}"}, false) %>>
          <td><%= find_step_from_hash(step_id).number %></td>
          <td><%= @step.name %></td>
          <td class='task_name'><%= @step.work_task_name %></td>
          <td class='phase_name'><%= @step.phase_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='divider'></div>
<div class='gray_text' id='versions_by_app_map'>New</div>
<div class='clear'></div>
<div class='field'>
  <%= label_tag "work_task", "Work Task" %>
  <%= select_tag("step[work_task_id]", "<option value=''>Select</option>".html_safe + options_for_select(WorkTask.unarchived.in_order.collect{|t|[t.name, t.id]},  :selected =>  common_attribute_id_of(@steps, 'work_task_id'))) %>
  <%= hidden_field_tag "original_step_task_id", common_attribute_id_of(@steps, 'work_task_id') %>
  <span class='task_span'></span>
</div>
<div class='field'>
  <%= label_tag "phase", "Phase" %>
  <%= select_tag("step[phase_id]", "<option value=''>Select</option>".html_safe + options_for_select(Phase.unarchived.in_order.collect{|p|[p.name, p.id]}, :selected =>  common_attribute_id_of(@steps, 'phase_id'))) %>
  <%= hidden_field_tag "original_step_phase_id", common_attribute_id_of(@steps, 'phase_id') %>
  <span class='phase_span'></span>
</div>
<div class='field'>
  <%= label_tag "runtime_phase", "Runtime Phase" %>
  <%= select_tag 'step[runtime_phase_id]', '', :class => 'use_remote_options', :rel => :step_phase_id, :selected =>  common_attribute_id_of(@steps, 'runtime_phase_id') %>
  <%= hidden_field_tag "original_step_runtime_phase_id", common_attribute_id_of(@steps, 'runtime_phase_id') %>
  <%= hidden_field_tag :step_runtime_phase_id_url, runtime_phases_options_steps_path %>
</div>
<%= javascript_tag("AddLabelForSelectLists('modify_task_phase')") %>
