<% ic = InstalledComponent.find_by_id(installed_component_id.to_i) 
   unless ic.nil?  %>
<h4><span style="font-size: 80%;">Component:</span> <%= ic.application_component.component.name %> </h4>
<strong>Steps: <%= @property_maps[:ic_map][installed_component_id].map{ |step_id| @property_maps[:steps][step_id][:number].to_f}.sort.map{|sn| ((sn%sn.to_i) == 0) ? sn.to_i : sn}.join(", ") %></strong><br/>
<table class="tablesorter one_column_sorter formatted_table" width="75%">
	<thead>
	<tr>
		<th width="30%">Property</th>
		<th width="35%">Local Value</th>
		<th width="35%">Global Value</th>
	</tr>
	</thead>
	<tbody>
	<% Step.find_by_id(@property_maps[:ic_map][installed_component_id][0]).property_values_summary.each do |property, val| %>
		<tr>
			<td><%= index_title(property) %></td>
			<td><%= val[0] == val[1] ? "<span style='color: #666666;font-size: 80%;'>-inherited-</span>".html_safe : val[0] %></td>
			<td><%= val[1] %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>