<% server = (type == "aspect"? ServerAspect : Server).find(server_id.to_i) %>
<% s_map = (type == "aspect"? :server_aspect_map : :server_map) %>
<h4><span style="font-size: 80%;">Server:</span> <%= server.name %> </h4>
<strong>Steps: <%= @property_maps[s_map][server_id].map{ |step_id| @property_maps[:steps][step_id][:number].to_f}.sort.map{|sn| ((sn%sn.to_i) == 0) ? sn.to_i : sn}.join(", ") %></strong><br>
<table class="tablesorter one_column_sorter formatted_table" width="75%">
	<thead>
	<tr>
		<th width="30%">Property</th>
		<th width="35%">Local Value</th>
		<th width="35%">Global Value</th>
	</tr>
	</thead>
	<tbody>
	<% unless(servs = Step.find_by_id(@property_maps[s_map][server_id][0]).property_values_summary_server(server)).nil? %>
		<% servs.each do |serv, props| %>
			<% props.each do |property, val| %>
				<tr>
					<td><%= index_title(property) %></td>
					<td><%= val[0] == val[1] ? "<span style='color: #666666;font-size: 80%;'>-inherited-</span>".html_safe : val[0] %></td>
					<td><%= val[1] %></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
	</tbody>
</table>