<p>Hi <%= @user.present? ? @user.first_name : @params['SS_user_first_name'] %>,</p>
<p>You have recently requested to reset your account password. Following are your login credentials and a temporary password:</p>
<p>YOUR ACCOUNT<br />
  ============<br />
Your account username is:<br />
<%= @params['SS_user_login'] %><br />
Your initial account password is:<br />
<%= @params['SS_user_password'] %></p>
<p>If you did not request to reset your password, please <br />
contact your system administrator so that the security <br />
of your account can be confirmed.</p>

<p>LOGGING IN TO BMC RELEASE PROCESS MANAGEMENT<br />
  ============================================<br />
Log in at:  <%= @params['SS_login_url'] %></p>
<p>ISSUES<br />
  ==============================<br />
  If you have any problems or questions - please email <%= DEFAULT_SUPPORT_EMAIL_ADDRESS %><br />
  and we will respond as quickly as possible - usually within 1 hour between 8am and 5pm EST.</p>
<p>Thanks,</p>
<p>BMC Release Process Management Admin</p>