<%# ############################################################################# %>
<%# BMC Software, Inc. %>
<%# Confidential and Proprietary %>
<%# Copyright (c) BMC Software, Inc. 2001-2014 %>
<%# All Rights Reserved. %>
<%# ############################################################################# %>
<tr <%= tag_options({:class => cycle('', 'alt') +"#{' work_task_row' unless archived}"}, false) %>>
  <% unless archived %>
      <td>
      <span class='work_task' <%= tag_options({:id => dom_id(work_task)}, false) %>>
        <%= image_tag 'drag.gif' %>
      </span>
      </td>
  <% end %>
  <td title="<%= work_task.name %>">

    <% if can?(:edit, work_task) %>
        <%= link_to index_title(truncate(work_task.name)), edit_work_task_path(work_task) %>
    <% else %>
        <%= index_title truncate(work_task.name) %>
    <% end %>

  </td>
  <td><%= " #{work_task.count_of_existing_requests_through_step} | #{work_task.count_of_request_templates_through_steps} | #{work_task.count_of_procedures_through_steps} " %></td>
  <td><%= "Total: #{work_task.properties.count} | On Step Creation: #{work_task.property_work_tasks.on_creation.count} | On Step Execution: #{work_task.property_work_tasks.on_execution.count}" %></td>
  <td>
    <% unless archived %>

        <% if can?(:edit, work_task) %>
            <%= link_to I18n.t(:edit), edit_work_task_path(work_task) %>
        <% end %>

        <% if work_task.can_be_archived? && can?(:archive_unarchive, work_task) %>
            <%= '&nbsp;|&nbsp;'.html_safe if can?(:edit, work_task) %>
            <%= link_to I18n.t(:archive), archive_work_task_path(work_task), :method => :put %>
        <% end %>

    <% else %>

        <% if can?(:archive_unarchive, work_task) %>
            <%= link_to I18n.t(:unarchive), unarchive_work_task_path(work_task), :method => :put %>
        <% end %>

        <% if work_task.destroyable? && can?(:delete, work_task) %>
            <%= '&nbsp;|&nbsp;'.html_safe if can?(:archive_unarchive, work_task) %>
            <%= link_to(I18n.t(:delete), work_task,
                        :method => :delete,
                        :confirm => I18n.t(:confirm_deletion, item: I18n.t(:'activerecord.models.work_task')))
            %>
        <% end %>

    <% end %>
  </td>
</tr>
