<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<% content_for :head do %>
	<%= static_javascript_include_tag 'maps' %>
<% end %>

<% page_settings :title => 'Servers by Environment Map' %>

<% content_for :page_section do %>
  <%= render :partial => 'reports/tabs', :locals => { :selected => 'maps' } %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'links' %>
<% end %>

<ul>
  <% @environments.each do |environment| %>
    <li>
		<%= env_group_names(environment) %>
		<% unless environment.servers.blank? %>
			<ul>
			    <% environment.servers.each do |server| %>
				    <li>
				    	<%= h(server.name) %>
				    	<%= render :partial => 'server_aspects/component_properties', :locals => { :server_aspect => server, :environment => environment } %>
				    	<%= render :partial => 'server_aspects/tree', :locals => { :server_aspects => server.server_aspects } %>
					</li>
			    <% end %>
		    </ul>
	    <% end %>
    </li>
  <% end %>
</ul>

