<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<div id='servers'>
  <div class='server_search'>
    <%= search_box('/environment/servers') %>
  </div>
  <h3>Active Servers</h3>

  <div class='line_h_20px'>
    <%= render :partial => "/shared/alphabetical_pagination", :locals => {:path => servers_path, :class_name => "servers"} %>
  </div>
  <table class='tablesorter two_column_sorter tbl_fix formatted_table active' style='clear:left;'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Server Groups</th>
      <th># Comps</th>
      <th>Modified</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% unless @active_servers.blank? %>
        <% @active_servers.each do |server| %>
            <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
              <td><%= generate_link_to_or_not(content_tag(:strong, h(server.name)), edit_server_path(server, :page => params[:page], :key => params[:key]), can?(:edit, server)) %></td>
              <td><%= name_list_sentence server.server_groups, 50 %></td>
              <td><%= server.installed_components.size %></td>
              <td><%= server.updated_at.default_format_date_time %></td>
              <td class='action_links'>
                <% if can?(:edit, server) %>
                    <%= link_to I18n.t(:edit), edit_server_path(server, :page => params[:page], :key => params[:key]) %>
                <% end %>

                <% if can?(:make_active_inactive, server) %>
                    <%= '|' if can?(:edit, server) %>
                    <%= link_to I18n.t(:make_inactive), deactivate_server_path(server, :page => params[:page], :key => params[:key]),
                                :method => :put,
                                :confirm => t(:new_servers_assigments_for_steps_confirmation)
                    %>
                <% end %>
              </td>

            </tr>
        <% end %>
    <% else %>
        <tr>
          <td colspan='5'>
            No Servers Found
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class='line_h_20px'>
    <%= render :partial => "/shared/alphabetical_pagination", :locals => {:path => servers_path, :class_name => "servers"} %>
  </div>
  <br>
  <% unless @inactive_servers.blank? %>
      <h3>Inactive Servers</h3>
      <table class='tablesorter two_column_sorter tbl_fix formatted_table inactive'>
        <thead>
        <tr>
          <th width='150'>Name</th>
          <th width='120'>Server Groups</th>
          <th width='50'># Comps</th>
          <th width='75'>Modified</th>
          <th width='100'>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @inactive_servers.each do |server| %>
            <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
              <td><%= generate_link_to_or_not(h(server.name), edit_server_path(server, :page => params[:page], :key => params[:key]), can?(:edit, server)) %></td>
              <td><%= name_list_sentence server.server_groups, 50 %></td>
              <td><%= server.installed_components.count.to_s %></td>
              <td><%= server.updated_at.default_format_date_time %></td>
              <td class='action_links'>
                <% if can?(:edit, server) %>
                    <%= link_to I18n.t(:edit), edit_server_path(server, :page => params[:page], :key => params[:key]) %>
                <% end %>

                <% if can?(:make_active_inactive, server) %>
                    <%= '|' if can?(:edit, server) %>
                    <%= link_to I18n.t(:make_active), activate_server_path(server, :page => params[:page], :key => params[:key]),
                                :method => :put
                    %>
                <% end %>

                <% if server.destroyable? && can?(:delete, server) %>
                    <%= '|' if can?(:edit, server) || can?(:make_active_inactive, server) %>
                    <%= link_to I18n.t(:delete),
                                server_path(server, :page => params[:page], :key => params[:key]),
                                :method => :delete,
                                :confirm => "Are you sure?" %>
                <% end %>
              </td>

            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
