<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<% page_settings :title => "#{I18n.t(:'activerecord.models.server')}: #{h @server.name}" %>
<% content_for :head do %>
    <%= stylesheet_link_tag 'properties' %>
<% end %>
<% content_for :page_section do %>
    <%= render :partial => 'account/environment_tabs', :locals => {:selected => 'servers'} %>
<% end %>
<%= render :partial => 'servers/sidebar' %>
<div class='pageSection'>
  <%= render :partial => 'servers/tabs', :locals => {:selected => 'servers'} %>
</div>
<div id='server_container'>
  <div id='custom_heading'>
    <%= render :partial => 'shared/custom_heading', :locals => {:record => @server, :path_back_to => servers_path(:page => params[:page], :key => params[:key])} %>
  </div>
  <h3></h3>
  <%= form_for(@server, :url => server_path(@server), :html => {:class => 'cssform'}) do |f| %>
      <%= render 'form', :f => f, :new => false %>
      <div class='field'>
        <%= f.submit I18n.t(:update), :class => 'button' %>
        or
        <%= link_to I18n.t(:cancel), servers_path(:page => params[:page], :key => params[:key]) %>
      </div>
  <% end %>

  <h2><%= I18n.t(:'activerecord.models.property') %></h2>

  <% if @server.properties.any? %>
      <%= link_to 'Edit values', edit_property_values_server_path(@server, {:object => 'server'}), :rel => 'facebox' %>

      <% if can?(:create, Property.new) %>
          <%= ('&nbsp;|&nbsp;').html_safe %>
          <%= link_to I18n.t(:'property.buttons.add_new'),
                      new_property_path(:object => @server.class.to_s.underscore, :object_id => @server.id),
                      :rel => 'facebox'
          %>
      <% end %>

      <br>
      <br>
      <table cellspacing='0' class='formatted_table'>
        <thead>
        <tr>
          <th><%= I18n.t(:'table.name') %></th>
          <th><%= I18n.t(:'table.value') %></th>
        </tr>
        </thead>
        <tbody>
        <% @server.properties.each do |property| %>
            <tr>
              <td><%= h property.name %></td>
              <td><%= server_property_value(property, @server, true) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <% if can?(:create, Property.new) %>
          <%= link_to I18n.t(:'property.buttons.add_new'),
                      new_property_path(:object => @server.class.to_s.underscore, :object_id => @server.id),
                      :rel => 'facebox'
          %>
      <% end %>
  <% end %>
</div>
