<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id="edit_chart_details" class="w_415">
<%= form_for [@server_level, @property], :html => { :class => 'cssform ajax',:style=> "display:block;zoom:1;" } do |f| %>
  <h2><%= @property.new_record? ? "Add New Property" : "Edit Property"%></h2>
  <%= error_messages_for :property %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.label :default_value %>
      <% if !@property.new_record? && @property.is_private?  %>
        <%= password_field_tag("property[default_value]", @property.default_value, :size => 30) %>
      <% else %>
        <%= f.text_field :default_value %>
      <% end %>
  </div>

  <%= hidden_field_tag :page, params[:page] %>
  <%= hidden_field_tag :key, params[:key] %>
  <% unless @property.new_record? %>
    <p class='server_level_edit_property_text'>This applies to the global values for these properties</p>
  <% end %>
  <div class="button_bar">
  <% if @property.new_record? %>
    <%= submit_tag "Create property",:class =>'button' %>
  <% else %>
    <%= submit_tag "Update",:class =>'button' %>
  <% end %>
  </div>
<% end %>
</div>

