<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Editing Group: #{h @group.name}" %>
<% content_for :sidebar do %>
  <!-- No content... -->
<% end %>
<% content_for :page_section do %>
  <%= render :partial => 'users/tabs', :locals => { :selected => 'groups',:tab_view => true } %>
<% end %>
<h3>
  Editing
  <%= h @group.name %>
</h3>
<%= form_for @group, :url => group_path(@group), :html => { :class => 'cssform group', :style => "width:860px" } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class='field'>
    <%= f.submit I18n.t(:update), class: 'button' %>
    or
    <%= link_to 'cancel', groups_path(:page => params[:page], :key => params[:key]) %>
  </div>
<% end %>

