<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => 'Create New Password', :heading => 'Create New Password' %>
<p>
  We will have you back in to BMC Release Process Management in just a minute.
  <br>
  Please enter a new password.
</p>
<%= form_for @user, :as => :user, :remote => true, :url => update_password_user_path(@user.id), :html => { :method => :put, :id => 'login_box', :class=> "change_password" }  do |f| %>
  <div id='errors'></div>
  <%= error_messages_for :user, :header_message => nil %>
  <div class='field'>
    <label for='login'>Login</label>
    <%= current_user.login %>
  </div>
  <div class='field'>
    <label for='old_password'>Old Password</label>
    <%= f.password_field :current_password, :autocomplete => 'off', :class => 'initialFocus' %>
  </div>
  <div class='field'>
    <label for='new_password'>New Password</label>
    <%= f.password_field :password, :autocomplete => 'off' %>
  </div>
  <div class='field'>
    <label for='password_confirmation'>Confirm Password</label>
    <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
  </div>
  <div class='field submit'>
    <label>&nbsp;</label>
    <%= submit_tag 'Login',:class =>'button' %>
  </div>
<% end %>

