<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => 'Forgot Password', :heading => 'Forgot Password' %>
<img alt='Please login to BMC Release Process Management' class='bmcLogin' src='images/Login_background.gif'>
<div style='float:left;'>
  <%= flash_div :success, :error %>
  <%= yield :error_messages %>
  <p class='forgot_password_message'>
    We will have you back in to BMC Release Process Management in just a minute.
    <br>
    Please enter your login ID and email address and we will send you a new temporary password.
  </p>
  <%= form_tag reset_password_path, :method => :put, :id => 'login_box', :class => 'loginform' do %>
    <div class='field'>
      <%= label_tag 'uid', 'Login ID' %>
      <%= text_field_tag :uid, '', :size => 30, :autocomplete => 'off', :class => 'initialFocus' %>
    </div>
    <div class='field'>
      <%= label_tag 'uid_email', 'Email Address' %>
      <%= text_field_tag :email, '', :size => 30, :autocomplete => 'off', :class => 'initialFocus' %>
    </div>
    <div class='field submit clear'>
      <label>&nbsp;</label>
      <%= submit_tag 'Send',:class =>'button' %>
      or
      <%= link_to 'Cancel', login_path,:style => "color: #FFF !important;" %>
    </div>
  <% end %>

</div>
<div style='clear:both;'></div>
