<%
 ################################################################################
  # BMC Software, Inc.
  # Confidential and Proprietary
  # Copyright (c) BMC Software, Inc. 2001-2012
  # All Rights Reserved.
  ################################################################################
%>
<% unless script.blank? %>
<%= form_tag save_mapping_app_application_component_path(@app, @application_component, :edit_mode => edit_mode), :id => "map_component_form", :method => :put, :remote => true do %>
<div id='errors' class="errorExplaination"></div>
<span class="step_auto_only" style="display:none">
    <div id='script_arguments'>
    </div>
    <p>
        <%= hidden_field_tag :script_id, script.try(:id) %>
        <%= hidden_field_tag :project_server_id, project_server.try(:id) %>
        <%= hidden_field_tag :delete_mapping_url, delete_mapping_app_application_component_path(@app, @application_component) %>
        <div class="button_bar form_action_btns" style="text-align:right;">
          <%= button_to_function "Save Mapping", "saveComponentMapping($(this))" %>
          <% if (edit_mode == "true") || (edit_mode == true) %>
            <%= button_to_function "Delete Mapping", "deleteComponentMapping($(this))" %>
          <% end %>
        </div>
    </p>
</span>
<% end -%>
<%= form_tag initialize_arguments_scripts_path, :method => :post, :id => "update_arguments_form", :class => "update_arguments_trigger" do %>
<div id="script_hidden_fields">
    <%= hidden_field_tag :argument_values, argument_values.to_json %>
</div>
<% end -%>
<% end -%>