<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <style>
    /*<![CDATA[*/
      #financials_filters .alt td {background:none;}
    /*]]>*/
  </style>
<% end %>
<div class='alt' id='financials_filters'><br/>
  <strong>Filters:</strong>
  <% exta_prm = local_assigns[:step_facebox] ? 'step_facebox=true' : ''  %>
  <%= form_tag tickets_path(:actions => @actions, :per_page => @per_page, :page => @page).concat(exta_prm), :method => :get, :id => 'filter_form', :class => 'filterForm', :style => 'display: inline' do %>
    <table align='center' cellpadding='0' cellspacing='0'>
      <tr>
        <td>
          <label for='filters_project_server_id'>Integration:</label>
          <%= render :partial => "filters/filter_select_list", :locals => { :filter => "project_server_id", :options_from_collection_for_select => options_from_collection_for_select(ProjectServer.ticketing_systems, :id, :name) } %>
        </td>
        <td>
          <label for='filters_ticket_type'>Type:</label>
          <% if params[:filters][:plan_id].blank? %>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "ticket_type", :filter_options => Ticket.types_for_select } %>
          <% else %>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "ticket_type", :filter_options => Ticket.by_plan_id(params[:filters][:plan_id]).types_for_select.uniq  } %>
          <% end %>
        </td>
        <td>
          <label for='filters_ticket_status'>Status:</label>
          <% if params[:filters][:plan_id].blank? %>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "ticket_status", :filter_options => Ticket.status } %>
          <% else %>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "ticket_status", :filter_options => Ticket.by_plan_id(params[:filters][:plan_id]).status } %>
          <% end %>
        </td>
        <td>
          <label for='filters_app_id'>Application:</label>
          <% if params[:filters][:plan_id].blank? %>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "app_id", :options_from_collection_for_select => options_from_collection_for_select(App.all_apps_for_tickets,:id,:name) } %>
          <% else %>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "app_id", :options_from_collection_for_select => options_from_collection_for_select(App.all_apps_for_tickets_by_plan(params[:filters][:plan_id]),:id,:name) } %>
          <% end %>
        </td>
        <% if local_assigns[:step_facebox] %>
          <td>
            <label for='filters_plan_association'>Association:</label>
            <%= render :partial => "filters/filter_select_list", :locals => { :filter => "plan_association", :filter_options => ["Selected","Unselected"] } %>
          </td>
        <% end %>
      </tr>
      <tr>
        <td colspan='<%= local_assigns[:step_facebox] ? '4' : '3' %>' style='text-align: left'>&nbsp;</td>
        <td style='text-align: right'><%= link_to "clear", '#', :class => 'clear_model_filters' %></td>
      </tr>
    </table>
    <%= hidden_field_tag 'filters[sort_scope]', @filters[:sort_scope] %>
    <%= hidden_field_tag 'filters[sort_direction]', @filters[:sort_direction] %>
    <%= hidden_field_tag 'filters[collapse_state]', @filters[:collapse_state] %>
    <%= hidden_field_tag 'filters[plan_id]', @filters[:plan_id] if @filters[:plan_id] %>
    <%= hidden_field_tag 'clear_filter', '0' %>
    <%= hidden_field_tag 'disable_fields', params[:disable_fields] %>
  <% end %>

  <% if @filters %>
    <% ['project_server_id', 'ticket_type'].each do |f| %>
      <% if @filters[f] %>
        <% @filters[f].each do |v| %>
          <%= hidden_field_tag "filters[#{f}][]", v, :class => 'filter_hidden' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= javascript_tag("setInitialFilters(#{@filters.to_json})") %>
</div>
<%= javascript_tag("setFiltersSection();") %>
