<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% facebox = local_assigns[:facebox].present? %>
<%= form_for(@property, remote: facebox, html: { class: 'smallform property_form' }) do |f| %>
  <%= f.error_messages %>
  <div id="property_error_messages" class="property_error_messages"></div>

  <table id="property_entry">
    <tr>
      <th>
        <% ############### Core Fields #################### %>
        <table>
          <tr>
            <td width="200px"><%= f.label :name, class: 'required' %></td>
            <td><%= f.text_field :name, class: 'initialFocus' %></td>
            <td></td>
          </tr>
          <tr>
            <td width="200px"><%= f.label :default_value %></td>
            <td>
            <% if @property.is_private? %>
                <%= password_field_tag 'property[default_value]', @property.default_value %>
            <% else %>
                <%= f.text_field :default_value %>
            <% end %>
            <%= f.check_box :is_private %>
            <%= f.label :is_private %>
            <span class="helperText" style="padding-left: 10px"><%= t(:l10n_frm_property_private_note) %></span>
            </td>
            <td></td>
          </tr>
        </table>
      </th>
    </tr>
    <tr>
      <th>
          <% ############### Component Fields #################### %>
          <div id="toggleLink">
            <% if facebox %>
              <%= link_to_function t(:l10n_lnk_show), 'toggleSection($(this))', rel: '(hide)', class: 'component_section' %>
            <% else %>
              <%= link_to_function t(:l10n_lnk_hide), 'toggleSection($(this))', rel: '(show)', class: 'component_section' %>
            <% end %>
          </div><strong><%= t(:l10n_frm_property_component_assignment) %></strong><span class="helperText" style="padding-left: 70px"><%= t(:l10n_frm_property_component_assignment_note1) %></span>
      </th>
    </tr>
    <tr>
      <td>
        <div id="component_section" style="<%= facebox ? 'display: none' : 'display: block' %>">
          <table>
            <tr>
              <td class="spacer" rowspan="2" style="width: 200px"></td>
              <td class="component_list_holder_td" rowspan="2">
                <span class="stronger"><%= Component.model_name.human.pluralize %></span>
                <br />
                <span id="components">
                  <%= render partial: 'shared/checkbox_select_list',
                             locals: { form_object: @property, collection: Component.active, object: 'property', method: 'component_ids', label: 'name', value: 'id'}
                  %>
                  <span class="sl_links_properties_facebox"><%= select_clear_chk('components') %></span>
                </span>
                <span class="helperText" style="padding-left: 0px"><%= t(:l10n_frm_property_component_assignment_note2) %></span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <% ############### Package Fields #################### %>
        <div id="toggleLink">
          <% if facebox && @object == 'package' %>
              <%= link_to_function t(:l10n_lnk_hide), 'toggleSection($(this))', rel: '(show)', class: 'package_section' %>
          <% else %>
              <%= link_to_function t(:l10n_lnk_show), 'toggleSection($(this))', rel: '(hide)', class: 'package_section' %>
          <% end %>
        </div><strong><%= t(:l10n_frm_property_package_assignment) %></strong><span class="helperText" style="padding-left: 70px"><%= t(:l10n_frm_property_package_assignment_note1) %></span>
      </th>
    </tr>
    <tr>
      <td>
        <div id="package_section" style="<%= ( facebox && @object == 'package' ) ? 'display: block' : 'display: none' %>">
          <table>
            <tr>
              <td class="spacer" rowspan="2" style="width: 200px"></td>
              <td class="package_list_holder_td" rowspan="2">
                <span class="stronger"><%= Package.model_name.human.pluralize %></span>
                <br />
                <span id="packages">
                  <%= render partial: 'shared/checkbox_select_list',
                             locals: { form_object: @property, collection: Package.active, object: 'property', method: 'package_ids', label: 'name', value: 'id'}
                  %>
                  <span class="sl_links_properties_facebox"><%= select_clear_chk('packages') %></span>
                </span>
                <span class="helperText" style="padding-left: 0px"><%= t(:l10n_frm_property_package_assignment_note2) %></span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <% ############### Server Fields #################### %>
        <div id="toggleLink">
          <% if facebox && @object == 'server' %>
            <%= link_to_function t(:l10n_lnk_hide), 'toggleSection($(this))', rel: '(show)', class: 'server_section' %>
          <% else %>
            <%= link_to_function t(:l10n_lnk_show), 'toggleSection($(this))', rel: '(hide)', class: 'server_section' %>
          <% end %>
        </div><strong><%= t(:l10n_frm_property_server_assignment) %></strong><span class="helperText" style="padding-left: 100px"><%= t(:l10n_frm_property_server_assignment_note1) %></span>
      </th>
    </tr>
    <tr>
      <td>
        <div id="server_section" style="<%= ( facebox && @object == 'server' ) ? 'display:block' : 'display:none' %>">
          <table>
            <tr>
              <td class="spacer" rowspan="2" style="width: 50px"></td>
              <td rowspan="2" style="width: 300px">
                <span class="stronger"><%= Server.model_name.human.pluralize %></span>
                <span id="servers">
                  <%= render partial: 'shared/checkbox_select_list',
                             locals: { form_object: @property, collection: Server.active.all, object: 'property', method: 'server_ids', label: 'name', value: 'id'}
                  %>
                  <span class="sl_links_properties_facebox"><%= select_clear_chk('servers') %></span>
                </span>
                <span class="helperText" style="padding-left: 0px"><%= t(:l10n_frm_property_server_assignment_note2) %></span>
              </td>
              <td></td>
              <td rowspan="2" style="width: 300px">
                <span class="stronger"><%= ServerLevel.model_name.human.pluralize %></span>
                <span id="servers_levels">
                  <%= render partial: 'shared/checkbox_select_list',
                             locals: { form_object: @property, collection: ServerLevel.all(order: 'name'), object: 'property', method: 'server_level_ids', label: 'name', value: 'id'}
                  %>
                  <span class="sl_links_properties_facebox"><%= select_clear_chk('servers_levels') %></span>
                </span>
                <span class="helperText" style="padding-left: 0px"><%= t(:l10n_frm_property_server_assignment_note3) %></span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td style="vertical-align:bottom"></td>
              <td style="vertical-align:bottom"></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <% ############### Property Fields #################### %>
        <div id="toggleLink">
          <%= link_to_function t(:l10n_lnk_show), 'toggleSection($(this))', rel: '(hide)', class: 'entry_section' %>
        </div><strong><%= t(:l10n_frm_property_property_entry) %></strong><span class="helperText" style="padding-left: 52px"><%= t(:l10n_frm_property_property_entry_note1) %></span>
      </th>
    </tr>
    <tr>
      <td>
        <div id="entry_section" style="display: none">
          <table>
            <tr>
              <td class="spacer" rowspan="2" style="width: 50px"></td>
              <td rowspan="2" style="width: 300px">
                <span class="stronger"><%= t(:l10n_frm_property_property_entry_creation_task) %></span>
                <br />
                <span id="creation_task">
                  <%= render partial: 'shared/checkbox_select_list',
                             locals: { form_object: @property, collection: WorkTask.in_order.unarchived, object: nil, method: 'creation_task_ids', label: 'name', value: 'id'}
                  %>
                  <span class="sl_links_properties_facebox"><%= select_clear_chk('creation_task') %></span>
                </span>
                <span class="helperText" style="padding-left: 0px"><%= t(:l10n_frm_property_property_entry_note2) %></span>
              </td>
              <td></td>
              <td rowspan="2" style="width: 300px">
                <span class="stronger"><%= t(:l10n_frm_property_property_entry_execution_task) %></span>
                <br />
                <span id="execution_task">
                  <%= render partial: 'shared/checkbox_select_list',
                             locals: { form_object: @property, collection: WorkTask.in_order.unarchived, object: nil, method: 'execution_task_ids', label: 'name', value: 'id'}
                  %>
                  <span class="sl_links_properties_facebox"><%= select_clear_chk('execution_task') %></span>
                </span>
                <span class="helperText" style="padding-left: 0px"><%= t(:l10n_frm_property_property_entry_note3) %></span>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  <% if @object_id %>
    <%= hidden_field_tag 'redirect_to', eval(((@object == 'server_level') ? "#{@object}" : "edit_#{@object}") + "_path(#{@object_id})") %>
  <% end %>
  <% if @object == 'version_tag'  %>
        <%= hidden_field_tag 'property[version_tag_ids][]', "#{@object_id}" %>
  <% end %>
  <%= hidden_field_tag 'page', params[:page] %>
  <%= hidden_field_tag 'key', params[:key] %>

  <% if @object %>
    <div class="button_bar">
      <% if is_create %>
        <%= f.submit t(:l10n_frm_create), class: 'button margin_L_4' %>
      <% else %>
        <%= f.submit t(:l10n_frm_update), class: 'button margin_L_4' %>
      <% end %>
    </div>
  <% else %>
    <div class="field">
      <% if is_create %>
        <%= f.submit t(:l10n_frm_create), :class => 'button margin_L_4' %>
      <% else %>
        <%= f.submit t(:l10n_frm_update), :class => 'button margin_L_4' %>
      <% end %>
      or 
      <%= link_to t(:l10n_frm_cancel), backlink %>
    </div>
  <% end %>
<% end %>

<% if params[:component_id].present? #### If components are provided, select them by default %>
  <%= javascript_tag("$('select#property_component_ids').val('#{params[:component_id]}')") %>
<% end %>

