<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% properties.each do |property| %>
  <tr class="property_row" <%= tag_options({:class => cycle('', 'alt')}, false) %> data-position="<%= property.find_component_property(component_id).position %>">
    <td>
      <span class='property' <%= tag_options({:id => dom_id(property)}, false) %>>
        <%= image_tag 'drag.gif' %>
      </span>
    </td>
    <td><%= h property.name %></td>
  </tr>
<% end %>
