<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################

backlink = properties_path(:page => params[:page], :key => params[:key])
title = t(:l10n_title_property_edit, :name => h(@property.name))

page_settings :title => title, :custom_heading => true
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'properties' %>
<% end %>

<% content_for :sidebar do %>
  <p><%= link_to 'Property Maps', properties_maps_path %></p>
<% end %>

<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'properties' %>
<% end %>

<% if request.xhr? %>
  <h3><%= title %></h3>
<% else %>
  <% #= render :partial => 'shared/custom_heading', :locals => { :record => @property, :path_back_to => backlink } %>
  <%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
  <br class="clear" />
<% end %>

<div class="pageSection">
  <%= render 'edit_tabs', :selected => 'values' %>
</div>
<div class="content">
  <%= render :partial => "properties/property_values", :locals => {:timestamp => "created_at", :assoc => "current_property_values"} %>

  <h4>Archived Values</h4>

  <%= render :partial => "properties/property_values", :locals => {:timestamp => "deleted_at", :assoc => "deleted_property_values"} %>

  <h4>Local Values</h4>

  <%= render :partial => "properties/property_values", :locals => {:timestamp => "deleted_at", :assoc => "current_temporary_property_values"} %>

  <h4>Local Archived Values</h4>

  <%= render :partial => "properties/property_values", :locals => {:timestamp => "deleted_at", :assoc => "deleted_temporary_property_values"} %>
</div>
