<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2014
   # All Rights Reserved.
   ################################################################################

   # FIXME,2012-06-15,Manish, metadatda_heading is a generic partial so it needs to be renamed and got to be in shared.

   backlink = request.referer
   #backlink = params[:redirect_to] || (@object_id ? eval("edit_#{@object}_path(#{@object_id})") : properties_path(:page => params[:page], :key => params[:key]))
   title = t(:l10n_title_property_new)

   page_settings :title => title
%>

<% content_for :head do %>
    <%= stylesheet_link_tag 'properties' %>
<% end %>

<% content_for :page_section do %>
    <%= render 'account/environment_tabs', :selected => 'properties' %>
<% end %>

<% if request.xhr? %>
    <h3><%= title %></h3>
<% else %>
    <%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
    <br class="clear"/>
<% end %>

<%= render :partial => 'form', :locals => {:backlink => backlink, :is_create => true, :facebox => (@object_id ? true : false)} %>
