<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<% if user_signed_in? && current_user.active? -%>
    <div id='topBar'>
      <div id='banner'>
        <h2> User Menu </h2>

        <div class='transparent_image'>
          <a href=""></a>
          <%= user_name %>
        </div>
        <ul class='userMenu'>
          <li>
            <a href="<%= profile_path %>" title='Your Profile'>Profile</a>
          </li>
          <li>
            <%= link_to_function 'Logout', "logOut()", :title => 'Logout and remove the cookie from your machine' %>
          </li>
        </ul>
        <span style="margin-left: 14pt; font-size: 18pt; color: #ffffff;">SpiderMonkey :|: PortfolioPlanner</span>
      </div>
      <%= flash_div :success, :error, :notice,:warning %>
      <%= yield :error_messages %>
      <%#FIXME: this is mad to make tab selected like this %>
      <% unless (current_user.first_time_login? || current_user.is_reset_password?) -%>
          <div id='primaryNav'>
            <h2> Primary Nav </h2>
            <ul class="leftNavGroup">

              <% if can? :view, :dashboard_tab %>
			  <% Rails.logger.info "SS__ display dashboard tab" %>
                  <%= main_tab "Dashboard", :path => root_path,
                               :and => !(@show_all || @request_dashboard[:show_all]) && !@is_releases_tab,
                               :or => (params[:controller] == 'calendars' && params[:for_dashboard]) ||
                                       (params[:action] = "currently_running" if params[:for_dashboard]) %>
              <% end %>


              <% if can? :view, :reports_tab %>
                  <%= main_tab "Reports", :drop_down => "reports",
                               :path => reports_tab_path,
                               :if => ((params[:controller] == 'reports') || params[:controller] == 'maps' ||
                                        params[:controller] == 'reports/access' ) %>
              <% end %>
            </ul>
            <ul class="rightNavGroup">

              <% if can? :view, :system_tab %>
                  <%= main_tab "System", :drop_down => "users",
                               :path => users_path,
                               :if => (params[:controller] == "groups" || params[:controller] == "teams" || params[:controller] == "users"),
                               :right => true %>
              <% end %>

            </ul>
          </div>
      <% end -%>
    </div>
<% else -%>
    <div id='Login'>
      <%= image_tag "bmc_login_logo.gif", :alt => "SpiderMonkey", :class => "login_logo" %>
      <p class='productName'>
        Portfolio Planner
      </p>

      <p class='productVersion'>
        VERSION <%= get_version_from_file %>
      </p>
      <!-- <%= get_version_and_build_from_file %> -->
    </div>
<% end -%>
