<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<h3><%= "Add Properties for #{truncate(@application_component.component.name)}" %></h3>
<div>Add properties from existing property list or add new property</div>
<br>
<span class='viewby_span'>
  <%= radio_button_tag('view_by_existing_property', '', checked = true, :class => 'w_14 fl mar_0 add_properties', :property => 'existing_property') %>
  Add from existing property list
</span>
<span class='viewby_span' style='margin-left:15px;'>
  <% if can?(:create, Property.new) %>
    <%= radio_button_tag('view_by_new_property', '', checked = false, :class => 'w_14 fl mar_0 add_properties', :property => 'new_property') %>
    Add new property
  <% end %>
</span>
<table cellpadding='4' cellspacing='0' id='add_property' style='width:825px!important'>
  <tr>
    <td>
      <div id='existing_property_section' style='display: block'>
        <table>
          <tr>
            <td rowspan='2' style='width:200px'>
              <br>
                <span id='properties'>
                  <%= render :partial => "property_checkbox_select_list", :locals => {:form_object => @application_component.component, :collection => @application_component.component.property_ids.blank? ? Property.active.all : Property.active.property_not_present(@application_component.component.property_ids), :object => "component", :method => "property_ids", :label => "name", :value => "id", :app => @app, :application_component => @application_component} %>
                </span>
              </br>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id='new_property_section' style='display: none'>
        <%= form_tag update_property_values_app_application_component_path(@app, @application_component), :method => :put, :class => 'new_properties_form' do %>
            <div class='edit_new_properties_table'>
              <%= render :partial => 'application_components/edit_property_values', :locals => {:app_environments => @app_environments, :application_component => @application_component, :app => @app, :new_property => true} %>
            </div>
        <% end %>

        <br>
        <%= link_to "add another property", edit_property_values_app_application_component_path(@app, @application_component), :id => "add_properties" %>
      </div>
    </td>
  </tr>
</table>
<%= form_tag update_property_values_app_application_component_path(@app, @application_component), :method => :put, :class => 'existing_properties_form ' do %>
    <div class='edit_existing_properties_table'>
      <div <%= tag_options({:style => "text-align:right; display:none", :id => "property_table_#{@page_no}", :class => "lower_table_pagination edit_property_table"}, false) %>>
        <%= will_paginate(@app_environments, :class => "my_data_pagination", :rel => "edit_component_properties", :table_position => "lower_table") %>
        <table <%= tag_options({:cellspacing => "0", :cellpadding => "4", :id => "show_existing_properties", :style => "display:none; width:825px!important;", :class => "show_existing_properties_#{@page_no} properties_tbl"}, false) %>>
          <tr>
            <th width='100'>Property</th>
            <% @app_environments.each do |env| %>
                <th>
                  <%= env.name %>
                </th>
            <% end %>
            <th class='value' width='80'>Delete</th>
            <th class='value' width='80'>Values</th>
          </tr>
        </table>
      </div>
    </div>
    <%= hidden_field_tag "update_comp_prop_assoc", "true" %>
<% end %>

