<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr class="component_property_row" id="<%= property.present? ? property.id : property_number%>">
  <td><%= property.present? ? property.name : text_field_tag("properties[name_#{property_number}]", value = nil, options = {})%></td>
  <% @app_environments.each do |app_env|%>
    <% if property.present? %>
      <td>
        <% installed_component = app_env.installed_component_for(@application_component.component)%>
        <%= property_value_input_field "property_values_#{app_env.id}", property, installed_component.literal_property_value_for(property, current_user), :class => 'property_field', :property_id => property.id %>
      </td>
    <% else %>
      <td>
        <%= text_field_tag("property_values_#{app_env.id}_#{property_number}", value = nil, :class => "property_field", :property_number => property_number)  %>
      </td>
    <% end%>
  <% end %>
  <% if property.present? && local_assigns[:property_number].blank? %>
    <td class="value" style="text-align:center;">
      <%= check_box_tag "component_property[#{property.id}]", 1, false, :class => 'checkbox', :id => "property_#{property.id}"%>
    </td>
  <% else %>
    <td class="value">
      <%=link_to_function image_tag('bin_empty.png'), nil, :class => "destroy_new_property" %>
    </td>
  <% end %>
  <td class="value" id="property_val_<%= property.present? ? property.id : ''%>"></td>
  <% if property.present? && local_assigns[:property_number].blank? %>
    <td class="value" style="text-align:center;">
      <%= hidden_field_tag "property_values_locked[#{property.id}]", false %>
      <%= check_box_tag "property_values_locked[#{property.id}]", true, property.locked_for_installed_component?(@application_component), :class => 'checkbox', :id => "property_values_locked_#{property.id}"%>
    </td>
  <% end %>
</tr>

<%= javascript_tag do  %>
          update_property_values("<%=property.present? ? property.id : ''%>")
  <%  unless property.present?  %>
              update_property_values_new_property("<%=property_number%>")
  <%  end %>
<% end %>

