<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id="all_packages">
  <h2>Add/Remove packages</h2>
  <%= form_tag url_for(update_all_app_application_packages_path(app)), :remote =>true, :method => :put, :class => 'add_remove cssform' do %>
    <% if @new_package.present? %>
      <div id="errorExplanation">
        <h2><%= pluralize(new_package.errors.count, "error") %>
            prohibited this package from being saved </h2>
        <ul>
        <% new_package.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 
    <table>
      <% packages.each do |package| %>
        <tr>
          <td>
            <%= check_box_tag 'package_ids[]', package.id, app.packages.include?(package), :id => dom_id(package) %>
            <label for="<%= dom_id(package) %>"><%= package.name %></label>
          </td>
          <td id="package_<%= package.id %>">
            <% if package.application_packages.empty? %>
              <%= link_to_function image_tag('bin_empty.png', :title => 'Remove package', :border => 0), "removepackage('#package_#{package.id}', '#{deactivate_package_path(package)}')" %> 
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr class="new_item">
        <td align="left">
          <%= check_box_tag '', '', true, :disabled => 'disabled' %>
          <%= text_field_tag 'new_packages[][name]', '', :disabled => 'disabled', :size => 25 %>
        </td>
      </tr>
      <tr class="create_item">
        <td><%= link_to 'create new package', '#' %></td>
      </tr>
      <!--tr class="button_bar">
        <td>
          
        </td>
      </tr-->
      <%= hidden_field_tag "page", params[:page]  %>
      <%= hidden_field_tag "key", params[:key]  %>
      <%= hidden_field_tag "new_packages[][not_from_rest]", true  %>
    </table>
     <div class="button_bar"><%= submit_tag 'Save', :class =>'button' %></div>
  <% end %>
</div>
