<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= hidden_field_tag :app_properties_form_action, @script.class == BladelogicScript ? update_argument_properties_bladelogic_script_path(@script, @argument) : update_argument_properties_script_path(@script, @argument) %>
<div class='field'>
  <div class='property_label'>
    <label for='app_ids'>Applications</label>
  </div>
  <%= select_tag 'app_ids[]', options_from_collection_for_select(App.all(:order => 'name'), :id, :name, @selected_app_ids), :id => 'app_ids', :multiple => true, :size => 5 %>
</div>
<div class='field'>
  <div class='property_label'>
    <label for='application_environment_ids'>Environments</label>
  </div>
  <%= select_tag 'application_environment_ids[]', '', :id => 'application_environment_ids', :multiple => true, :size => 5, :class => 'use_remote_options', :rel => 'app_ids' %>
  <%= hidden_field_tag 'application_environment_ids_url', multiple_application_environment_options_scripts_path %>
  <%= hidden_field_tag 'multiple_selected_application_environment_ids', @selected_application_environment_ids.to_json %>
</div>
<div class='field'>
  <div class='property_label'>
    <label for='component_ids'>Components</label>
  </div>
  <%= select_tag 'component_ids[]', '', :id => 'component_ids', :multiple => true, :size => 5, :class => 'use_remote_options', :rel => 'application_environment_ids' %>
  <%= hidden_field_tag 'component_ids_url', component_options_scripts_path %>
  <%= hidden_field_tag 'multiple_selected_component_ids', @selected_component_ids.to_json %>
</div>
<div class='field'>
  <div class='property_label'>
    <label for='property_ids'>Properties</label>
  </div>
  <%= select_tag 'property_ids[]', '', :id => 'property_ids', :multiple => true, :size => 5, :class => 'use_remote_options', :rel => 'component_ids' %>
  <%= hidden_field_tag 'property_ids_url', property_options_scripts_path %>
  <%= hidden_field_tag 'multiple_selected_property_ids', @selected_property_ids.to_json %>
</div>
