<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= static_javascript_include_tag "automation" %>
<div class='automation_content'>
	<br>
	<% if request.xhr? %>
	  <h3><%= title %></h3>
	<% else %>
	  <%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
	  <br class="clear" />
	<% end %>
<% if @script.new_record? %>
  <br>
	<div class="field">
		Choose the type of automation script to create:		
	</div>
	<br>
	<div class='field'>
	  <%= label_tag 'To use as', "To use as:" %>
	  <%= select_tag 'script[automation_type]', options_for_select(["Automation", "ResourceAutomation"], params[:script][:automation_type]), :include_blank => "Select" %>
	</div>
<%end%>
<br>
<% unless @script.new_record? %>
	<%if @script.automation_type == "ResourceAutomation"%>
		<%=render :partial => 'scripted_resources/form', :locals => {:script => @script, :backlink => backlink, :title => title}%>
	<%else%>
		<%=render :partial => 'shared_scripts/automation_form', :locals => {:script => @script, :backlink => backlink, :title => title}%>
	<%end%>
<% else %>
	<div id='automation_form'></div>
<% end %>
</div>
<%= javascript_tag("displayAutomationForm($('#script_automation_type').val(), #{@script.to_json})") if @script.new_record? %>