<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= hidden_field_tag :server_properties_form_action, @script.class == BladelogicScript ? update_argument_server_properties_bladelogic_script_path(@script, @argument) : update_argument_server_properties_script_path(@script, @argument) %>
<div class='field toggles'>
  <div class='property_label width_auto'>
    <label for='entity_type'>
      Entity Type
      <br>
      <%= note_span "Pick one entity type." %>
    </label>
  </div>
  <br>
  <%= select_tag :entity_type, options_for_select([["Server", "server"]] + ServerLevel.in_order.map { |level| [h(level.name), "server_level_#{level.id}"] }, "server_level_#{@server_level_id}") %>
</div>
<div id='server_entity_type_selects'>
  <span class='server_fields'>
    <div class='field'>
      <div class='property_label width_auto'>
        <label for='server_ids'>
          Servers
          <br>
          <%= note_span "Pick one or more items." %>
        </label>
      </div>
      <br>
      <%= select_tag :server_ids, options_from_collection_for_select(Server.active.all, :id, :name, @selected_server_ids), :multiple => true, :class => 'servers_for_script_parameters' %>
    </div>
  </span>
  <% ServerLevel.in_order.each do |level| %>
    <span <%= tag_options({:class => "server_level_#{level.id}_fields"}, false) %>>
      <div class='field'>
        <div class='property_label width_auto'>
          <label <%= tag_options({:for => "server_aspect_#{level.id}_ids"}, false) %>>
            <%= h level.name %>
            <br><%= note_span "Pick one or more items." %></br>
          </label>
        </div>
        <br>
        <%= select_tag :server_aspect_ids, options_from_collection_for_select(level.server_aspects, :id, :path_string, @selected_server_aspect_ids), :multiple => true, :id => "server_aspect_#{level.id}_ids", :class => 'servers_for_script_parameters' %>
      </div>
    </span>
  <% end %>
  <div class='field'>
    <div class='property_label width_auto'>
      <label for='server_property_ids'>
        Properties
        <br><%= note_span "Pick one or more items." %></br>
      </label>
    </div>
    <br>
    <%= select_tag :property_ids, '', :multiple => true, :id => 'server_property_ids' %>
    <%= hidden_field_tag :server_property_ids_url, server_property_options_scripts_path %>
    <%= hidden_field_tag :selected_property_ids, @selected_server_property_ids.to_json, :id => 'selected_property_ids_why_firefox_why' %>
  </div>
</div>
