<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################

title = t(:l10n_title_script_edit, name: "#{h truncate(@script.name, length: 25) }")

%>
<tr class='no_hover' <%= tag_options({ id: "script_#{ @script.id }_row" }, false) %>>
  <td colspan='9'>
    <%= form_for @script, as: :script, remote: true, url: update_script_script_path(@script), html: { method: :put, class: 'basic_form', id: 'basic_form'} do |f| %>
      <%= f.error_messages %>

      <%= link_to "&nbsp;".html_safe, automation_scripts_path(page: params[:page], key: params[:key]), class: "unfolded automation_cancel" %>

      <h3 class='inline'>
        Editing Script:
        <span style="font-size: 110%;">
          <%=@script.name %>
        </span>
      </h3>

      <% if @script.can_change_aasm_state? && can?(:update_state, :automation) %>
        <%= render 'object_state/state_indicator', passed_obj: @script %>
      <% end %>

      <% unless request.xhr? %>
        <%= render 'environments/metadata_heading', backlink: backlink, title: title %>
        <br class="clear" />
      <% end %>

      <br>
      <%= render 'shared_scripts/script_form', script: @script, f: f, title: title %>

    <% end %>
  </td>
</tr>

<%=javascript_tag("createTextAreaWithLines(#{@script.id});")%>
