<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%if @folder == "bladelogic"%>
  <h2>
    <%= "Import #{@folder.humanize} Scripts from Library" %>
  </h2>
  <p style='margin-left: 10px;margin-right: 10px;margin-top:5px;'>
    Use the checkboxes to select scripts to import from the application's local library of sample scripts.
  </p>
  <br>
<%end%>
<% if script_files.empty? %>
  <p style='margin-left: 10px;margin-right: 10px;margin-top:5px;word-wrap:break-word;width:420px'>
    <%= "No sample scripts found in script library #{basedir.to_s}" %>
  </p>
<% else %>
  <div style='display:block;zoom:1;'>
    <%= form_tag url_for(import_local_scripts_path), :remote => true, :class => 'cssform', :style=> 'display:block;zoom:1;' do %>
      <div id='error_messages'></div>
      <%= hidden_field_tag :folder, @folder %>
      <%= hidden_field_tag :sub_folder, @sub_folder if @sub_folder %>
      <%= hidden_field_tag :project_server_id, @integration_server if @integration_server.present? %>
      <table class='index_table formatted_table marginlr15' style='width:100%;'>
        <thead>
          <tr>
            <th class="check_all">
              <%= check_box_tag :select_all_chk, "1", false, :check_box_dom => ".index_table tbody tr td"%>
            </th>
            <th>Name</th>
            <th>Preview</th>
          </tr>
        </thead>
        <tbody>
          <% script_files.each_with_index do |script, index| %>
            <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
              <td><%= check_box_tag "selected_scripts[]", File.join(script), false, :id => script[0] == "." ? script[1] : script.join("_") %></td>
              <td><%= h script[1] %></td>
              <td><%= link_to image_tag('icons/Details-16.png', :alt => 'Preview script'), import_local_scripts_preview_scripts_path(:path => File.join(basedir, script)), :title => 'Preview script in a new window', :onclick => "open_preview_script_window(this.href);return false;" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class='button_bar'>
        <%= submit_tag 'Import',:class =>'button', :disable_with => "Importing scripts..." %>
      </div>
    <% end %>

  </div>
<% end %>
