<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <%= static_javascript_include_tag "automation" %>
<% end %>
<h2>
  <%= "Import automations scripts from Library" %>
</h2>
<div class="marginleft5">
<p>
  Choose the type of automation script to import:
</p>
<div class='field'>
  <%= label_tag 'Integration Server', "Integration Server:" %>
  <%= select_tag 'automation_integration_type', options_for_select(ProjectServer.active.collect{|ps| [ps.name, ps.id]}), :include_blank => "Select" %>
</div>
<br/>
<div class='field'>
  <%= label_tag 'To use as', "To use as:" %>
  <%= select_tag 'import_automation_type', options_for_select([["Automation", "automation"], ["Resource Automation", "resource_automation"]]), :include_blank => "Select" %>
</div>
<br/>
<div class='field'>
  <%= label_tag 'Category', "Category:" %>
  <%= select_tag 'automation_category_type', [], :include_blank => "Select" %>
</div>
<br/>
  <%= hidden_field_tag 'automation_category_type_url', render_automation_types_scripts_path %>
<p style='margin-right: 10px;margin-top:5px;'>
  Use the checkboxes to select scripts to import from the application's local library of sample scripts.
</p>
</div>
<br/>
<div id="import_library_section">
</div>
