<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= f.error_messages %>
<div class='field'>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'initialFocus' %>
</div>
<div class='field'>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 2 %>
</div>
<div class='field'>
  <%= f.label :strict %>
  <%= f.check_box :strict %>
</div>
<div class='field'>
  <%= f.label :label_color, 'Label color' %>
  <%= select_label_color(@environment_type) %>
</div>