<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% backlink = environment_types_path %>
<% title = 'Create New Environment Type' %>
<% page_settings :title => title %>
<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
<br class='clear'/>
<br>
<%= form_for @environment_type, :html => {:class => 'cssform'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class='field'>
    <%= f.submit I18n.t(:create), :class => "button" %>
    or
    <%= link_to 'cancel', backlink %>
  </div>
<% end %>

