<tbody>
<% @version_tag_list.each do |version_tag| %>
    <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
      <td><%= version_tag.id %></td>
      <td>
        <% if can?(:edit, version_tag) %>
            <%= link_to index_title(h(version_tag.name)), edit_version_tag_path(version_tag) %>
        <% else %>
            <%= index_title h(version_tag.name) %>
        <% end %>
      </td>
      <td><%= version_tag.application_name %></td>
      <td><%= version_tag.environment_name %></td>
      <td><%= version_tag.installed_component.nil? ? "-#{I18n.t(:none)}-" : version_tag.installed_component.name %></td>
      <td><%= version_tag.artifact_url %></td>
      <td><%= " #{version_tag.count_of_existing_requests_through_step} | #{version_tag.count_of_request_templates_through_steps} | #{version_tag.count_of_procedures_through_steps} " %></td>
      <td>
        <% if @position == 'unarchived' %>
            <% if can?(:edit, version_tag) %>
                <%= link_to I18n.t(:edit), edit_version_tag_path(version_tag) %>
            <% end %>

            <% if version_tag.can_be_archived? && can?(:archive_unarchive, VersionTag.new) %>
                <%= '&nbsp;|&nbsp;'.html_safe if can?(:edit, version_tag) %>
                <%= link_to I18n.t(:archive), archive_version_tag_path(version_tag), :method => :put %>
            <% end %>

        <% else %>

            <% if can?(:archive_unarchive, version_tag) %>
                <%= link_to I18n.t(:unarchive), unarchive_version_tag_path(version_tag), :method => :put %>
            <% end %>

            <% if version_tag.destroyable? && can?(:delete, version_tag) %>
                <%= '&nbsp;|&nbsp;'.html_safe if can?(:archive_unarchive, version_tag) %>

                <%= link_to I18n.t(:delete),
                            version_tag,
                            method: :delete,
                            confirm: I18n.t(:confirm_deletion, item: I18n.t(:'activerecord.models.version_tag'))
                %>
            <% end %>
        <% end %>
      </td>
    </tr>
<% end %>
</tbody>
