<% app_name = app_id.nil? ? "unassigned" : App.find_by_id(app_id).try(:name) %>
<tr>
  <td class='report_title_row' <%= tag_options({:colspan => 2}, false) %>>
    <%= "App: #{app_name}" %>
  </td>
  <td class='report_title_row'>
    <%= "Runs: #{plan.runs.nil? ? " - " : run_name_links_for_app(plan, app_id)}".html_safe %>
  </td>
  <td class='report_title_row' <%= tag_options({:colspan => 2}, false) %>>
    <%= "Requests: #{app_id.nil? ? " - " : request_name_links_for_app(plan, app_id)}".html_safe %>
  </td>
</tr>
