<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% backlink = version_tags_path %>
<% title = 'Create New Versions' %>
<% page_settings :title => title %>
<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>
<%= static_javascript_include_tag 'version_tags' %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
<br class='clear'/>
<br>
<%= form_tag bulk_create_version_tags_path, {:remote => true, :class => 'cssform', :method => :post, :multipart => true, :id => "bulk_create_versions"} do %>
  <div id='error_messages'></div>
  <div class='field'>
    <label for='name'>*Version</label>
    <%= text_field_tag 'name', '', :class => 'initialFocus', :style => 'width: 200px' %>
  </div>
  <div class='field'>
    <label for='app_id'>*Application</label>
    <%= select_tag 'app_id', raw("<option></option> #{options_from_collection_for_select(App.active.name_order, :id, :name, nil)}"), :style => 'width: 200px' %>
    <%= hidden_field_tag 'app_env_pick_list_url', app_env_pick_list_version_tags_path %>
  </div>
  <div class='field'>
    <label for='component_id'>*Component</label>
    <%= select_tag 'component_id', [], :class => 'use_remote_options', :rel => 'app_id', :include_blank => true, :style => 'width: 200px' %>
    <%= hidden_field_tag 'component_id_url', app_component_remote_options_version_tags_path %>
  </div>
  <div class='field'>
    <label for='artifact_url'>Artifact URL</label>
    <%= text_field_tag 'artifact_url', '', :style => 'width: 300px' %>
  </div>
  <div id='app_env_pick_list'>
    <%= "Please select an Application" %>
  </div>
  <div class='field'>
    <%= submit_tag I18n.t(:create), :class => "button" %>
    or
    <%= link_to 'cancel', version_tags_path %>
  </div>
<% end %>

