<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% backlink = version_tags_path %>
<% title = "Edit Version: #{h(@version_tag.name)}" %>
<% page_settings :title => title %>
<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
<br>
<br>
<%= form_for @version_tag, :html => { :class => 'cssform' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :version_tag => @version_tag } %>
  <div class='field'>
    <%= f.submit "Update", :class => "button" %>
    or
    <%= link_to 'cancel', version_tags_path %>
  </div>
<% end %>

