<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'plans' %>
<% end %>
<% title = "Ticket Summary Report for Release: #{@plan.name}, Release date: #{@plan.release_date}" %>
<% page_settings :title => title %>
<%= render :partial => "plans/tabs", :locals => { :selected => "reports", :plan => @plan } %>
<% ticket_apps = App.find_all_by_id(@plan.tickets.map(&:app_id).uniq.reject{|k| k.nil? }).sort{ |a,b| a.name <=> b.name } %>
<% ticket_groups = (@app_id.nil? || @app_id == "all") ? @plan.tickets.group_by(&:app_id) : @plan.tickets.by_app_id(@app_id).group_by(&:app_id) %>
<h3>
  <%= title %>
</h3>
<br/>
<span style='width:500x;float:right;'>
  <form <%= tag_options({:method => "post", :id => "ticket_choose_app", :action => ticket_summary_report_plan_path(@plan.id)}, false) %>>
    <div class='field'>
      <label for='app_id'>Application</label>
      <%= select_tag 'app_id', "<option value='all'>All</option> #{options_from_collection_for_select(ticket_apps, :id, :name, @app_id.to_i)}", :style => 'width: 200px', :onchange => 'this.form.submit()' %>
    </div>
  </form>
</span>
<div class='top_div' id='ticket_list_table_div' rel='ticket'>
  <table class='ticketList formatted_table'>
    <% if ticket_groups.empty? %>
      <tr>
        <td colspan='0'>
          There are no associated tickets
        </td>
      </tr>
    <% else %>
      <thead>
        <tr>
          <th></th>
          <th>Ticket ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% ticket_groups.each do |app_id,tickets| %>
          <%= render :partial => "tickets/summary_app_row", :locals => { :plan => @plan, :app_id => app_id } %>
          <% tickets.each do |ticket| %>
            <tr <%= tag_options({:id => "ticket_#{ticket.id}", :class => cycle('even', 'odd')}, false) %>>
              <td>
                <nbsp></nbsp>
              </td>
              <td>
                <%= h(ticket.foreign_id) %>
              </td>
              <td>
                <%= h(ticket.name) %>
              </td>
              <td>
                <%= h(ticket.ticket_type) %>
              </td>
              <td>
                <%= h(ticket.status) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
