<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2014
   # All Rights Reserved.
   ################################################################################
%>
<tr class='version_row' <%= tag_options({:class => cycle('', 'alt')}, false) %>>
  <td>
    <span class='version' <%= tag_options({:id => dom_id(version_tag)}, false) %>>
      <%= image_tag 'drag.gif' %>
    </span>
  </td>
  <td>
    <% if can?(:edit, version_tag) %>
        <%= link_to index_title(h(version_tag.name)), edit_version_tag_path(version_tag) %>
    <% else %>
        <%= index_title h(version_tag.name) %>
    <% end %>
  </td>
  <td>
    <% if can?(:edit, version_tag) %>
        <%= link_to I18n.t(:edit), edit_version_tag_path(version_tag) %>
    <% end %>

    <% if version_tag.can_be_archived? && can?(:archive_unarchive, version_tag) %>
        <%= '&nbsp;|&nbsp;'.html_safe if can?(:edit, version_tag) %>
        <%= link_to I18n.t(:archive), archive_version_tag_path(version_tag), :method => :put %>
    <% end %>
  </td>
</tr>
