<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='cssform' id='view_request'>
  <table class='formatted_table index_table' style='margin: 0;'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Process</th>
        <th>Application</th>
        <th>Environment</th>
        <th>Requestor</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div <%= tag_options({:class => "#{request.aasm.current_state}RequestStep state", :id => "request_status"}, false) %>>
            <%= request.aasm.current_state.to_s.humanize %>
          </div>
        </td>
        <td <%= tag_options({:title => request.name}, false) %>><%= index_title(truncate(request.name, :length => 50)) %></td>
        <td><%= (ensure_space request.business_process && h(request.business_process.name)).html_safe %></td>
        <td><%= (ensure_space(app_name_links(request))).html_safe %></td>
        <td><%= request.environment_name %></td>
        <td><%= request.requestor_name %></td>
        <td><%= request.owner_name %></td>
      </tr>
    </tbody>
  </table>
</div>
<div id='collapse_request_link'>
  <%= link_to t(:expand), '#', id: 'expand_request_header', rel: @request.number, class: 'collapsed', style: "font-size:80%;" if params[:action] != "reorder_steps" %>
</div>
