<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings title: request_edit_page_title_for(@request) %>
<%= static_javascript_include_tag 'request_templates', 'ajaxfileupload', 'ie/resolution_fixes', 'activities', 'request_form', 'select2' %>
<%= stylesheet_link_tag 'request' %>
<% content_for :head do %>
  <style type='text/css'>
    <% if @request.hold? %>
      table#steps_list th.step_position {padding:1px 22px;}
    <% end %>
    <% if request.user_agent.present? && request.user_agent.include?('MSIE 7.0') %>
      table#steps_list td.first input {left:12px;}
      table#steps_list td.first a.button {left:12px;}
    <% end %>
  </style>
<% end %>

<% content_for :sidebar do %>
  <% if @request.is_available_for_current_user? %>
    <div class='section request_buttons'>
      <div id='rename_request_template'>
        <%= render('request_templates/rename_request_template') unless @request_template.blank? %>
      </div>
      <%= render('requests/button_sidebar', request: @request) unless @request.template? %>
      <% if @request.request_template %>
        <br>
        <% unless action_name == 'show' %>
          <br>
          <%= form_tag create_from_template_requests_path do %>
            <%= hidden_field_tag :request_template_id, @request.request_template.id %>
            <%= image_submit_tag 'btn-new-request-from-template.png', alt: 'New Request From Template' %>
          <% end %>

        <% end %>
      <% else %>
        <% if can? :create_template, @request %>
          <%= form_for [@request, RequestTemplate.new], remote: true do |f| %>
            <p style='display:none'>
              <%= f.label :name, 'Name of Template' %>
              <%= f.text_field :name, value: @request.name %>
            </p>
            <%= image_submit_tag 'btn-create-template.png', id: 'btn-create-template', alt: 'Create Template' %>
          <% end %>

        <% end %>
      <% end %>
      <br>
      <% if can? :create_procedure, @request %>
        <%= form_for Procedure.new, as: :procedure, url: procedures_path, html: { id: 'new_procedure' } do |f| %>
          <div id='procedure_form_div' style='display:none;margin-top:10px;margin-bottom:10px;margin-left:10px;'>
            <h2>Create New Procedure</h2>
            <div class='field'>
              <label><%= 'Name' %></label>
              <%= f.text_field :name %>
            </div>
            <div class='field'>
              <label><%= 'Description' %></label>
              <%= f.text_area :description, rows: 0, class: 'expand', value: "Steps from request ##{@request.number}" %>
            </div>
            <p class='expand_textarea_link' style='padding-right:0'>
              [
              <a href="javascript:toggleTextarea('procedure_description', 'procedure_desc')" id='procedure_desc'>expand</a>
              ]
            </p>
          </div>
          <%= hidden_field_tag 'request_id', @request.id %>
          <% @request.apps.each do |app| %>
            <%= hidden_field_tag 'app_ids[]', app.id %>
          <% end %>
          <%= image_submit_tag 'btn-create-procedure.png', id: 'btn-create-procedure', alt: 'Create Procedure', style: 'width:118px;' %>
        <% end %>

      <% end %>
      <% if can?(:clone, @request) && @request_template.blank?%>
          <br>
          <%= link_to image_tag("btn-clone.png", border: 0),
                      new_clone_request_path(@request),
                      rel: 'facebox'%>
      <% end %>

      <% if @request.deletable_by?(current_user) %>
        <%= form_for @request, html: { method: :delete } do %>
          <div class='request_options'>
            <%= image_submit_tag 'btn-delete.png', id: 'request_delete', data: { confirm: I18n.t('confirm_deletion', item: 'request') } %>
          </div>
        <% end %>
      <% end %>

      <br/>
    </div>
  <% end %>
  <div class='step_owner_alert' id='toggleStepStartAlert'></div>
  <div id='step_owner_message'></div>
  <script type="text/template" id="step_owner_message_tpl">
    <div class="step_owner_message">
      <a href="#" id="go_to_step" rel="{step_id}">Step#{step_position}</a> is ready to start
      <span title='close' class='fr close' style='text-indent:9999px;'></span>
    </div>
  </script>
  <br/>
  <%= link_to 'Export as XML', export_xml_request_path(@request, send_inline_xml: true) if can? :export_as_xml, @request %>
  <% if GlobalSettings.is_WickedPdf_installed? and can?(:export_as_pdf, @request) %>
    <br/>
    <%= link_to 'Export as PDF', request_path(@request, format: :pdf, cs: Time.now.to_i), target: '_blank' %>
  <% end %>
  <br/>
  <%= link_to 'Export HTML', request_path(@request, format: :html, cs: Time.now.to_i, export: true), target: '_blank' if can?(:export_as_html, @request) %>
  <br/>
  <% if can?(:import_steps, @request) %>
    <%= link_to 'Import Steps', paste_steps_request_path(@request), rel: 'facebox' %>
  <% end %>
  <br/>
  <br/>
  <% unless @request.logs.empty? %>
    <div id='rpt_toggleLink'>
      <strong>Request Activity</strong>
      <%= link_to_function '(show)', 'toggleSection($(this))', rel: '(hide)', class: 'request_activity' %>
    </div>
    <div class='section' id='request_activity' style='display:none'>
      <%= render 'requests/activity_by_time', request: @request, log_groups: @log_groups %>
    </div>
    <%= link_to 'Update Request Info', update_request_info_request_url(@request.id), { remote: true }, html:
        { id: 'update_request_info', style: 'display:none' } %>
  <% end %>
  <% number_of_steps = @request.steps.count %>
  <div class='section' id='request_info'>
    <%= render '/requests/request_info', number_of_steps: number_of_steps %>
  </div>
  <%= render 'shared/process_map', show_map: ( number_of_steps > 2 ? false : true) %>
<% end %>

<%= render 'requests/tabs' %>

<% unless @request.request_template_id.nil? %>
  <%= render 'requests/variant_tabs' %>

  <span class='back_to_request_templates'>
    <%= link_to raw("&lt;&lt;back"), request_templates_path(page: params[:page], key: params[:key]) %>
  </span>

  <% if @request.request_template.can_change_aasm_state?  && can?(:update_state, @request.request_template) %>
    <%= render 'object_state/state_indicator', passed_obj: @request.request_template %>
  <% end %>
<% end %>
