<%
   # #############################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2015
   # All Rights Reserved.
   # #############################################################################
%>

<% has_plan_view = defined?(plan_view) || false %>
<% if @request_dashboard[:can_view_requests_list] %>
  <% if requests.empty? %>
    <p>There are no requests scheduled for this time.</p>
  <% else %>
    <table class="requestList formatted_table">
      <thead>
      <%= render partial: 'requests/request_table_header' %>
      </thead>
      <tbody>
      <% requests.each do |recent_request| %>
        <% cache [recent_request, can?(:inspect, request), can?(:view_requests_list, request), has_plan_view] do %>
          <tr class="plan_row <%= request_row_class(has_plan_view, recent_request) %> <%= cycle('white_bg', 'alt') %>"
              id="request_row_<%= recent_request.try(:id) %>"
          >
            <%= request_id_td(recent_request, @request_dashboard[:current_user_app_ids]) %>
            <%= request_number_td(recent_request) %>
            <%= request_name_td(recent_request) %>
            <%= request_owner_td(recent_request) %>
            <%= request_release_td(recent_request) %>
            <td>
              <%= link_to 'RP', recent_request.plan if recent_request.plan && !has_plan_view %>
              <%= link_to 'P', recent_request.activity if recent_request.activity %>
            </td>
            <%= request_app_td(recent_request) %>
            <%= request_env_td(recent_request) %>
            <%= request_deployment_window_td(recent_request) %>
            <%= request_scheduled_td(recent_request) %>
            <%= request_duration_td(recent_request) %>
            <%= request_due_td(recent_request) %>
            <%= request_steps_td(recent_request) %>
            <%= request_created_td(recent_request) %>
            <%= request_participants_td(recent_request) %>
        <% end %>

        <% if @request_dashboard[:page_path].match(/bulk_destroy/) %>
          <td class="delete_request">
            <%= check_box_tag 'deleted_request', '', false, {onclick: 'select_bulk_requests($(this))', autocomplete: 'off'} %>
          </td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
