<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= stylesheet_link_tag 'request' %>
<% content_for :sidebar do %>
  <div>
    <h2 style="display:block;">Procedures</h2>
    <table class="formatted_table proc_table">

      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Steps</th>
        </tr>
      </thead>

      <% @procedures.each do |procedure| %>
        <% next if procedure.steps.empty? %>
        <tr>
          <td>
            <div class="procedure step create_new_on_drop" data-color-id="<%= procedure.name %>">
              <%=truncate(h(procedure.name),:length =>20)%>
              <%= form_tag add_to_request_procedure_path(procedure) do %>
                <%= hidden_field_tag :request_id, request.number %>
                <%= hidden_field_tag 'step[owner_id]', request.user_id %>
                <%= hidden_field_tag 'step[owner_type]', 'User' %>
                <%= hidden_field_tag 'step[name]', procedure.name %>
                <%= hidden_field_tag 'step[description]', procedure.description %>
              <% end %>
            </div>
          </td>
          <td><%= truncate h(procedure.description), :length => 20 %></td>
          <td><%= procedure.steps.length %></td>
        </tr>
      <% end %>

    </table>
    <% if can?(:access, :metadata) && can?(:list, Procedure.new) %>
      <%= link_to 'manage procedures', procedures_path, class: 'manage_procedures' %>
    <%end%>
  </div>
<% end %>

<div id="step">

  <div class="subheader">
    <%= link_to image_tag('done_reordering.png'), edit_request_path(request), class: 'done_reordering' %>
    <h2>Steps</h2>
  </div>

  <div>

    <% request.each_step_phase do |steps| %>
      <% movable = steps.any? { |st| st.not_movable? } %>
      <% if  movable %>
        <div class="step_phase_divider frozen"><p></p></div>
      <%else%>
        <div class="step_phase_divider"><p></p></div>
      <% end %>
        <div class="step_phase <%= movable ? 'frozen' : '' %>" >

          <% steps.each do |step| %>

            <% if step.procedure? %>
                <%= render :partial => 'steps/procedure_for_reorder', :locals => {:step => step, :request => request} %>
            <% else %>
                <%= render :partial => 'steps/step_for_reorder', :locals => {:step => step, :request => request} %>
            <% end %>

          <% end %>

        </div>

    <% end %>

    <div class="step_phase_divider"><p></p></div>

    <div style="clear:both"></div>

  </div>
</div>
