<%
   # #############################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   # #############################################################################
%>
<tr class="plan_row <%= request_row_class(defined?(plan_view), recent_request) %> <%= cycle('white_bg', 'alt') %>"
    id="request_row_<%= recent_request.try(:id) %>">
  <%= request_id_td(recent_request) %>
  <%= request_number_td(recent_request) %>
  <%= request_name_td(recent_request) %>
  <%= request_owner_td(recent_request) %>
  <%= request_release_td(recent_request) %>
  <td>
    <%= link_to "RP", recent_request.plan if recent_request.plan && !defined?(plan_view) %>
    <%= link_to "P", recent_request.activity if recent_request.activity %>
  </td>
  <%= request_app_td(recent_request) %>
  <%= request_env_td(recent_request) %>
  <%= request_scheduled_td(recent_request) %>
  <%= request_duration_td(recent_request) %>
  <%= request_due_td(recent_request) %>
  <%= request_steps_td(recent_request) %>
  <%= request_created_td(recent_request) %>
  <%= request_participants_td(recent_request) %>
  <% if @page_path and @page_path.match(/bulk_destroy/) %>
    <td class="delete_request">
      <% if true || recent_request.cancelled? || recent_request.complete? %>
        <%= check_box_tag "deleted_request", "", false, {:onclick => "select_bulk_requests($(this))", :autocomplete => "off"} %>
      <% else %>
        <%= check_box_tag "deleted_request", "", false, {:disabled => "disabled"} %>
      <% end %>
    </td>
  <% end %>
</tr>

