<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
<% page_settings title: 'Apply Template to ' + request_edit_page_title_for(@request), heading: 'Apply Template to ' + request_edit_page_title_for(@request), full_screen: true %>
<% content_for :head do %>
  <%= static_javascript_include_tag 'multi_select', 'search', 'activities', 'request_templates', 'self_services' %>
<% end %>
<% content_for :sidebar do %>
  <br>
  <% if can?(:choose_template, Request.new) %>
    <%= link_to_function image_tag('btn-choose-template.png'), 'loadRequestTemplates($(this))',
                         numeric_pagination: true,
                         rel: choose_request_templates_path(numeric_pagination: true, visible_only: 'draft') %>
  <% end %>
<% end %>
<div id='request_templates'></div>
<%= form_for(@request, html: {id: 'new_request', class: 'request cssform', multipart: true}) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :numeric_pagination, true %>
  <%= render 'form', f: f, request: @request, human_date_format: @human_date_format %>
  <%= hidden_field :request, :id, value: @request.id %>
  <%= f.hidden_field :activity_id %>
  <div class='options'>
    <%= f.submit 'Update Request' %>
    or
    <%= link_to 'cancel', request_path(@request) %>
  </div>
<% end %>

