<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<%= form_for(@request, :remote => true, :url => {:action => "create_clone"}, :html => { :class => 'request cssform', :multipart => true }) do |f| %>
  <h2>Edit cloned Request</h2>
  <%= f.error_messages %>
  <% if flash[:warning] %>
    <div class="bg-warning">
      <p class="bold"><%= flash[:warning] %></p>
    </div>
  <% end %>
  <div id="error_messages"></div>
  <div id="clone_loader_placeholder"></div>
  <%= render :partial => 'requests/form', :locals => { :f => f, :request => @request, :human_date_format => @human_date_format } %>

  <div class="button_bar">
  <%= f.submit "Clone", :id=> "create_clone_request" %>
  </div>
<% end %>
