<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<script type='text/javascript'>$(document).ready(function() { $(".co").hide();  });</script>
<% flag = 1 %>
<% for step in @steps %>
  <% if step.component %>
    <% last_deployed = last_deployed_at(@request, step.component.id) %>
    <% if last_deployed.eql?('Error') %>
      <% flag = 0 %>
    <% end %>
    <% break if flag == 0 %>
  <% end %>
<% end %>
<% if flag == 1 %>
  <div id='component_version'>
    <h3>
      <%= "Edit Component Versions > #{@request.environment.try(:name)}" %>
    </h3>
    <div>
      <strong>
        Enter the versions for components in this request.
        <br>
        Edits here will be reflected in all steps for the following components.
      </strong>
    </div>
  </div>
  <%= form_for :step, :url => component_versions_request_path, :html => {:class => 'cssform',:style => "display:block;zoom:1;"} do %>
    <table class='component_table'>
      <tr>
        <th class='component_header'>Component</th>
        <th class='component_header'>Last Deploy</th>
        <th class='component_header'>
          Current
          <%= @request.environment.try(:name) %>
        </th>
        <th class='component_header'>
          Proposed
          <%= @request.environment.try(:name) %>
        </th>
        <% for env in request_apps_environments(@request) %>
          <th <%= tag_options({:id => "env_header_#{env.id}", :class => "component_header co", :colspan => 2}, false) %>></th>
        <% end %>
      </tr>
      <tr>
        <th class='component_header'></th>
        <th class='component_header'></th>
        <th class='component_header'></th>
        <th class='component_header'></th>
        <% for env in request_apps_environments(@request) %>
          <th <%= tag_options({:id => "env_header_#{env.id}1", :class => "component_header co"}, false) %>>Version</th>
          <th <%= tag_options({:id => "env_header_#{env.id}2", :class => "component_header co"}, false) %>>Last Deploy</th>
        <% end %>
      </tr>
      <% for step in @steps %>
        <% if step.component %>
          <tr <%= tag_options({:class => cycle('component_dark', 'component_light')}, false) %>>
            <td class='component_content'><%= step.component.try(:name) %></td>
            <td class='component_content'><%= last_deployed_at(@request, step.component.id) %></td>
            <td class='component_content'><%= get_current_installed_version(@request, step.component.id) %></td>
            <td class='component_content'>
              <% if GlobalSettings.limit_versions? %>
                <%= version_select(step, "new_version[#{step.id}]") %>
              <% else %>
                <%= text_field_tag "new_version[#{step.id}]", '', :size => 8 %>
              <% end %>
            </td>
            <% request_apps_environments(@request).each do |env| %>
              <td <%= tag_options({:id => "env_versions_#{env.id}_#{step.component.id}", :class => 'component_content co'}, false) %>></td>
              <td <%= tag_options({:id => "env_deploy_#{env.id}_#{step.component.id}", :class => 'component_content co'}, false) %>></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
    <h4>View other environments for this application:</h4>
    <% for env in request_apps_environments(@request) %>
      <% unless @request.environment.try(:name).eql?(env.try(:name)) %>
        <%= check_box_tag "env[#{app_ids_for(@request,env)}][#{env.id}]", false, false, :onclick => "handleEnvVisibility('#{env_visibility_request_path(:env_id => env.id)}' + '&checked_status=' + this.checked);" %>
      <% else %>
        <%= check_box_tag "env[#{app_ids_for(@request,env)}][#{env.id}]", false, false, :disabled => true %>
      <% end %>
      <%= env.name %>
      <br>
    <% end %>
    <div class='button_bar'>
      <%= submit_tag "Submit",:class =>'button' %>
    </div>
  <% end %>

<% else %>
  <h4>You need to fix the problem steps that are marked in red color before editing component versions.</h4>
<% end %>
