<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if @request.plan_member.plan.try(:archived?) %>
  <div class="errorExplanation"><p>Plan related to Request is archived.</p></div>
<% end %>
<%= static_javascript_include_tag 'steps', 'multi_select', 'tickets', 'filters', 'server_messages' %>
<script src="<%= stomp_js_path %>"></script>
<%= render :partial => 'requests/edit' %>
<div id='request_header_collapse' style='display:none'><%= render :partial => 'requests/collapsed_header', :locals => { :request => @request } %></div>
<div id='request_header_expanded' style='display:none'><%= render :partial => 'requests/expanded_header', :locals => { :request => @request,
                                                                                                                       :business_processes => @business_processes,
                                                                                                                       :apps => @apps,
                                                                                                                       :human_date_format => @human_date_format } %></div>
<%= javascript_tag('expandPageContent()') %>
<%= steps_container %>
<%= hidden_field_tag 'reload_page', @request.complete? ? 0 : 1 %>
<%= hidden_field_tag 'do_not_reload', '' %>
<%= hidden_field_tag 'aasm_state', @request.aasm.current_state %>
<%= hidden_field_tag 'request_number', @request.number %>
<%= hidden_field_tag 'current_user_id', current_user.id %>
<%= hidden_field_tag 'current_user_name', current_user.name %>
<%= hidden_field_tag 'update_counter', 1 %>
<%= hidden_field_tag 'page_refreshed_at', Time.now.to_i %>
<%= hidden_field_tag 'no_overlay', true %>
