<!-- This file is the property of StreamStep, Inc.
The contents of this file are covered by Copyright by StreamStep, Inc.
Any unauthorized and unlicensed use is strictly prohibited.
The software source code can be used only with a valid software license from StreamStep, Inc.
In NO WAY is this software open source, free, or in the public domain. -->

<% content_for :head do %>
	<%= stylesheet_link_tag 'properties' %>
<% end %>


<%= render :partial => "requests/edit" %>

<table class="property_summary_rpt" style="font-size:13px;">
	<tr>
		<td>
			<div id="request_header_rpt" style="display:inline">
				<h3>Request: <%= request_edit_page_title_for(@request,"summary_tab")%></h3>
				Application: <strong> <%= ensure_space(@request.app_name.to_sentence) + " in " + "#{@request.environment.try(:name)}" %> environment</strong><br>
				<% unless @request.logs.empty? %>
					Last Run: <strong> <%= @request.logs.first.user.name + " on " + @request.last_activity_at.default_format %></strong>
				<% end %>

			</div>
		</td>
	</tr>
	<tr>
		<th>
			<hr>
			<div id="rpt_toggleLink">
				Component Properties <%= link_to_function "(hide)", "toggleSection($(this))", :rel => "(show)", :class => "component_property_rpt" %>
			</div>
		</th>
	</tr>
	<tr>
		<td>
			<div id="component_property_rpt" style="display:block">
				<% @property_maps[:components].each do |ic| %>
					<%= render :partial => 'requests/reports/component_property_rpt', :locals => { :request => @request, :installed_component_id => ic } %>
				<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<th>
			<hr>
			<div id="rpt_toggleLink">
				Server Properties <%= link_to_function "(hide)", "toggleSection($(this))", :rel => "(show)", :class => "server_property_rpt" %>
			</div>
		</th>
	</tr>
	<tr>
		<td>
			<div id="server_property_rpt" style="display:block">
				<% @property_maps[:servers].each do |server| %>
					<%= render :partial => 'requests/reports/server_property_rpt', :locals => { :request => @request, :server_id => server, :type => "physical" } %>
				<% end %>
				<% @property_maps[:server_aspects].each do |server| %>
					<%= render :partial => 'requests/reports/server_property_rpt', :locals => { :request => @request, :server_id => server, :type => "aspect" } %>
				<% end %>
			</div>
		</td>
	</tr>
</table>
