<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<h2>Schedule Request <%= @request.number %></h2>

<%= form_tag commit_schedule_activity_request_path(@activity, @request), :method => :put, :class => 'cssform' do %>
  <p>
    <label style="margin-top: 5px;">Recur Time:</label>
    <%= select_tag 'schedule[hour]', options_for_select(%w{ 01 02 03 04 05 06 07 08 09 10 11 12 }), :class => 'hour' %>:
    <%= select_tag 'schedule[minute]', options_for_select(%w{ 00 15 30 45 }), :class => 'minute' %>
    <%= select_tag 'schedule[meridian]', options_for_select(%w{ AM PM }), :class => 'meridian' %>
  </p>
  
  <br class="clear" />
  <div class="button_bar">
    <%= submit_tag "Schedule" %>
  </div>
<% end %>
