<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<% content_for :head do %>
<%= stylesheet_link_tag 'properties' %>
<% end %>
<%= render :partial => "requests/edit" %>

<% steps_map = @request.steps_execution_time %>
<% by_duration = steps_map.keys.map(&:to_f).sort.reverse %>

<table id="coordination_summary" class="activity_summary_rpt" cellpadding="0" cellspacing="0" width="700" style="font-size:13px;">
	<tr>
		<td>
                <% if GlobalSettings.is_WickedPdf_installed? %>
                  <div id="rpt_toggleLink" style="float:right">
					<strong><%= link_to "Generate PDF", summary_request_path(@request, :format => :pdf), :target => "_blank" %></strong>
				  </div>
                <% end %>
				<div id="rpt_toggleLink" style="float:right">
					<strong><%= link_to "Generate HTML", summary_request_path(@request, :export=>true , :format => :html), :target => "_blank" %></strong>
				</div>
			<div id="request_header_rpt" style="display:inline">
				<h3>Request: <%= request_edit_page_title_for(@request,"summary_tab")%></h3>
				Application: <strong> <%= ensure_space(@request.app_name.to_sentence) + " in " + "#{@request.environment.try(:name)}" %> environment</strong><br>
				<% unless @request.logs.empty? %>
					Last Run: <strong> <%= @request.logs.first.user.name + " on " + @request.last_activity_at.default_format %></strong>
				<% end %>
		
			</div>
		<td>
	</tr>
  <tr>
    <th> <table cellpadding="0" cellspacing="0" width="1139">
        <tr>
          <th width="3">&nbsp;</th>
          <th width="215">&nbsp;</th>
          <th width="142">&nbsp;</th>
          <th width="140">&nbsp;</th>
          <th width="140">&nbsp;</th>
          <th width="140">&nbsp;</th>
          <th width="140">&nbsp;</th>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Run Count: </td>
          <td><%= @request.total_run_count %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Groups: </td>
          <td><%= @request.total_groups %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Participants: </td>
          <td><%= @request.total_participants %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Steps: </td>
          <td><%= @request.total_step %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Active Steps: </td>
          <td><%= @request.steps.should_execute.size - @request.steps.find_procedure.count%></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Automatic Steps: </td>
          <td><%= @request.automatic_steps.nil? ? 0 : @request.automatic_steps.size %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Total Manual Steps: </td>
          <td><%= @request.manual_steps.nil? ? 0 : @request.manual_steps.size %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Scheduled at: </td>
          <td><%= @request.scheduled_at.try(:default_format_date_time) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Run at: </td>
          <td><%= @request.completed_at.try(:default_format_date_time) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Planned at: </td>
          <td><%= @request.planned_at.try(:default_format_date_time) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >Created at: </td>
          <td><%= @request.created_at.try(:default_format_date_time) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <th colspan="7"><b>Time spent in Problem/Blocked state:</b> </th>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td >In Problem/Blocked State:</td>
          <td><%= display_time(@request.steps_time_in_blocked + @request.steps_time_in_problem) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7"><b>Estimated Durations:</b> </td>
        </tr>
        <tr class="coordination_tr_header">
          <td class="spacer">&nbsp;</td>
          <td >Total Estimated Duration</td>
          <td>Automated Steps</td>
          <td>Manual Steps</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="spacer">&nbsp;</td>
          <td ><%= display_time(@request.total_duration_steps * 60) %></td>
          <td><%= display_time(@request.total_duration_steps('auto') * 60) %></td>
          <td><%= display_time(@request.total_duration_steps('manual') *60) %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <% if @request.participant_groups.length > 0 %>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7"><b>By Group Summary:</b> </td>
        </tr>
        <tr class="coordination_tr_header">
          <td class="spacer">&nbsp;</td>
          <td >Group Name</td>
          <td> Ready </td>
          <td colspan="4">&nbsp;</td>
        </tr>
        <% @request.participant_groups.each do |group| %>
        <tr class =<%=cycle('', 'alt')%>>
          <td class="spacer">&nbsp;</td>
          <td ><u><%= group.name %></u></td>
          <td><%= display_time(@request.total_time_by_groups(group.id)) %></td>
          <td colspan="4">&nbsp;</td>
        </tr>
        <% end %>
        <% end %>
        <% if @request.work_tasks.length > 0 %>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7"><b>By Work Task Summary:</b> </td>
        </tr>
        <tr class="coordination_tr_header">
          <td class="spacer">&nbsp;</td>
          <td>Work Tasks</td>
          <td colspan="5">Duration</td>
        </tr>
        <% @request.work_tasks.each do |work_task| %>
        <tr class =<%=cycle('', 'alt')%>>
          <td class="spacer">&nbsp;</td>
          <td width="215"><%= work_task.name %> </td>
          <td colspan="5"><%= display_time(@request.total_time_by_work_tasks(work_task.id)) %> </td>
        </tr>
        <% end %>
        <% end %>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7"><b>By State Summary:</b> </td>
        </tr>
        <tr class="coordination_tr_header">
          <td class="spacer">&nbsp;</td>
          <td >Ready </td>
          <td>Blocked</td>
          <td>In Process</td>
          <td>Problem</td>
          <td>Hold</td>
          <td>&nbsp;</td>
        </tr>
        <tr class =<%=cycle('', 'alt')%>>
          <td class="spacer">&nbsp;</td>
          <td ><%= display_time(@request.steps_time_in_ready) %></td>
          <td><%= display_time(@request.steps_time_in_blocked) %></td>
          <td><%= display_time(@request.steps_time_in_in_process) %></td>
          <td><%= display_time(@request.steps_time_in_problem) %></td>
          <td><%= display_time(@request.steps_time_in_hold) %></td>
          <td>&nbsp;</td>
        </tr>
        <% unless @request.total_participants == 0 %>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="7"><b>By User Summary</b> : </td>
          <% @request.participating_users.each_with_index do |user, i| %>
        <tr>
          <td colspan="3"><u><%= user.name %></u> </td>
        </tr>
        <tr class="coordination_tr_header">
          <td class="spacer">&nbsp;</td>
          <td >Step</td>
          <td> Ready </td>
          <td>In Process</td>
          <td>Problem</td>
          <td>Hold</td>
          <td>&nbsp;</td>
        </tr>
        <% by_duration.each_with_index do |duration, index| %>
        <% step = steps_map[duration].first %>
		<% if step.user_owner? && (step.owner_id == user.id) %>
		  <tr class =<%=cycle('', 'alt')%>>
            <td class="spacer">&nbsp;</td>
            <td ><u><%= "##{step.number} - #{step.name}" %></u></td>
            <td><%= display_time(@request.steps_time_in_ready({"step" => step, "user_id" => user.id})) %></td>
            <td><%= display_time(@request.steps_time_in_in_process({"step" => step, "user_id" => user.id})) %> </td>
            <td><%= display_time(@request.steps_time_in_problem({"step" => step, "user_id" => user.id})) %></td>
            <td><%= display_time(@request.steps_time_in_hold({"step" => step, "user_id" => user.id})) %></td>
            <td>&nbsp;</td>
          </tr>
		<% end %>
        <% end %>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <% end %>
        <% end %>
        <tr>
          <td colspan="7"><b>Longest Running Steps:</b> </td>
        </tr>
        <tr class="coordination_tr_header">
          <td class="spacer">&nbsp;</td>
          <td >Step</td>
          <td> Total Duration </td>
          <td>Ready</td>
          <td>In Process</td>
          <td>Problem</td>
          <td>Hold</td>
        </tr>
        <% by_duration.try(:each_with_index) do |duration, index| %>
        <% step = steps_map[duration].first %>
        <tr class =<%=cycle('', 'alt')%> >
          <td class="spacer">&nbsp;</td>
          <td ><u><%= "##{step.number} - #{step.name}" %></u></td>
          <td><%= display_time(duration) %></td>
          <td><%= display_time(@request.steps_time_in_ready(step)) %> </td>
          <td><%= display_time(@request.steps_time_in_in_process(step)) %></td>
          <td><%= display_time(@request.steps_time_in_problem(step)) %></td>
          <td><%= display_time(@request.steps_time_in_hold(step)) %></td>
        </tr>
        <% end %>
      </table></th>
  </tr>
</table>
