<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% id_stg = ticket.new_record? ? "" : "?id=#{ticket.id}" %>
<%= form_for ticket, :html => { :class => 'cssform' } do |f| %>
<%= f.error_messages %>
<br/>
<% if !ticket.new_record? && ticket.plan_ids.blank? %>
  <strong>
    Warning: Tickets can only be displayed in Plans - no plan currently selected
  </strong>
  <br/>
<% end %>
<br/>
<div class='field'>
  <label for='project_server_id'>*Integration</label>
  <%= f.select :project_server_id, options_for_select(ProjectServer.active.ticketing_systems.collect{|ps| [ps.name, ps.id]}, :selected => ticket.project_server_id ), {:include_blank => "Select"}, :style => 'width: 200px', :disabled => params[:action].eql?('edit'), :autocomplete => "off" %>
</div>
<div class='field'>
  <%= f.label :foreign_id, '*Foreign ID' %>
  <%= f.text_field :foreign_id, :class => 'initialFocus', :style => 'width: 200px' %>
</div>
<div class='field'>
  <%= f.label :name, '*Name' %>
  <%= f.text_field :name, :style => 'width: 200px' %>
</div>
<div class='field'>
  <%= f.label :status, '*Status' %>
  <%= f.text_field :status, :style => 'width: 200px' %>
</div>
<div class='field'>
  <%= f.label :ticket_type, 'Ticket Type' %>
  <%= f.text_field :ticket_type, :style => 'width: 200px' %>
</div>
<div class='field'>
  <label for='plan_id'>Plan</label>
  <%= f.select :plan_ids, options_for_select(Plan.functional.order('plans.name asc').collect{|pl| [pl.name,pl.id]},:selected => ticket.plan_ids), {:include_blank => "Select"}, :style => 'width: 200px' %>
</div>
<div class='field'>
  <label for='app_id'>Application</label>
  <%= f.select :app_id, options_for_select(App.order("apps.name").active.collect{ |a| [a.name, a.id]}, :selected => ticket.app_id), {:include_blank => "Select"}, :style => 'width: 200px' %>
</div>
<div class='field'>
  <%= f.label :url, 'URL' %>
  <%= f.text_field :url, :style => 'width: 200px' %>
  <sup class='help'>
    <a <%= tag_options({:href => "#", :onclick => "return false;"}, false) %>>
      ?
    </a>
  </sup>
  <div class='help_box' style='display:none;'>
    <p>
      Protocol (for example 'http://') should be provided. If protocol skipped then 'http://' will be added by default.
    </p>
    <p>
      For example:<p/>
      <span>
        www.rally.com/?ticket=abc123
      </span>
      <p/>
      <span>
        http://remedy.com/ticket?id=123
      </span>
    </p>
  </div>
</div>
<br class='clear'/>
<strong>
  Extended Attributes
</strong>
<% ext_attr_translations = get_extended_attribute_translations(ticket) %>
<%= render :partial => "extended_attributes/list", :locals => { :extended_attributes => ticket.extended_attributes, :show_relationship => false, :translations => ext_attr_translations} %>
<br class='clear'/>
<div class='field'>
  <%= f.submit ticket.new_record? ? I18n.t(:create) : "Update", :class => "button" %>
  or
  <%= link_to 'cancel', backlink %>
</div>
<% end %>