<%
 ################################################################################
  # BMC Software, Inc.
  # Confidential and Proprietary
  # Copyright (c) BMC Software, Inc. 2001-2012
  # All Rights Reserved.
  ################################################################################
%>
<% unless project_servers.blank? %>

<div class="query_tickets">
	<h2>External Ticket Filters</h2>
	<p>
		Select an available external ticket integration server and filter automation to fetch external tickets
		and associate them, selectively, with a release plan.
	</p>
	<div id="automation_selection_header">
		<span id="ticket_project_server_selector"> <%= label_tag :project_servers, "Select Server/Filter" %>
			<%= select_tag :resource_automation_id, options_from_collection_for_select(project_servers, "id", "name" ), 
			'data-path' => resource_automations_tickets_path, 'data-plan-id' => plan.id, :prompt => "Select ticketing server..." %> </span>
		<span id="ticket_resource_automation_selector"> 
			<%= render :partial => "tickets/resource_automations", :locals => { :project_server => nil, :resource_automations => nil, :plan => plan } %>
		</span>

		<% unless saved_queries.blank? -%>
			<span id="saved_query_selector">
				<%= render :partial => "tickets/saved_query_selector", :locals => { :saved_queries => saved_queries, :plan => plan } %>
			</span>
		<% end -%>
	</div>
	<div id="ticket_filter_arguments">
		<%= render :partial => "tickets/filter_arguments", :locals => { :script => nil, :step => nil } %>
	</div>
	<div id="ticket_filter_results">
		<%= render :partial => "tickets/filter_results", :locals => { :plan => plan, :external_script_output => external_script_output } %>
	</div>
</div>
<% else -%>
<div class="query_tickets">
	<h2>External Ticket Filters</h2>
	<p>
		There are no <%= 'other' if @exclude_project_server %> active project servers with ticketing resource automations.
	</p>
	<p>
		Ask your administrator to define an Integration and install Automations capable of returning tickets
		that external ticket service.
	</p>
</div>
<% end -%>
