<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class="ticket_select_under_tab">

   <div class="ticket_header_with_toggle">
    <div id='tickets_list_div' class="step_ticket_toggle" >
      <div id='toggleFilterStepTicketLink'>
        <%= link_to_function "Open Filters", "toggleFiltersTicketsSection()", :rel => "Close Filters", :class => "filterSection", :id => "filter_section", :style =>'margin-right:22px!important' %>
      </div>
    </div>
  </div>
  <div id='modelFilterSection' class="ticket_model_filter_selection"><%= render :partial => 'tickets/filters/ticket_filters', :locals => {:step_facebox => true} %></div>

  <div class="ticket_pagination_in_facebox" style="width:680px"><%= render :partial => 'tickets/ticket_pagination',
        :locals => {:tickets => tickets, :position => "top", :is_facebox => true, :clazz =>  'ticket_step_facebox_pagination'} %>
  </div>
  <div id="select_tickets_form_facebox">
    <%= render :partial => 'tickets/tickets_table', :locals => {:tickets => tickets, :actions => @actions ,:step_facebox => true } %>
  </div>
  <br/>


</div>
<%= javascript_tag('toggleStepFaceboxTicketsFilterLink();') %>
<%= javascript_tag('selectAssignedTicketCheckBoxes();'); %>
<%= javascript_tag('sortable_table_header_arrow_assignment();'); %>
