<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'plans' %>
<% end %>
<% title = "Ticket Summary Report for Release: #{@plan.name}, Release date: #{@plan.release_date.try(:default_format_date)}" %>
<% page_settings :title => title %>
<% content_for :sidebar do %>
  <%= link_to "Generate CSV", ticket_summary_report_csv_plan_path(@plan, :app_id => @app_id) %>
<% end %>
<%= render :partial => "plans/tabs", :locals => { :selected => "reports", :plan => @plan } %>
<% ticket_apps = App.find_all_by_id(@plan.tickets.map(&:app_id).uniq.reject{|k| k.nil? }).sort{ |a,b| a.name <=> b.name } %>
<% ticket_groups = (@app_id.nil? || @app_id == "all") ? @plan.tickets.group_by(&:app_id) : @plan.tickets.by_app_id(@app_id).group_by(&:app_id) %>
<div id='plans_container'>
  <h3>
    <%= title %>
  </h3>
  <br/>
  <span class='noprint' style='width:500x;float:right;'>
    <form <%= tag_options({:method => "post", :id => "ticket_choose_app", :action => ticket_summary_report_plan_path(@plan.id)}, false) %>>
      <div class='field'>
        <label for='app_id'>Application</label>
        <%= select_tag 'app_id', "<option value='all'>All</option>".html_safe + options_from_collection_for_select(ticket_apps, :id, :name, @app_id.to_i), :style => 'width: 200px', :onchange => 'this.form.submit()' %>
      </div>
    </form>
  </span>
  <div class='top_div' id='ticket_list_table_div' rel='ticket'>
    <% if ticket_groups.empty? %>
      <p>
        There are no associated tickets.
      </p>
    <% else %>
      <table class='ticketList formatted_table'>
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% ticket_groups.each do |app_id,tickets| %>
            <%= render :partial => "tickets/summary_app_row", :locals => { :plan => @plan, :app_id => app_id } %>
            <% tickets.each do |ticket| %>
              <tr <%= tag_options({:id => "ticket_#{ticket.id}", :class => cycle('even', 'odd')}, false) %>>
                <td>
                  <% if ticket.url.blank? %>
                    <%= h(ticket.foreign_id) %>
                  <% else  %>
                    <%= link_to h(ticket.foreign_id), ticket.url, :target => "_blank" %>
                  <% end %>
                </td>
                <td>
                  <%= h(ticket.name) %>
                </td>
                <td>
                  <%= h(ticket.ticket_type) %>
                </td>
                <td>
                  <%= h(ticket.status) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
