<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= form_tag update_all_app_application_environments_path(app), :method => :put, :remote => true, :class => 'add_remove_eg' do %>
  <table>
    <% environments.each do |environment| %>
      <tr>
        <td>
          <% if app.environments.include?(environment) && !environment.can_be_removed_from_app?(app) -%>
            <%= check_box_tag 'environment_ids[]', environment.id, true, :disabled => 'disabled', :id => dom_id(environment) %>
            <%= hidden_field_tag 'environment_ids[]', environment.id %>
          <% else %>
            <%= check_box_tag 'environment_ids[]', environment.id, app.environments.include?(environment), :id => dom_id(environment) %>
          <% end %>

          <label for="<%= dom_id(environment) %>"><%= environment.name %></label>
        </td>
      </tr>
    <% end %>

    <% if can? :create, Environment.new %>
      <tr class="new_item">
        <td>
          <%= check_box_tag '', '', true, :disabled => 'disabled' %>
          <%= text_field_tag 'new_environments[][name]', '', :disabled => 'disabled', :size => 25 %>
        </td>
      </tr>
      <tr class="create_item">
        <td><%= link_to 'create new environment', '#' %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= submit_tag 'Save',:class => 'button', :id => "add_remove_environments_save" %>
        or <%= link_to 'cancel', app_application_environments_path(app), :class => 'cancel', :update_div => 'app_environments' %>
      </td>
    </tr>
  </table>
<% end %>
