<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id='project_servers'>
  <div class='line_h_20px'>
    <%= render partial: 'shared/alphabetical_pagination',
               locals: { path: project_servers_path, class_name: 'project_servers' } %>
  </div>
  <h2><%= I18n.t(:active) %></h2>
  <div class='cont_horizontal_scroll'>
    <table class='tablesorter two_column_sorter integration_table formatted_table'>
      <thead>
        <tr>
          <th>Server Name</th>
          <th>Server Type</th>
          <th>IP DNS</th>
          <th>Server URL</th>
          <th>Port</th>
          <th>Username</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% unless @active_project_servers.blank? %>
          <% @active_project_servers.each do |ps| %>
            <tr id='project_server_<%= ps.id %>' <%= tag_options({ class: "#{cycle('', 'alt' )}" }, false) %>>
              <td <%= tag_options({ title: ps.name }, false) %>>
                <% if can?(:edit, ps) %>
                  <%= link_to index_title(h(truncate(ps.name, :length => 12))), edit_project_server_path(ps, page: params[:page], key: params[:key]) %>
                <% else %>
                  <%= index_title(h(truncate(ps.name, :length => 12))) %>
                <% end %>
              </td>
              <td <%= tag_options({title: ps.server_type}, false) %>>
                <%= truncate(ps.server_type, :length => 12) %>
              </td>
              <td>
                <div class='word_break'><%= ps.ip %></div>
              </td>
              <td>
                <div class='word_break'><%= ps.server_url %></div>
              </td>
              <td><%= ps.port %></td>
              <td>
                <div class='word_break'><%= ps.username %></div>
              </td>
              <td>
                <% if can?(:edit, ps) %>
                  <%= link_to "Edit", edit_project_server_path(ps, page: params[:page], key: params[:key]), class: 'edit_project_server' %>
                <% end %>
                <% if can_manage_project?(IntegrationProject.new) %>
                  |
                  <%= link_to "Manage Projects", project_server_integration_projects_url(ps, page_no: params[:page], key: params[:key]), class: 'manage_integration_project' %>
                <% end %>
                <% if can?(:make_active_inactive, ps) %>
                  |
                  <%= link_to "Make Inactive",  deactivate_project_server_path(ps, page: params[:page], key: params[:key]), method: :put, class: 'make_inactive_project_server' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <th colspan='7'>
              No Project Server Found
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='line_h_20px'>
    <%= render partial: 'shared/alphabetical_pagination',
               locals: { path: project_servers_path, class_name: 'project_servers' } %>
  </div>
  <% unless @inactive_project_servers.blank? %>
    <h2><%= I18n.t(:inactive) %></h2>
    <div class='cont_horizontal_scroll'>
      <table class='tablesorter two_column_sorter integration_table formatted_table'>
        <thead>
          <tr>
            <th>Server Name</th>
            <th>Server Type</th>
            <th>IP DNS</th>
            <th>Server URL</th>
            <th>Port</th>
            <th>Username</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% (@inactive_project_servers || []).each do |ps| %>
            <tr>
              <td <%= tag_options({:title => ps.name}, false) %>>
                <%= truncate(ps.name, :length => 12) %>
              </td>
              <td <%= tag_options({ title: ProjectServer::SERVER.key(ps.server_name_id) }, false) %>>
                <%= truncate(ProjectServer::SERVER.key(ps.server_name_id), :length => 12) %>
              </td>
              <td>
                <div class='word_break'><%= ps.ip %></div>
              </td>
              <td>
                <div class='word_break'><%= ps.server_url %></div>
              </td>
              <td><%= ps.port %></td>
              <td>
                <div class='word_break'><%= ps.username %></div>
              </td>
                <td>
                  <% if can?(:edit, ps) %>
                    <%= link_to "Edit", edit_project_server_path(ps, page: params[:page], key: params[:key]), class: 'edit_project_server' %>
                    |
                  <% end %>
                  <% if can?(:make_active_inactive, ps) %>
                    <%= link_to "Make Active", activate_project_server_path(ps, page: params[:page], key: params[:key]), method: :put, class: 'make_inactive_project_server' %>
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
