<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Integrations - Edit #{@project_server.name}" %>
<% content_for :head do %>
  <%= static_javascript_include_tag "project_server" %>
<% end %>
<% content_for :page_section do %>
  <%= render :partial => 'users/tabs', :locals => { :selected => 'integrations',:tab_view => true } %>
  <%# = render :partial => 'account/tabs', :locals => { :selected => 'integrations' } %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= form_for :project_server, :url => project_server_path(@project_server), :html => { :method => :put, :class => 'cssform' } do |f| %>
  <%= render :partial => 'project_servers/form', :locals => {:f => f} %>
<% end %>

<% if @project_server.is_sn_or_rally_server? %>
  <%= hidden_field_tag  "no_overlay", true %>
<% end %>
