<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Background Job: #{h(@delay_job.id.to_s)}) #{@delay_job.run_at.try(:default_format_date_time)}" %>
<% content_for :head do %>
  <nbsp></nbsp>
<% end %>
<% content_for :page_section do %>
  <%= render :partial => 'account/tabs', :locals => { :selected => 'automation monitor' } %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<div id='automation_monitor'>
  <%= link_to '<< cancel', automation_monitor_path(:page => params[:page]) %>
  <table>
    <tr>
      <th>ID:</th>
      <td><%= h(@delay_job.id.to_s) %></td>
    </tr>
    <tr>
      <th>Attempts:</th>
      <td><%= h(@delay_job.attempts.to_s) %></td>
    </tr>
    <tr>
      <th>Run At:</th>
      <td><%= h(@delay_job.run_at.try(:default_format_date_time)) %></td>
    </tr>
    <tr>
      <th>Last Error:</th>
      <td>
        <%= simple_format(h(word_wrap(@delay_job.last_error))) unless @delay_job.last_error.nil? %>
      </td>
    </tr>
  </table>
</div>
