<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<br/>
<div id="toggleLink" style="text-align:left">
	<span style="color:#666;font-weight:bold;font-size:12px;margin-left:35px">Hudson Integration Settings</span>
	<%= link_to_function "(#{script.new_record? ? "hide" : "show"})", "toggleSection($(this))", :rel => "(#{script.new_record? ? "show" : "hide"})", :class => "hudson_integration" %>
</div>
<div id="hudson_integration" style="display: <%=script.new_record? ? "block" : "none" %>;">
	<span class="helper_text">Hudson integration parameters allow BMC Release Process Management to query the CI server<br/>
	 and list the available jobs.  You can choose to insert custom job build parameters into your script.</span>
		<p>
			<% unless f.object.new_record? %>
				<% f.object.template_script = "#{f.object.template_script_type}_#{f.object.template_script_id}" %>
			<% end %>
	
		  <%= label_tag "Apply template:"%> 
		  <%= f.select :template_script, Script.tagged_as_template.collect{|s| [s.name, "#{s.class.to_s}_#{s.id}"]}, :include_blank => "Select" %> Use a template script as a basis for this one.
		</p>
		<p>
		  <%= f.label :integration_id, "Hudson server:" %>
		  <%= f.select :integration_id, ProjectServer.hudson.collect{|ps| [ps.name, ps.id]}, :include_blank => "Select" %>
		</p>
		<p>
		  <%= label_tag "Choose job:" %>
		  <%= select_tag "script[job]", options_for_select(["Select"]) %> query build parameters into your script
		</p>

</div>
