<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= f.error_messages %>
<div class='field'>
  <%= f.label :route_app_id, '*App' %>
  <%= f.collection_select :route_app_id, @applications || [], :id, :name, {:prompt => 'Select an app...', :initial_focus => true} %>
</div>

<div class='field'>
  <%= f.label :route_id, '*Route:' %>
  <%= f.select :route_id, @routes_for_select || [], {:prompt => '...'}, :rel => 'plan_route_route_app_id' %>
</div>