<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<div class="plan_stage_instance" <%= colorized_tag_options(route_gate.environment_type.label_color) %> title="<%= route_gate.environment.name %>">
  <p>
    <%= truncate_middle(route_gate.environment.name, :max => 10, :position => 0.6) %>
  </p>

  <!-- form is used for drag and drop environments -->
  <%= form_for [route_gate], :url => "#" do |f| %>
      <%= f.error_messages %>
  <% end %>
</div>

