<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'request' %>
<% end %>
<%= deliverable_calendar_header %>
<%= render :partial => "filters/smart_release/selected_filters.html.erb" %>
<h1 class='calender_header'>
  <span class='month'>
    <%= @calendar.title %>
    <%= @calendar.first_day.to_date.strftime('%Y') %>
  </span>
</h1>
<%= render :partial => "calendars/calendar_cells.html.erb" %>
