<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if can? :edit_procedure, request %>
	<span class="edit_in_place">
	  <span class="show">
	  	<%= link_to procedure_attr_for_edit(step, attribute), 
	  				'#', 
	  				:class => 'activate' %>
	  </span>
	  <%= form_for step, :url => update_procedure_request_step_path(request, step), :html => { :class => 'editable inline ajax' } do |f| %>
	    <%= f.text_field attribute, :size => 25 %>
	    <%= f.submit 'Save' %> <span class="small">or <%= link_to "cancel", "#", :class => 'cancel' %></span>
	  <% end %>
	</span>
<% end %>
