<%
   step_preferences_size        = defined?(step_preferences) ? step_preferences.size : 0
   colspan                      = step_colspan(step_preferences_size)
   is_step_editable             = step.editable_by?(current_user, request)
   diamond_img, diamond_title   = step.execution_condition_image_and_title
%>

<tr style="height: 29px;" id="<%= dom_id(step) %>" class="<%= procedure_row_class(step) %> odd_step_phase" title="<%='Procedure includes protected step.' if step.protected? %>">
  <td class="step_position first" style="width:70px !important; text-align:center;">
    &nbsp;
  </td>
  <td colspan="<%=colspan[:cols1]%>">
    <strong>Procedure: <%= procedure_edit_in_place(request, step, :name) %></strong>
  </td>
  <td colspan="<%=colspan[:cols2]%>">
    <strong>Description: <%= procedure_edit_in_place(request, step, :description) %></strong>
  </td>
  <td>
    <%= ensure_space link_to('add serial procedure step',
                             new_procedure_step_request_step_path(request, step, procedure_add_new: true),
                             rel: 'facebox') if can? :add_serial_procedure_step, request %>
  </td>
  <td class="last">
    <% if can?(:remove_procedure, request) && is_step_editable && !step.protected? %>
        <%= form_for step, :url => abstract_request_step_path(request, step), :html => { :method => :delete, :class => 'inline' } do %>
            <%= image_submit_tag 'bin_empty.png',
                                 alt:    'delete',
                                 title:  'This action will delete this procedure from current request.',
                                 data:   {:confirm => 'Are you sure you want to delete the procedure?+'}
            %>
        <% end %>

        <%= link_to image_tag(diamond_img,
                              alt: 'condition'), edit_execution_condition_request_step_path(request, step),
                              title: diamond_title,
                              rel: 'facebox' if can? :edit_procedure_execute_conditions, request
        %>
    <% else %>
        <%= image_tag(diamond_img, title: diamond_title) %>
    <% end %>
    &nbsp;
  </td>
</tr>
