<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<div class="state_wrapper state_<%= step.aasm_state %>" title="<%= step.aasm_state %>">
  <% if step.complete? %>
      <div class="state <%= step.aasm_state %>RequestStep">
        <%= step.aasm.current_state.to_s.humanize %>
      </div>

  <% else %>

      <div class="buttons has_access" style="height:auto;">
        <% if step.auto? %>
            <% if step.in_process? %>
                <%= content_tag(:span, image_tag('running-step-icon.gif', :title => 'In Process')) %>
                <% unless request.hold? %><%= render :partial => "steps/step_rows/status_buttons/problem", :locals => {:unfolded_steps => local_assigns[:unfolded_steps], :request => request, :step => step} %>
                <% end %>
            <% elsif step.problem? && !request.hold? %>

                <div>
                  <%= render :partial => "steps/step_rows/rerun_option", :locals => {:step => step} %>
                  <%= image_submit_tag 'icon-btn-resolve.png', :alt => 'Resolve', :title => 'Resolve', :name => 'resolve', :id => "resolve_step_#{step.id}", :class => 'spinner', :disabled => request.hold?, :style => "top:7px;" %>
                </div>
            <% else %>
                <% unless step.show_complete_option? %>
                    <div class="state <%= step.aasm_state %>RequestStep">
                      <%= step.aasm.current_state.to_s.humanize %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <% if step.startable? && !request.hold? %>
                <%= image_submit_tag 'icon-btn-start.png', :alt => 'Start', :title => 'Start', :name => 'start', :id => "start_step_#{step.id}", :class => 'button_action spinner', :disabled => request.hold? %>
                <%= render :partial => "steps/step_rows/status_buttons/block", :locals => {:unfolded_steps => local_assigns[:unfolded_steps], :request => request, :step => step} %>
            <% elsif step.problem? && !request.hold? %>
                <%= render :partial => "steps/step_rows/status_buttons/resolve", :locals => {:unfolded_steps => local_assigns[:unfolded_steps], :request => request, :step => step} %>
            <% elsif step.blocked? && !request.hold? %>
                <%= render :partial => "steps/step_rows/status_buttons/unblock", :locals => {:unfolded_steps => local_assigns[:unfolded_steps], :request => request, :step => step} %>
            <% elsif step.in_process? %>
                <%= content_tag(:span, image_tag('running-step-icon.gif', :title => 'In Process')) %>
                <% unless request.hold? %>
                    <%= render :partial => "steps/step_rows/status_buttons/block", :locals => {:unfolded_steps => local_assigns[:unfolded_steps], :request => request, :step => step} %>
                    <%= render :partial => "steps/step_rows/status_buttons/problem", :locals => {:unfolded_steps => local_assigns[:unfolded_steps], :request => request, :step => step} %>
                <% end %>
            <% else %>
                <% unless step.show_complete_option? %>
                    <div class="state <%= step.aasm_state %>RequestStep">
                      <%= step.aasm.current_state.to_s.humanize %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <% if step.show_complete_option? %>
            <%= image_submit_tag 'icon-btn-complete.png', :alt => 'Complete', :title => 'Complete', :name => 'complete', :class => 'button_action spinner', :id => "complete_step_#{step.id}", :disabled => request.hold? %>
        <% end %>
      </div>

      <div class="no_access">
        <% if step.in_process? %>
            <%= content_tag(:span, image_tag('running-step-icon.gif', :title => 'In Process')) %>
        <% else %>
            <div class="state <%= step.aasm_state %>RequestStep">
              <%= step.aasm.current_state.to_s.humanize %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
