<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if step.procedure? %>
  <tr id="<%= dom_id(step) %>" class="procedure">
    <td class="step_position first" style="width:70px !important;text-align: center;"><div class="step_numbers_p" style="margin-right:15px"><%= defined?(step_position) ? step_position : step.position %></div></td>
    <td colspan="3">
      <strong>Procedure: <%= procedurein_place request, current_user, step, :name %></strong>
    </td>
    <td colspan="4">
      <%= procedurein_place request, current_user, step, :description %>
    </td>
    <td>
      <%= ensure_space %>
    </td>
  </tr>
  <% step.steps.each do |proc_step| %>
    <%= render :partial => 'steps/step_rows/step_table_header_for_pdf.html.erb', 
               :locals => { :step => proc_step, :request => request, :parent => step, 
                            :unfolded => true,
                            :steps_with_invalid_components => steps_with_invalid_components,
                            :step_headers => step_headers,
                            :step_position => proc_step.number} %>
  <% end %>

 <% else %>
    <%= render :partial => 'steps/step_rows/step_header_for_pdf.html.erb', 
			     :locals => { :request => request, :step => step, :unfolded => false,
				:invalid_component => steps_with_invalid_components.include?(step),
                                :step_header => step_headers[step.id.to_s] || {} ,
                                :step_position => defined?(step_position) ? step_position : step.position
                              } %>
<% end %>
