<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class="<%= step.parent ? 'procedure_step_form' : 'step_form' %>" id="step_form_holder_tr_div">
  <h2><%= raw(step_form_header(step)) %></h2>
  <%= form_for [request, step], :html => {:id => 'new_step_form', :multipart => true,
                                          :class => "#{local_assigns[:procedure] ? 'procedure_form' : ''}"} do |f|
  %>
    <div id='error_messages_for_step'></div>
    <%= render :partial => 'steps/step_rows/form', :locals => { :request => request, :step => step, related_object_type: step.related_object_type, :f => f } %>
		<%= hidden_field_tag 'new_procedure_path_url', new_procedure_step_request_step_path(@request, @step) if local_assigns[:procedure] %>
    <input type="hidden" id="step_properties_load_path" value="<%= properties_for_request_path(request) %>" />
    <input type="hidden" id="step_server_properties_load_path" value="<%= server_properties_for_step_request_path request %>" />
  <% end %>

  <%= form_tag update_script_request_steps_path(request), :method => :post, :id => "#{dom_id(step)}_update_script", :class => 'step_update_script' do %>
		<div id="script_hidden_fields">
		</div>
    <%= hidden_field_tag 'step_owner_id' %>
    <%= hidden_field_tag 'step_owner_type' %>
    <%= hidden_field_tag 'id', step.id %>
    <%= hidden_field_tag 'component_id' %>
  <% end %>
</div>

