<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div style="float:left; width:49%;">
  <dl>

    <dt>Task</dt>
    <dd><%= step_attribute_value(step.work_task_name) %></dd>

    <dt>Phase</dt>
    <% if step.accessible_by?(current_user) %>
      <dd>
        <%= step_attribute_value(step.phase_name) %>
      </dd>
    <% else %>
      <dd><%= step_attribute_value(step.full_phase_name) %></dd>
    <% end %>

    <dt>Assigned To</dt>
    <% if step.user_owner?  && (!step.owner_contact_number.nil?) %>
      <dd><%= name_of(step.owner)+" ("+step.owner_contact_number+")" %></dd>
     <%else%>
      <dd><%= name_of(step.owner) %></dd>
     <%end%>
    <dt>Runtime Phase</dt>
    <dd><%= step_attribute_value(step.runtime_phase ? step.runtime_phase.name : nil) %></dd>
    <% if GlobalSettings.automation_available? %>
        <dt>Automation</dt>
        <dd><%= step_attribute_value(step.script_type) %></dd>
        <dd><%= step_attribute_value(step.script ? truncate(step.script.name, :length => 25) : nil) %></dd>
      <% end %>
  </dl>
</div>

