<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<%
   step_position = step_counter + 1 if !defined?(step_position) || step_position.nil?
   step_position = "#{step_position_prefix}.#{step.position}" if defined?(step_position_prefix)
%>

<% if step.procedure? %>
    <% step_preferences_size = defined?(step_preferences) ? step_preferences.size : 0 %>
    <% colspan = step_colspan(step_preferences_size) %>
    <% is_step_editable = step.editable_by?(current_user, request) %>
    <tr id="<%= dom_id(step) %>" class="<%= procedure_row_class step %>" title="<%= 'Procedure includes protected step.' if step.protected? %>">
      <td class="step_position first" style="width:70px !important;text-align:center;">
        &nbsp;
      </td>
      <td colspan="<%= colspan[:cols1] %>">
        <strong>Procedure: <%= procedure_edit_in_place(request, step, :name) %></strong>
      </td>
      <td colspan="<%= colspan[:cols2] %>">
        <strong>Description: <%= procedure_edit_in_place(request, step, :description) %></strong>
      </td>
      <td>
        <%= link_to "add serial procedure step",
                    new_procedure_step_request_step_path(request, step, procedure_add_new: true),
                    rel: "facebox" if @can_add_serial_procedure_step %>
      </td>
      <td class="last">
        <% if @can_remove_procedure && is_step_editable && !step.protected? %>
          <%= form_for step, url: abstract_request_step_path(request, step), html: {method: :delete, class: 'inline'} do |f| %>
              <%= image_submit_tag 'bin_empty.png',
                                   alt: 'delete',
                                   title: "This action will delete this procedure from current request.",
                                   data: { confirm: 'Are you sure you want to delete the procedure?' }
              %>
          <% end %>
        <% end %>

        <% image, title = step.execution_condition_image_and_title %>
        <%= link_to_if @can_edit_procedure_execute_conditions,
                       image_tag(image, alt: 'condition', title: title),
                       edit_execution_condition_request_step_path(request, step),
                       id: "execution_condition_#{step.id}",
                       title: title, rel: 'facebox' %>
      </td>
    </tr>
    <% procedure_steps = step.steps %>
    <% @last_proc_step = procedure_steps.flatten.last %>

    <%= render partial: 'steps/step_rows/step',
               collection: procedure_steps, as: :step,
               locals: {
                       request: request, parent: step,
                       steps_with_invalid_components: steps_with_invalid_components,
                       step_headers: step_headers,
                       step_position_prefix: step.position,
                       step_preferences: step_preferences,
                       available_package_ids: available_package_ids
               }
    %>

<% else %>
    <%= render partial: 'steps/step_rows/step_header',
         locals: {
                 request: request,
                 step: step,
                 invalid_component: steps_with_invalid_components.include?(step),
                 step_header: step_headers[step.id.to_s] || {},
                 step_position: defined?(step_position) ? step_position : step.position,
                 step_preferences: step_preferences,
                 available_package_ids: available_package_ids
         }
    %>
<% end %>
