<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2014
# All Rights Reserved.
################################################################################
%>
<tr id="step_<%= step.id %>_<%= step.position %>_heading"
class="<%= step_error_class(step) %> <%= step_row_class step, local_assigns[:unfolded], invalid_component, request %>"
data-collapse-child-filter=":not('.last')"
<%= "data-parent-id=#{step.parent_id}" unless step.parent_id.blank? %>
data-section-url="<%= get_section_request_step_path(request, step) %>"
data-extra-toggle-selector=".tiny_step_buttons.<%= dom_id step %>">
    <% if request.hold? %>
        <% step_class = "padding-left:20px; padding-right:0px !important; text-align:center; margin-right:4px;" %>
    <% else %>
        <% step_class = "text-align:center" %>
    <% end %>
    <td class="first <%= switch_class_hold_step(request) %>" style="<%= step_class %>">
        <div class="step_numbers_p">
            <%= defined?(step_position) ? step_position : step.position %>
        </div>
        <% if request.hold? %>
            <span class="state" style="padding-top:2px !important;padding-bottom:2px !important;"> <%= "On Hold" %></span>
        <% end %>
    </td>
    <td class="status step_status_<%= step.aasm_state %>">
          <div class="state">
                  <%= step.aasm.current_state.to_s.humanize %>
          </div>
    </td>
    <td class="step_name"><strong><%= ensure_space h(truncate(step.name, :length => 60, :omission => "...")) %></strong></td>
    <td>
        <% if step.package_template.present? && step.component_id.nil? %>
            <%= ensure_space (step.package_template.name) %>
        <% else %>
            <%= ensure_space check_for_installed_comp(step, step_header['component']) %>
        <% end %> </td>
    <%
       targeted_servers    = step.targeted_servers
       server_names        = targeted_servers.empty? ? step_header['server'].join(', ') : targeted_servers.map { |s| s.name }.join(', ')
    %>
    <td title='<%= server_names %>'><%= truncate(ensure_space(server_names), :length => 14) %></td>
    <td>
        <% if step.manual? %>
            <%= ensure_space step_header['work_task'] %>
        <% else %>
            <%= ensure_space h(truncate(step.script ? step.script.name : "SCRIPT DELETED", :length => 15))  %>
        <% end %>
    </td>
    <td>
        <%= h step.estimate %>
    </td>
    <td><span class='step_owner' different_level_from_previous="<%= step.different_level_from_previous %>"> <% if step.manual? %>
            <%= h step_header['assigned_to'] %>
        <% else %>
            Automatic
        <% end %> </span>
    </td>
    <td>
        <%= (ensure_space step.version_name).html_safe %>
    </td>
    <td class="last">
        <%= link_to_on_off_step(step, true) %>
    </td>
</tr>

