<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= form_for [request, step], :html => {:id => "new_step_form", :multipart => true, :class => "#{local_assigns[:procedure] ? 'procedure_form' : ''} hidden", :data => { :executor_entry => step.enabled_editing?(current_user) } } do |f| %>
  <div class="<%= step.parent ? 'procedure_step_form' : 'step_form' %>" id="step_form_holder_tr_div">
    <%= render :partial => 'steps/step_rows/step_section', :locals => { :request => request, :step => step, :unfolded => true, :invalid_component => nil } %>
    <input type="hidden" id="step_properties_load_path" value="<%= properties_for_request_path(request) %>" />
    <input type="hidden" id="step_server_properties_load_path" value="<%= server_properties_for_step_request_path request %>" />
  </div>
<% end %>

<%= form_tag update_script_request_steps_path(request), :method => :post, :id => "#{dom_id(step)}_update_script", :class => "step_update_script" do %>
  <div id="script_hidden_fields"></div>
  <%= hidden_field_tag 'step_owner_id' %>
  <%= hidden_field_tag 'step_owner_type' %>
  <%= hidden_field_tag 'id', step.id %>
  <%= hidden_field_tag 'component_id' %>
<% end %>
