<% if "component".eql?(related_object_type) %>
    <label><%= t('step.component') %></label>
    <%= hidden_field_tag 'no_package_template', '1' if step.parent_object.has_no_available_package_templates? %>
    <!-- FIX ME : Dirty code. It has to re-factored.-->

    <% if ( step.request.present? ) %>
        <%= component_select_tag(step, cannot?(:select_step_component, step.parent_object)) %>
    <% else %>
        <%= application_component_select_list(step, !can?(:select_step_component, Request.new)) %>
    <% end %>
<% elsif "package".eql?(related_object_type) %>
    <label><%= t('step.package') %></label>
    <%= package_select_tag(step, cannot?(:select_step_package, association_or_new_instance(step, :request))) %>
<% end %>
