<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<h3 class='no_margin servers_h2'>Update Overriden Property</h3>
<%= form_for [@reference, @property_value], html: { class: 'cssform' } do |f| %>
  <div class='field'>
    <%= f.label :value %>
    <% if @property_value.property.private? %>
      <%= f.password_field :value, class: 'initialFocus', value: @property_value.value %>
    <% else %>
      <%= f.text_field :value, class: 'initialFocus' %>
    <% end %>
  </div>
  <div class='field'>
    <%= f.submit 'Update Property', class: 'button' %>
  </div>
<% end %>
