<div class='calendar_formate_links'>
  <h3>
    <div id='View'>View Type:</div>
  </h3>
  <form id='select_view_type' method='post'>
    <%= radio_button_tag "view_type", my_all_calendar_path, (defined?(@list_view) ? false : true), :class => "view_type" %>
    <%= "Calendar View" %>
    <br>
    <%= radio_button_tag "view_type", requests_for_coming_weeks_url(true), defined?(@list_view), :class => "view_type" %>
    <%= "List View" %>
  </form>
  <br>
  <h3>
    Report:
  </h3>
  <% if defined?(@list_view) %>
    <span class='button'>
      <%= link_to_function "Generate CSV", "calendarReport('csv')" %>
    </span>
  <% else %>
    <% if GlobalSettings.is_WickedPdf_installed? %>
      <span class='button'>
        <%= link_to_function "Generate PDF", "calendarReport('pdf')" %>
      </span>
      <br>
      <br>
    <% end %>
    <span class='button'>
      <%= link_to_function " Generate HTML", "calendarReport('html')" %>
    </span>
  <% end %>
  <h3><%= 'Calendar Options:' %></h3>
  <% unless defined?(@list_view) %>
    <div class='calendar_option_field'>
      <label><%= 'Display:' %></label>
      <%= select_tag :display_format, options_for_select(([['Month', 'month'], ["Rolling", "rolling"], ['Week', 'week'], ['Day', 'day']]).sort, params[:action]) %>
      <%= link_to 'Today', ("#{context_root}/calendars/" + params[:action] + "/" + Date.today.to_s) %>
    </div>
  <% end %>
  <div class='calendar_option_field'>
    <label><%= 'Select Month:' %></label>
    <%= select_month(@date || Date.today, :field_name => "start") %>
  </div>
</div>
