<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################

backlink = manage_metadata_path
title = t(:l10n_title_plan_templates)

page_settings :title => title
%>

<%=  content_for :sidebar do %>
  <% if can?(:create, PlanTemplate.new) %>
    <%= button_to t(:l10n_plan_template_new), new_plan_template_path, method: :get, class: 'button create_plan_template' %>
  <% end %>
<% end %>

<%= content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>

<%= render partial: 'environments/metadata_heading', locals: { backlink: backlink, title: title } %>

<br class="clear" />

<% if can?(:list, PlanTemplate.new) %>
  <div id="plan_templates">

    <% if @plan_templates.empty? %>
      <div class="blank_data_msg"><%= t(:l10n_msg_plan_template_no_templates) %></div>
    <% else %>

      <table class="tablesorter two_column_sorter formatted_table">
        <thead>
          <th><%= t(:l10n_tbl_plan_template_name) %></th>
          <th><%= t(:l10n_tbl_plan_template_type) %></th>
          <th>Status</th>
          <th><%= t(:l10n_tbl_plan_count) %></th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @plan_templates.each do |plan_template| %>
            <tr id='plan_template_<%= plan_template.id %>'>
              <% running_plans_count = plan_template.plans.running.try(:count) %>
              <td>
                <% if can?(:inspect, plan_template) %>
                  <%= link_to index_title(h(plan_template.name)), plan_template, class: 'inspect_plan_template' %>
                <% else %>
                  <%= index_title(h(plan_template.name)) %>
                <% end %>
              </td>
              <td>
                <% if can?(:inspect, plan_template) %>
                  <%= plan_template.template_type.nil? ? "&nbsp;" : link_to(plan_template.template_type_label, plan_template) %>
                  <%= render partial: 'object_state/td_state', locals: { passed_obj: plan_template } %>
                <% else %>
                  <%= plan_template.template_type.nil? ? "&nbsp;" : plan_template.template_type_label %>
                  <td>&nbsp;</td>
                <% end %>
              </td>
              <td class='plans_count'>
                Total:
                <%= link_to_if plan_template.plans.try(:count) > 0, plan_template.plans.try(:count) || 0, plans_path(filters: { plan_template_id: [plan_template.id], aasm_state: PlanTemplate::STATES }) %>
                | Running:
                <%= plan_template.plans.running.try(:count) %>
              </td>
              <td nowrap='' style='valign: top'>
                <% if can?(:edit, plan_template) %>
                  <div style="float:left;">
                    <%= link_to I18n.t(:edit), edit_plan_template_path(plan_template), id: "plan_template_edit_#{plan_template.id}", class: 'edit_plan_template' %>
                  </div>
                <% end %>
                <% if plan_template.can_change_aasm_state? && can?(:update_state, plan_template)%>
                  <%= render partial: 'object_state/state_list', locals: { passed_obj: plan_template } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% unless @archived_plan_templates.empty? %>
      <h3><%= I18n.t(:archived) %></h3>
      <%= render partial: 'environments/metadata_pagination', locals: { metadata_model: @archived_plan_templates, metadata_type: 'plan_template', position: 'archived' } %>
      <table class='tablesorter two_column_sorter formatted_table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Template Type</th>
            <th>Plans</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @archived_plan_templates.each do |plan_template| %>
            <tr id='plan_template_<%= plan_template.id %>'>
              <% running_plans_count = plan_template.plans.running.try(:count) %>
              <td><%= link_to index_title(h(plan_template.name)), plan_template %></td>
              <td><%= plan_template.template_type.nil? ? "&nbsp;" : link_to(plan_template.template_type_label, plan_template) %></td>
              <td class='plans_count'>
                Total:
                <%= link_to_if plan_template.plans.try(:count) > 0, plan_template.plans.try(:count) || 0, plans_path(filters: { plan_template_id: [plan_template.id], aasm_state: PlanTemplate::STATES }) %>
                Running:
                <%= plan_template.plans.running.try(:count) %>
              </td>
              <td nowrap='' style='valign: top'>
                <% if can?(:update_state, plan_template) %>
                  <%= link_to I18n.t(:unarchive), unarchive_plan_template_path(plan_template, page: @page, per_page: @per_page), method: :put, class: 'archive_plan_template', title: 'Unarchive this plan template' %>
                <% end %>

                <% if plan_template.destroyable? && can?(:delete, plan_template) %>
                  &nbsp;|&nbsp;
                  <%= link_to I18n.t(:delete), plan_template, method: :delete, class: 'delete_plan_template', confirm: "All associated plans will be deleted.\nAre you sure you want to delete this plan template?", :id => "plan_template_delete_#{plan_template.id}", :title => "Delete plan template..." %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
<% end %>
