<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<p>
<%= hidden_field_tag "change_server_ids_flag", 'true' %>
<% if local_assigns[:request_server] %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th><%= ensure_space %></th>
        <th colspan="2"><%= h request_server.server_level.name %></th>
      </tr>
    </thead>

    <%= render :partial => 'steps/server_property_values_body', :locals => { :server => request_server, :step => step } %>

  </table>
<% elsif installed_component %>
  <table cellspacing="0" class="formatted_table">
    <thead>
      <tr>
          <% unless step.complete? || step.request.try(:already_started?) %>
            <th>Target?
              <%= check_box_tag :select_all_chk, "1", false,
                                #:check_box_dom => "#server_properties_container table:first tbody tr td", # this cause a problem for checking all checkboxes with two tables on page
                                :disabled => disabled_step_editing?(step)
              %>
            </th>
          <% end %>
          <th>Server</th>
          <th>Properties</th>
        </tr>
    </thead>
    <%= render :partial =>      'steps/server_property_values_body',
               :collection =>   server_collection,
               :as =>           :server,
               :locals => { :step => step,
                            :installed_component => installed_component,
                            :server_association_ids => installed_component.server_association_ids
               }
    %>
  </table>
<% end %>
</p>
