<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr id="step_<%= step.id  %>_<%= step.position %>_section" 
    class="<%= step_section_row_class step, local_assigns[:unfolded], invalid_component %>"
    style="<%= 'display: none;' unless local_assigns[:unfolded] %>">

 <td colspan="9" class="additional_info first last">
     <div class="expandable_textarea step_description">
       <h4>Step Description</h4>
       <% if step.description.blank? %>
         <p class="no_value">No description provided</p>
       <% else %>
         <strong>
           <span class="left">Instructions for the step</span>
         </strong>
         <textarea id="step_description_<%= step.id %>" class="expand" readonly="true"><%= step.description %></textarea>
         <div class="expand_textarea_link fl" style ="float:right; font-size:11px">
           [ <a href="javascript:toggleTextarea('step_description_<%= step.id %>', 'step_description_expand_<%= step.id %>')" id="step_description_expand_<%= step.id %>">expand</a> ]
         </div>
       <% end %>
     </div>
    <br class="clear" />
		<%= render :partial => 'steps/step_rows/step_section_left', :locals => { :step => step } %>
		<%= render :partial => 'steps/step_rows/step_section_right', :locals => { :step => step } %>
		
	</td>
</tr>
