<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<%= render 'steps/server_property_values',
           { installed_component: installed_component,
             step: step,
             request_server: request.server_association,
             server_collection: server_collection }
%>
<% unless disabled_step_editing?(step) %>
  <p>Target alternate servers</p>
  <div id="alternate_servers_container">
    <%= label_tag :apps, "Application" %>
    <%= select_tag :app_id, options_from_collection_for_select(App.active.name_order, :id, :name), include_blank: "select", class: "mxwidth120" %>
    <%= label_tag :environment, "Environment" %>
    <%= select_tag :environment_id, options_from_collection_for_select(Environment.active, :id, :name, request.environment_id), class: "mxwidth120" %>
    <%= label_tag :component, "Component" %>
    <%= select_tag :component_id, options_from_collection_for_select(Component.active, :id, :name, step.component_id), class: "mxwidth120" %>
    <%= hidden_field_tag :step_id, step.id %>
    <%= hidden_field_tag :installed_component_id, installed_component.try(:id) %>
    <%= submit_tag "Target",class: 'button', id: 'get_alternate_servers', 'data-form-action' => get_alternate_servers_steps_path %>

    <div id="alternate_servers"></div>
  </div>
<%end%>
