<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id="step_form_tabs" data-url="<%= url_for_tab_loading(local_assigns[:request], step, local_assigns[:procedure]) %>">
  <div id="partially_overlay"></div>
  <div class="pageSection" >
    <ul style="padding-left: 0px;">
      <%= step_tab_li(step, "general") if can? :view_step_general_tab, association_or_new_instance(step, :request) %>
      <%= step_tab_li(step, "automation") if can? :view_step_automation_tab, association_or_new_instance(step, :request) %>
      <% if local_assigns[:request] && request.id.present? %>
        <% if can? :list, Ticket.new %>
          <% if step.try(:plan) && !step.request.plan.tickets.blank? %>
           <li id="st_tickets">
            <%= link_to "Tickets", tickets_path(filters: {plan_id: step.plan.id },
                                                actions: ['select'],
                                                per_page: 5,
                                                step_facebox: true,
                                                disable_fields: disable_all_form_fields(step)), remote: true %>
           </li>
          <% end %>
        <% end %>
        <%= step_tab_li(step, "notes") if can? :view_step_notes_tab, request %>
        <%= step_tab_li(step, "documents") if can? :view_step_documents_tab, request %>
        <%= step_tab_li(step, "properties") if can? :view_step_properties_tab, request %>
        <%= step_tab_li(step, "server_properties") if can? :view_step_server_properties_tab, request %>
        <%= step_tab_li(step, "design") if can? :view_step_design_tab, request %>
        <%= step_tab_li(step, "content") if can? :select_step_package, request %>
      <% end %>
    </ul>
  </div>

  <div id="content_box" class="content">
    <% if can? :view_step_general_tab, association_or_new_instance(step, :request) %>
      <!--tab- general- start-->
      <div id="st_general_step_tab_area" class="step_tab_area width720 padding5"<%= default_tab_visibility(step,"general") %>>
      <%= render_step_tab(step,"general", f) %>
      </div>
      <!--Tab-general-end-->
    <% end %>

    <% if can? :view_step_automation_tab, association_or_new_instance(step, :request) %>
      <!--Tab -2 automation-->
      <div id="st_automation_step_tab_area" class="step_tab_area width720 padding5"<%= default_tab_visibility(step,"automation") %>>
      <%= render_step_tab(step,"automation", f) %>
      </div>
    <% end %>

  <% if local_assigns[:request] && request.id.present? %>
    <!--Tab tickets-->
    <%if can?(:list, Ticket.new) %>
      <div id="st_tickets_step_tab_area" class="step_tab_area width720 padding5" style="display:none;">
        <% if step.try(:plan) && !step.request.plan.tickets.blank? %>
          <!--h4><a href="#" id="tickets_heading" class="collapsible_section_heading">Tickets</a></h4-->
           <div id="tickets_section">
            <% @actions = ["disassociate", "unpaged"] %>
             <div id="ticket_selection_sections" >
              <!--EMPTY DIV FOR TICKETS LOADING-->
             </div>
             <div id="selected_tickets_section_for_form">
              <!-- PRESERVE SELECTED TICKET HERE -->
              <% step.tickets.each do |ticket| %>
                 <%= hidden_field_tag 'step[ticket_ids][]', ticket.id, :id => "step_ticket_ids_#{ticket.id}" %>
              <% end %>
              </div>
           </div>
        <% end %>
      </div>
    <%end%>

    <% if can? :view_step_notes_tab, request %>
      <!--tab notes -->
      <div id="st_notes_step_tab_area" class="step_tab_area width720 padding5"<%= default_tab_visibility(step,"notes") %>>
        <%= render_step_tab(step, "notes", f) %>
      </div>
    <% end %>

    <% if can? :view_step_documents_tab, request %>
      <!--Tab documents-->
      <div id="st_documents_step_tab_area" class="step_tab_area width720 padding5"<%= default_tab_visibility(step,"documents") %>>
        <%= render_step_tab(step, "documents", f) %>
      </div>
    <% end %>

    <% if can? :view_step_properties_tab, request %>
      <!--Tab properties-->
      <div id="st_properties_step_tab_area" class="step_tab_area width720 padding5"<%= default_tab_visibility(step,"properties") %>>
        <%= render_step_tab(step, "properties", f) %>
      </div>
    <% end %>

    <% if can? :view_step_server_properties_tab, request %>
      <!--Tab server properties-->
      <div id="st_server_properties_step_tab_area" class="step_tab_area width720 padding5"<%= default_tab_visibility(step,"server_properties") %>>
        <%= render_step_tab(step, "server_properties", f) %>
      </div>
    <% end %>

    <!--Tab design-->
    <% if can_show_design_tab?(step) %>
      <div id="st_design_step_tab_area" class="step_tab_area width720 padding5" style="display:none;">
      </div>
    <% end %>
  <% end %>
    <!--Tab design-->
    <div id="st_design_step_tab_area" class="step_tab_area width720 padding5" style="display:none;">
    </div>
    <!--Tab promotion-->
    <!--  <div id="st_promotion_step_tab_area" class="step_tab_area width720 padding5" style="display:none;">
    <% #= render_step_tab(step, "promotion", f) %>
    </div> -->

    <!--Tab content-->
    <div id="st_content_step_tab_area" class="step_tab_area width720 padding5" style="display:none;">
    </div>
  </div>
  <br/>
</div>
