<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<div style="width:550px;">
<h2>Edit Execution Condition</h2>

<%= form_tag update_execution_condition_request_step_path(@request, @step), :method => :put, :class => 'cssform' do |f| %>
  <div class="field">
    <label for="referenced_step_id">Step</label>
    <%= select_tag 'execution_condition[referenced_step_id]',
                   options_from_collection_for_select(@request.ordered_steps(true), :id, :number, @selected_referenced_step_id),
                   :id => 'referenced_step_id' %>
  </div>

  <div class="toggles" style="padding-bottom:5px;">
    <%= radio_button_tag 'execution_condition[condition_type]', 'property', @condition_type == 'property' %>
    <label for="condition_type_property">Property Value</label>
    <%= radio_button_tag 'execution_condition[condition_type]', 'runtime_phase', @condition_type == 'runtime_phase' %>
    <label for="condition_type_phase">Runtime Phase</label>
    <%= radio_button_tag 'execution_condition[condition_type]', 'environments', @condition_type == 'environments' %>
    <label for="condition_type_environments">Environment(s)</label>
    <%= radio_button_tag 'execution_condition[condition_type]', 'environment_types', @condition_type == 'environment_types' %>
    <label for="condition_type_environment_types">Environment Type(s)</label>
  </div>

  <span class="property_fields">
    <div class="field">
      <label for="property_id">Property</label>
      <%= select_tag 'execution_condition[property_id]', '', :id => 'property_id', :class => 'use_remote_options', :rel => 'referenced_step_id' %>
      <%= hidden_field_tag 'selected_property_id', @selected_property_id %>
      <%= hidden_field_tag 'property_id_url', properties_options_steps_path %>
    </div>

    <div class="field">
      <label for="value">Required Value</label>
      <%= text_field_tag 'execution_condition[value]', @selected_value %>
    </div>
  </span>

  <span class="runtime_phase_fields">
    <div class="field">
      <label for="runtime_phase_id">Runtime Phase</label>
      <%= select_tag 'execution_condition[runtime_phase_id]', '', :id => 'runtime_phase_id', :class => 'use_remote_options', :rel => 'referenced_step_id' %>
      <%= hidden_field_tag 'selected_runtime_phase_id', @selected_runtime_phase_id %>
      <%= hidden_field_tag 'runtime_phase_id_url', runtime_phases_options_steps_path %>
    </div>
  </span>

  <span class="environments_fields">
    <div class="field">
      <label for="environment_ids">Environment(s)</label>
      <%= select_tag 'execution_condition[environment_ids]', '', :id => 'environment_ids', :class => 'use_remote_options', :rel => 'referenced_step_id', :multiple => true %>
      <%= hidden_field_tag 'multiple_selected_environment_ids', @selected_environment_ids.to_json %>
      <%= hidden_field_tag 'environment_ids_url', environments_options_steps_path %>
    </div>
  </span>

  <span class="environment_types_fields">
    <div class="field">
      <label for="environment_type_ids">Environment Type(s)</label>
      <%= select_tag 'execution_condition[environment_type_ids]', '', :id => 'environment_type_ids', :class => 'use_remote_options', :rel => 'referenced_step_id', :multiple => true %>
      <%= hidden_field_tag 'multiple_selected_environment_type_ids', @selected_environment_type_ids.to_json %>
      <%= hidden_field_tag 'environment_type_ids_url', environment_types_options_steps_path %>
    </div>
  </span>

  <div class="field">
    <label for="clear" style="font-size:11px;font-weight:normal;">Remove Condition?</label>
    <%= check_box_tag :clear, '0', checked = false, {:style => "width:15px;"} %>
  </div>

  <%= submit_tag "Add Condition",:class =>'button' %>
<% end %>
</div>
