<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2014
   # All Rights Reserved.
   ################################################################################
%>
<% page_settings :title => h(@environment.name) %>
<% content_for :page_section do %>
    <%= render :partial => 'account/environment_tabs', :locals => {:selected => 'environments'} %>
<% end %>
<% content_for :sidebar do %>
    <span></span>
<% end %>
<h2 class='no_margin servers_h2'><%= h @environment.name %></h2>
<%= form_for @environment, :html => {:class => 'cssform'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f, :servers => @servers, :server_groups => @server_groups} %>
    <div class='field'>
      <% if can? :edit, @environment %>
          <%= f.submit I18n.t(:update), :class => 'button' %>
          or
      <% end %>

      <%= link_to I18n.t(:cancel), environments_path(:page => params[:page], :key => params[:key]) %>
    </div>
<% end %>

