<%#
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################

%>
<% page_settings :title => 'Metadata' %>

<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>

<% content_for :sidebar do %>
  <span></span>
<% end %>

<div id="LinkList">
  <h3>Manage metadata lists and settings for the application</h3>
  <% if can? :list, Category.new %>
    <ul>
      <li><%= link_to 'Manage Categories', {controller: 'categories'} %></li>
    </ul>
  <% end %>

  <ul>
    <li>
      <%= link_to_if can?(:list, EnvironmentType.new), 'Manage Environment Types', {controller: 'environment_types'} %>
    </li>
  </ul>

  <ul>
    <li><%= link_to_if can?(:list, PlanTemplate.new), 'Manage Plan Templates', {controller: 'plan_templates'} %></li>
  </ul>

  <ul>
    <li><%= link_to_if can?(:list, List.new), 'Manage Lists', {controller: 'lists'} %></li>
  </ul>

  <% if can?(:list, PackageContent.new) %>
    <ul>
      <li><%= link_to 'Manage Package Contents', {controller: 'package_contents'} %></li>
    </ul>
  <% end %>

  <% if can? :list, Phase.new %>
    <ul>
      <li><%= link_to 'Manage Phases', {controller: 'phases'} %></li>
    </ul>
  <% end %>

  <ul>
    <li><%= link_to_if can?(:list, Procedure.new), 'Manage Procedures', {controller: 'procedures'} %></li>
  </ul>

  <% if can? :list, BusinessProcess.new %>
    <ul>
      <li><%= link_to 'Manage Processes', {controller: 'business_processes'} %></li>
    </ul>
  <% end %>

  <ul>
    <li><%= link_to_if can?(:list, Release.new), 'Manage Releases', {controller: 'releases'} %></li>
  </ul>

  <ul>
    <li><%= link_to_if can?(:list, RequestTemplate.new), 'Manage Request Templates', {controller: 'request_templates'} %></li>
  </ul>

  <% if can? :list, Ticket.new %>
    <ul>
      <li><%= link_to 'Manage Tickets', {controller: 'tickets'} %></li>
    </ul>
  <% end %>

  <ul>
    <li><%= link_to_if can?(:list, VersionTag.new), 'Manage Version Tags', {controller: 'version_tags'} %></li>
  </ul>

  <ul>
    <li><%= link_to_if can?(:list, WorkTask.new), 'Manage Work Tasks', {controller: 'work_tasks'} %></li>
  </ul>

  <ul>
    <li><%= link_to_if can?(:list, DeploymentWindow::Series.new), 'Manage Deployment Windows', deployment_window_series_index_path %></li>
  </ul>

</div>
