<% steps_with_invalid_components = steps_with_invalid_components || [] %>
<div class="compnent_link_div">
  <% if can? :add_remove, ApplicationComponent.new %>
    <%= link_to t('app.component.add_remove'), add_remove_app_application_components_path(@app, page: params[:page], key: params[:key]), id: 'add_remove_application_component', rel: 'facebox' %>
  <% end %>
  |
  <% if can? :add_remote_component, @app %>
    <%= link_to 'add remote components', add_remote_components_app_path(@app, :page => params[:page], :key => params[:key]), :id => 'add_remote_components', :rel => 'facebox' %>
  <% end %>
</div>
<table id="application_components_list"  class="highlight formatted_table" :style="display:none;">
  <% level = 0 %>
  <thead>
   <tr>
    <th>#</th>
    <th>COMPONENT</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
  <% app.application_components.compact.each do |component| %>
    <tr class='<%= class_for_application_component_color(component) %>'>
      <% level += 1 if component.different_level_from_previous? || component == app.application_components.first %>
      <td align="left"><%= level %></td>
      <td align="left">
        <span id="<%= dom_id(component) %>" class='<%= can?(:create, InstalledComponent.new) ? "application_component" : "" %>' title="<%= component.name %>">
          <strong>
            <%= link_to_if can?(:edit_properties, component), truncate(component.name, :length => 30), edit_property_values_app_application_component_path(app, component), :rel => 'facebox' %>
          </strong>
        </span>
      </td>
      <td align="left">
        <% if can? :edit_properties, component %>
          <%= link_to "Properties", edit_property_values_app_application_component_path(app, component), :rel => 'facebox' %>
        <% end %>
        |
        <% if can? :map_properties, component %>
          <%= link_to "Map", add_component_mapping_app_application_component_path(app, component), :rel => 'facebox' %>
          <% if component.application_component_mappings.size > 0 %>
            |
            <%= link_to "Edit Map", edit_component_mapping_app_application_component_path(app, component), :rel => 'facebox' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag update_all_app_application_packages_path(@app, :page => params[:page], :key => params[:key]),
    :method => :put,
    :id => 'multipicker_packages' do
%>
<% end %>

<% unless app.application_components.compact.empty? %>
  <%= form_tag copy_all_app_application_components_path(app),
              :method => :put,
              :id => 'copy_all_components_to_app',
              :class => 'copy_all_components_form require_confirmation',
              'data-confirmation' => "Are you sure you want to copy all of this application's components to this environment group?" do %>
  <span style="float:left;"/>
 <%= hidden_field_tag "page", params[:page] %>
 <%= hidden_field_tag "key", params[:key]  %>
  <% end %>
<% end %>

<%= render :partial => 'apps/component_templates_list' %>
<%= render :partial => 'apps/packages_list' %>
