<td title="<%= application_environment.name %>">
  <%= link_to index_title("&nbsp;".html_safe + truncate(application_environment.name, :length => 15)).html_safe, app_application_environment_path(app, application_environment), :class => "edit_row_unfolded" %>
</td>
<td>
  <!-- form used by drag and drop for components -->
  <div style="width:350px; height:1px"></div>
  <%= form_for InstalledComponent.new, :url => app_installed_components_path, :html => { :id => "new_installed_component_#{application_environment.id}" } do |f| %>
    <%= f.hidden_field :application_environment_id, :value => application_environment.id %>
    <%= hidden_field_tag 'page', params[:page] %>
    <%= hidden_field_tag 'key', params[:key] %>
  <% end %>
  <table id="installed_components_<%= application_environment.id %>" class="formatted_table installed_components">
	<thead>
    <tr>
      <th width="10%">&nbsp;</th>
      <th width="25%">COMPONENT</th>
      <th width="15%">VERSION</th>
      <th width="25%">SERVERS</th>
      <th width="15%">PROPERTIES</th>
      <th width="10%">&nbsp;</th>
    </tr>
	</thead>
    <tbody id="installed_components_list_<%= application_environment.id %>" class="installed_components_list">
      <% if application_environment.installed_components.empty? %>
        <tr class="empty">
          <td colspan="6">
            No components in this environment.  Drag a component from the list on the right to this environment.
          </td>
        </tr>
      <% else %>
        <%= render partial: 'apps/installed_component',
                   collection: application_environment.installed_components.preload_reference_objects,
                   locals: { app: app } %>
        <tr class="no_hover">
          <% if can? :manage_servers, InstalledComponent.new %>
            <td colspan="3" align="left">
              <%= link_to 'clear all', '#', :class => 'clear_all_checkboxes' %> |
              <%= link_to 'add/remove servers', add_remove_servers_installed_components_path(application_environment), :rel => 'facebox' %>
            </td>
          <% end %>

          <% if can? :clone, InstalledComponent.new %>
            <td colspan="3" align="right">
              <%= link_to 'Clone Environment Components',
                          setup_clone_components_app_application_components_path(app, :environment_id => application_environment.id, :page => params[:page], :key => params[:key]),
                          :rel => 'facebox' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</td>
