<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>

<% content_for :sidebar do %>
    <p>
      <% if can?(:export, @app) && @app.active? %>
        <%= link_to "Export Application", export_application_app_path(@app), :rel => 'facebox' %>
        <br/>
      <% end %>

      <% if can? :reorder, ApplicationComponent.new %>
        <%= link_to_if_with_custom_text(!@app.a_sorting_comps,
                                        t('app.component.reorder'),
                                        t('app.component.reorder_alpha_sorting'),
                                        reorder_components_app_path(@app, page: params[:page], key: params[:key])) %>
        <br/>
      <% end %>

      <% if can? :reorder, ApplicationEnvironment.new %>
        <%= link_to_if_with_custom_text(!@app.a_sorting_envs,
                                        t('app.environment.reorder'),
                                        t('app.environment.reorder_alpha_sorting'),
                                        reorder_environments_app_path(@app, page: params[:page], key: params[:key])) %>
        <br/>
      <% end %>
    </p>
<% end %>

<table id="environmentComponents" cellspacing="0" cellpadding="0">
  <tr>
    <td class="env_comp_assigned_td">
      <table cellspacing="0">
        <% if can? :add_remove, ApplicationEnvironment.new %>
          <thead>
          <tr>
            <td colspan="3">
              <div class="add_remove_env_link">
                <%= link_to 'add/remove environments', add_remove_app_application_environments_path(app), :id => 'add_remove_application_environment' %>
              </div>
            </td>
          </tr>
          </thead>
        <% end %>
        <tbody id="app_environments">
          <%= render :partial => "apps/default_environment" %>
        </tbody>
      </table>
    </td>
    <td class="comp_available_td">
      <table cellspacing="0" class="comp_table">
        <tr>
          <td colspan="2" class="tabs">
            <div class="pageSection comp_tabs">
              <%= render 'apps/component_tabs', :selected => (show_package_tab ? 'packages' : 'components' ) %>
            </div>

          </td>
        </tr>
        <tr>
          <td width="45%" align="left" colspan="2" id="application_components" class="members">
            <%= render :partial => 'application_component_list', :locals => {:app => app} %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<div id="rpt_toggleLink">
  <strong>Application Statistics</strong> <%= link_to_function "(show)", "toggleSection($(this))", :rel => "(show)", :class => "application_stats" %>
</div>
<div id="application_stats" style="display:none">
  <br>
  <strong>Requests (<%= @app.requests.count.to_s %> total)</strong>
  <table>
    <thead>
      <tr>
        <th>Item</th><th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @app.requests.active.count.to_s %> - In-Flight Requests</td>
        <td><%=@app.requests.active.select('requests.id').map{ |r| r.number }.join(', ')%></td>
      </tr>
      <tr>
        <td><%= @app.requests.unscheduled.count.to_s %> - Unscheduled Requests</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><%= @app.requests.complete.count.to_s %> - Completed Requests</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <strong>Teams and Users</strong>
  <table>
    <thead>
      <tr>
        <th>Item</th><th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @app.teams.count.to_s %> - Teams </td>
        <td><%=@app.teams.active.select('teams.name').map(&:name).join(', ')%></td>
      </tr>
      <tr>
        <td><%= @app.users.count.to_s %> - Direct Access </td>
        <td><%=@app.users.active.select('users.login').map(&:login).join(', ')%></td>
      </tr>
    </tbody>
  </table>
</div>
