<%= f.error_messages %>
<div class="field">
  <%= f.label :name, "*#{I18n.t('table.name')}" %>
  <%= f.text_field :name, :class => 'initialFocus' %>
</div>

<div class="field">
  <%= f.label :app_version %>
  <%= f.text_field :app_version %>
</div>

<div class="field">
  <%= f.label :strict_plan_control %>
  <%= f.check_box :strict_plan_control %>
</div>

<% unless @app.persisted?	%>
	<div class="field">
	  <%= f.label :team_ids, "*#{I18n.t('table.team')}" %>
	  <%= f.select :team_ids, options_for_teams %>
	</div>
<% end %>

<%= hidden_field_tag 'page', params[:page]  %>
<%= hidden_field_tag 'key', params[:key]  %>

<div class="field">
<%= f.submit I18n.t(:create), :class => "button" %><span class="or">or</span>
<%= link_to 'cancel', apps_path %>
</div>