<div class='edit_in_place'>
  <span class='show'>
    <span class='grey_text'>
      Version:
    </span>
    <span class='show'>
      <%= h(record.app_version) %>
    </span>
  </span>
  <%= form_for record, :html => {:class => 'editable inline'} do |f| %>
    <%= f.text_field :app_version, :size => 15 %>
    <%= hidden_field_tag "version_update", "yes" %>
    <%= hidden_field_tag "index_page", params[:letter] %>
    <%= hidden_field_tag "key", params[:key] %>
    <%= hidden_field_tag "page", params[:page] %>
    <%= f.submit 'Save', :class => 'button' %>
    <span style='font-size:10px;color:999;'>
      or
      <%= link_to "cancel", "#", :class => 'cancel' %>
    </span>
  <% end %>

  <% if can? :update, record %>
    <%= link_to "edit", '#', :class => 'activate small' %>
  <% end %>
</div>
