<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<h2>Add Remote Component</h2>

<%= form_tag create_remote_components_app_path(@app), :method => :put, :class => 'cssform' do %>
  
  <div class="field">
    <label for="app_id">Application</label>
    <%= select_tag 'app_id', options_from_collection_for_select(@remote_apps, :id, :name) %>
  </div>
  
  <div class="field">
    <label for="application_environment_id">Environment</label>
    <%= select_tag 'application_environment_id', '', :class => 'use_remote_options', :rel => 'app_id' %>
    <%= hidden_field_tag 'application_environment_id_url', application_environment_options_apps_path %>
  </div>
  
  <div class="field">
    <label for="installed_component_ids">Components</label>
    <%= select_tag 'installed_component_ids', '', :id => "installed_component_ids", :class => 'use_remote_options', 
                   :multiple => true, :rel => 'application_environment_id' %>
    <%= hidden_field_tag 'installed_component_ids_url', installed_component_options_apps_path %>
  </div>

  <div class="field">
    <label for="application_environment_ids_to_update">Environments to update</label>
    <%= select_tag 'application_environment_ids_to_update[]', options_from_collection_for_select(@app.application_environments, :id, :name), 
                   :id => 'application_environment_ids_to_update', :multiple => true %>
  </div>
   <%= hidden_field_tag "page", params[:page] %>
   <%= hidden_field_tag "key", params[:key] %>
  <div class="button_bar">
    <%= submit_tag 'Add remote components',:class =>'button' %>
  </div>

<% end %>
