<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h2> <%= @app.name %> Application Export </h2>
<h3> The following components will be exported: </h3>
<%= form_tag export_app_path(@app), :class => 'export_app_form' do %>
  <div class="export-list">
    <div class="main">
      Application
      <div class="sub1">
        Components
        <br>
        Environments
        <div class="sub2">
          <span>
            <%= check_box_tag 'deployment_windows' %>
            <label for="deployment_windows">Deployment Windows</label>
          </span>
          <br>
          <span>
            <%= check_box_tag 'servers' %>
            <label for="servers">Servers</label>
          </span>
          <br>
          Server Groups
          <br>
          Server Levels
          <br>
          Server Level Groups
          <br>
          Server Level Instances
          <br>
        </div>
        Packages
        <br>
        Processes
        <br>
        <span>
          <%= check_box_tag 'req_templates', 1, false %>
          <label for="req_templates">Request Templates</label>
        </span>
        <div class="sub2 enabled-by-request-templates">
          <span>
            <%= check_box_tag 'automations', 1, false, disabled: true %>
            <label for="automations">Automations</label>
          </span>
          <br>
          Phases
          <br>
          Procedures
          <br>
          Releases
        </div>
        Routes
        <br>
        Version Tags
      </div>
    </div>
  </div>
  <h3 class="file_format_select">
    File Format:
    <%= select_tag 'format', '<option>XML</option><option>JSON</option>'.html_safe %>
  </h3>
  <div class='button_bar' >
    <%= submit_tag 'Export', class: 'button_export', onclick: "$.facebox.close();" %>
    <%= button_to_function "Cancel", "$.facebox.close()" %>
  </div>
<% end %>
<script type="text/javascript">
ExportCheckboxes.setup()
</script>
