<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h2> Application Import </h2>
<% if @teams.any? %>
  <%= form_tag import_apps_path, :multipart => true,:class => 'cssform' do %>
    <div class="bg-warning import-app-popup-warning">
      <p class="bold"><%= I18n.t(:'app_import.time_warning') %></p>
      <p><%= I18n.t(:'app_import.overwrite_warning') %></p>
    </div>
    <div class='field'>
      <span class='uploads dynamic_fields'>      
        <%= label_tag "app", "Select File:" %>
        <%= file_field_tag "app", :style => "width: auto", :id => "1", :class => "app_xml_upload" %>
      </span>
    </div>
    <div class='field'>
      <%= label_tag "team_id", "Select Team:" %>
      <%= select_tag "team_id",  options_from_collection_for_select(@teams, :id, :name) %>
    </div>
    <div class='button_bar' >
      <%= submit_tag I18n.t(:import_application), class: 'button_import' %>
      <%= button_to_function I18n.t(:cancel), "$.facebox.close()" %>
    </div>
  <% end %>
<% else %>
  <h3 class="error">
    <%= I18n.t(:'app_import.no_team_error') %>
  </h3>
<% end %>

