<tr class="property_row" <%= tag_options({class: cycle('', 'alt')}, false) %> >
  <td><%= h reference.name %></td>
  <td><%= I18n.t(:file) %></td>
  <td><%= h reference.server.name %></td>
  <td><%= h reference.uri %></td>
  <td><%= as_key_value_string(reference) %></td>
  <td>
    <% if can? :edit, reference %>
      <%= link_to I18n.t(:edit), edit_package_reference_path(package, reference) %>
      <div class='spaced'>|</div>
    <% end %>

    <% if can? :delete, reference %>
      <%= link_to I18n.t(:delete),
                  reference_path(reference, page: params[:page], key: params[:key]),
                  method: :delete,
                  confirm: I18n.t(:are_you_sure)
      %>
    <% end %>
  </td>
</tr>
