<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<% page_settings title: 'Edit Reference' %>
<% content_for :page_section do %>
  <%= render 'account/environment_tabs', selected: 'packages' %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<h3 class='no_margin servers_h2'>Edit Reference</h3>
<%= form_for [@package, @reference], html: { class: 'cssform' } do |f| %>
  <%= render 'form', f: f, servers: @servers %>
  <div class='field'>
    <%= f.submit 'Update Reference', class: 'button' %>
    or
    <%= link_to 'cancel', edit_package_path(@package) %>
  </div>
<% end %>

<h4>Properties</h4>
<table class='formatted_table overridden-properties'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @reference.property_values.each do |property_value| %>
      <tr>
        <td><%= property_value.property.name %></td>
        <td><%= property_value.decorate.value %></td>
        <td>
          <%= link_to 'Edit', edit_reference_property_value_path(@reference, property_value), rel: 'facebox' %>
          |
          <%= link_to 'Remove', reference_property_value_path(@reference, property_value), confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @reference.properties_that_can_be_overridden.present? %>
  <%= link_to 'Override a property', new_reference_property_value_path(@reference), rel: 'facebox' %>
<% end %>
