<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => h(@activity_category.name.pluralize) %>
<% content_for :head do %>
  <%= static_javascript_include_tag "activity_index_columns", "stdlib" %>
  <%= stylesheet_link_tag "financials" %>
<% end %>
<div class='clear'></div>
<br>
<% content_for :page_section do %>
  <%= render 'tabs', :selected => @activity_category %>
<% end %>
<% if @activity_category.activities.blank? %>
  <h2>
    There are no activities in this category.
  </h2>
<% else %>
  <table cellspacing='0' class='filter_table'>
    <thead>
      <tr>
        <th>
          <div class='cell_contents_wrapper_b'>
            <div class='cell_text'>Leading Group<br>ID</div>
          </div>
        </th>
        <%# %th %>
        <% @activity_category.index_columns.each do |col| %>
          <%= render 'filterable_th', :index_column => col, :attribute_column => col.activity_attribute_column, :name => col.name %>
        <% end %>
        <th>
          <div class='cell_contents_wrapper'>
            <div class='cell_text'>Bottom-up Forecast</div>
          </div>
        </th>
        <th id='submit_filter'>
          <%= form_tag filter_index_columns_activity_category_path(@activity_category), :class => "activity_filters #{dom_id(@activity_category)}" do %>
            <div class='submit'>
              <%= submit_tag 'filter', :class => 'spinner' %>
              <a class='clear_filters' <%= tag_options({:href => '#', :style => "display: none"}, false) %>>clear</a>
            </div>
          <% end %>

        </th>
      </tr>
    </thead>
    <tr>
      <td <%= tag_options({:colspan => column_count}, false) %>>[ <%= link_to 'expand all', '#', :class => 'expand_all' %> ]</td>
    </tr>
    <% @groups.each do |group| %>
      <tr class='group_name_row'>
        <td <%= tag_options({:colspan => column_count}, false) %>>
          <div class='group'>
            <div class='toggle closed preserve group_name' <%= tag_options({:id => dom_id(group), :rel => ".#{dom_id(group)}"}, false) %>>
              <%= h group.name %>
              <span><%= "(#{Activity.fetch_by_group(@activity_category.id, group.id, current_user.admin?, [], true)})" %></span>
            </div>
          </div>
        </td>
      </tr>
      <tbody <%= tag_options({:id => "#{dom_id(group)}_activities", :class => "#{dom_id(group)} activities_container", :style => "display:none"}, false) %>>
        <%= render_activities_by_group group %>
      </tbody>
    <% end %>
    <tr class='group_name_row'>
      <td <%= tag_options({:colspan => column_count}, false) %>>
        <div class='group'>
          <div class='toggle closed preserve group_name' id='unassigned_unassigned_toggle' rel='.unassigned'>
            Unassigned
            <span><%= "(#{@activity_category.activities.no_group.count})" %></span>
          </div>
        </div>
      </td>
    </tr>
    <tbody class='unassigned' id='unassigned_activities' style='display:none'>
      <%= render 'activity_categories/activities', :activities => Activity.fetch_by_group(@activity_category.id, 0, current_user.admin?), :columns => @activity_category.index_columns %>
    </tbody>
  </table>
<% end %>
