<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id='package_instances'>
  <h3>
    <%= link_to "âŽ", packages_path, class: 'metadata_backlink' %>
    <%= t(:'packaging.package_instance_list_title', name: @package.name) %>
  </h3>
  <h3>
    <%= t(".active") %>
  </h3>
  <% unless @active_package_instances.blank? %>
    <div class='line_h_20px active_package_instance_pages'>
      <%= will_paginate @active_package_instances %>
    </div>
    <table class='tablesorter formatted_table' id='active_table'>
      <thead>
        <tr>
          <th width='20%'><%= sortable_link t(".name"), 'name' %></th>
          <th width='30%'><%= t(".created_timestamp") %></th>
          <th width='30%'><%= t(".recent_activity") %></th>
          <th width='20%'><%= t(".actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @active_package_instances.each do |package_instance| %>
          <tr <%= tag_options({class: cycle('', 'alt')}, false) %>>
            <td>
              <nobr>
                <%= generate_link_to_or_not(index_title(h(package_instance.name)), edit_package_instance_path(package_instance, page: params[:page], key: params[:key]), can?(:edit, package_instance)) %>
                <%= content_tag(:strong, t("not_used")) if not package_instance.used? %>
              </nobr>
            </td>
            <td data-timestamp="<%= package_instance.created_at.utc %>">
              <%= package_instance.created_at.to_s(:yearmd) %>
            </td>
            <td><%= recent_activity_for(package_instance).html_safe %></td>
            <td class='action_links'>
              <nobr>
                <% if can?(:edit, package_instance) %>
                  <span><%= link_to t(".edit"), edit_package_instance_path(package_instance, page: params[:page], key: params[:key]) %></span>
                <% end %>
                <% if package_instance.destroyable? && can?(:make_active_inactive, package_instance) %>
                  <span><%= link_to t(".make_inactive"), deactivate_package_instance_path(package_instance, page: params[:page], key: params[:key]), method: :put %></span>
                <% end %>
              </nobr>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class='line_h_20px'><%= render partial: "shared/alphabetical_pagination", locals: {path: package_instances_path(:package), class_name: "package_instances" } %></div>
  <% if @inactive_package_instances.present? %>
    <h3>
      <%= t(".inactive") %>
    </h3>
    <div class='line_h_20px inactive_package_instance_pages'>
      <%= will_paginate @inactive_package_instances %>
    </div>
    <table class='tablesorter formatted_table' id='inactive_table'>
      <thead>
        <tr>
          <th width='80%'><%= sortable_link t(".name"), 'name' %></th>
          <th width='20%'><%= t(".actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @inactive_package_instances.each do |package_instance| %>
          <tr <%= tag_options({class: cycle('', 'alt')}, false) %>>
            <td>
              <nobr>
                <%= generate_link_to_or_not(h(package_instance.name), edit_package_instance_path(package_instance), can?(:edit, package_instance)) %>
                <%= content_tag(:strong, t("not_used"))  %>
              </nobr>
            </td>
              <td class='action_links'>
                <nobr>
                  <% if can?(:make_active_inactive, package_instance) %>
                    <span><%= link_to t(".make_active"), activate_package_instance_path(package_instance, page: params[:page], key: params[:key]), method: :put %></span>
                  <% end %>
                  <% if can?(:delete, package_instance) && package_instance.destroyable? %>
                    <span><%= link_to t(".delete"), package_instance_path(package_instance,page: params[:page], key: params[:key]), method: :delete, confirm: "Are you sure?" %></span>
                  <% end %>
                </nobr>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
