<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => 'Edit Package Instance' %>

<% content_for :head do %>
  <%= static_javascript_include_tag 'package_instance_edit' %>
<% end %>

<% content_for :page_section do %>
  <%= render :partial => 'account/environment_tabs', :locals => { :selected => 'packages' } %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<h2 >Edit Package Instance for: <%= @package.name %></h2>
<%= form_for @package_instance, :html => { :class => 'cssform' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <br>
  <h3>References</h3>
  <%= link_to 'add references', add_references_package_instance_path(@package_instance, :page => params[:page], :key => params[:key]), :rel => 'facebox'  %>
  <table class='formatted_table'>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Location
        </th>
        <th>
          Properties
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
    <% @package_instance.instance_references.each do | reference | %>
     <tr  <%= tag_options({:class => cycle('', 'alt')}, false) %> >
      <td><%= h reference.name %></td>
      <td><%= h reference.uri %></td>
      <td><%= as_key_value_string(reference) %></td>
      <td>
        <%= link_to 'Delete', instance_reference_path(reference,:page => params[:page], :key => params[:key]), :method => :delete, :confirm => "Are you sure?" %>
        <% unless reference.properties.empty? %>
          |
          <%= link_to "Edit Properties", edit_property_values_instance_reference_path(reference, {:object => 'instance_reference'}), :rel => 'facebox' %>
        <% end %>
      </td>
     </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <h3>Properties</h3>
  <% unless @package_instance.property_values.empty? %>
    <%= link_to "Edit values", edit_property_values_package_instance_path(@package_instance, {:object => 'package_instance'}), :rel => 'facebox' %>
  <% end %>
  <table class='formatted_table'>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Value
        </th>
      </tr>
    </thead>
    <tbody>
    <% @package_instance.property_values.each do | property_value | %>
     <tr <%= tag_options({:class => cycle('', 'alt')}, false) %> >
      <td><%= h property_value.property.name %></td>
      <td><%= h property_value.decorate.value %></td>
     </tr>
    <% end %>
    </tbody>
  </table>


  <div class='field'>
    <%= f.submit "Update", :class => "button" %>
    or
    <%= link_to 'cancel', package_instances_path(:page => params[:page], :key => params[:key], :package_id => @package.id ) %>

  </div>
<% end %>

