<%
 ################################################################################
  # BMC Software, Inc.
  # Confidential and Proprietary
  # Copyright (c) BMC Software, Inc. 2001-2012
  # All Rights Reserved.
  ################################################################################
%>
<div id="run_error_messages"></div>
<%= f.error_messages %>
<%= f.hidden_field :plan_id %>
<%= f.hidden_field :plan_stage_id %>
<%= f.hidden_field :requestor_id %>
<% @run.request_ids.try(:each) do |request_id| -%>
<%= hidden_field_tag "run[request_ids][]", request_id %>
<% end -%>
<div class="field">
	<%= f.label :name, '*Name' %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :owner_id, '*Owner' %>
	<%= f.select :owner_id, options_for_select(@owners, @run.owner_id || User.current_user.id) %>
</div>
<div class="field">
  <%= check_box_tag "run_start_at_to_planned_at_earliest_request", 1, false, :disabled => disable_date_field_for_run?(f.object) %>
   Set Run 'start at' time to earliest Request 'planned start time'
</div>
<div id = "run_start_at">
  <div class="field">
    <%= f.label :start_at %>
    <%= date_field_tag 'run[start_at_date]', @run.start_at, { :class => "start_at", :disabled => disable_date_field_for_run?(f.object)}, 'float:left; padding-left:4px; width:16px; height:16px;' %>
        &nbsp;at
    <%= f.select :start_at_hour, %w{ 01 02 03 04 05 06 07 08 09 10 11 12 }, {:include_blank => true}, :class => 'start_at hour', :disabled => disable_date_field_for_run?(f.object) %>
          \:
    <%= f.select :start_at_minute, ((0..59).map {|n| "%02d" % n}), { :include_blank => true }, :class => 'start_at minute', :disabled => disable_date_field_for_run?(f.object)%>
    <%= f.select :start_at_meridian, %w{ AM PM }, { :include_blank => true }, :class => 'start_at meridian', :disabled => disable_date_field_for_run?(f.object)%>
  </div>
</div>
<div class="field">
  <%= check_box_tag "request_planned_at_to_run_start_at", 1, false, :disabled => true %>
  Set Member Requests 'Planned Start' time to  Run 'Start at' time
</div>
<br/>
<div id = "run_end_at">
  <div class="field">
  	<%= f.label :end_at %>
    <%= date_field_tag 'run[end_at_date]', @run.end_at, {:disabled => disable_date_field_for_run?(f.object)}, 'float:left; padding-left:4px; padding-bottom: 7px; width:16px; height:16px;' %>
        &nbsp;at
    <%= f.select :end_at_hour, %w{ 01 02 03 04 05 06 07 08 09 10 11 12 }, { :include_blank => true }, :class => 'hour', :disabled => disable_date_field_for_run?(f.object)%>
          \:
    <%= f.select :end_at_minute, ((0..59).map {|n| "%02d" % n}), { :include_blank => true }, :class => 'minute', :disabled => disable_date_field_for_run?(f.object)%>
    <%= f.select :end_at_meridian, %w{ AM PM }, { :include_blank => true }, :class => 'meridian', :disabled => disable_date_field_for_run?(f.object)%>
  </div>
</div>
<div class="field">
	<%= f.label :duration, 'Duration' %>
	<%= f.text_field :duration %>
</div>
<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description, :rows => 3 %>
</div>
<div class="early_due_date_error" style="display:none">
  Due by is before Planned Start.
</div>
<%= hidden_field_tag :current_date, Time.now.strftime("%a %b %d %H:%M:%S %z %Y") %>
<div class="field">
  <%= f.label :auto_promote %>
  <%= f.check_box :auto_promote, disabled: @requests.on_closed_environment.any? %>
  <%= help_question_mark_with_text(t 'run.auto_promotion_help_message') %>
</div>
