<%
 ################################################################################
  # BMC Software, Inc.
  # Confidential and Proprietary
  # Copyright (c) BMC Software, Inc. 2001-2012
  # All Rights Reserved.
  ################################################################################
%>
<% if can? :reorder_run, run.plan %>
	<div id="member_reorder">
		<div class="subheader">
			<h2><%= link_to @run.name, plan_path(run.plan_id, :run_id => run.id) %> -
			Reorder Run </h2>
			<%= link_to 'done reordering',  plan_path(run.plan_id, :run_id => run.id) %>
		</div>
		<div>
			<div class="plan_member_level_divider">
				<p></p>
			</div>
			<% run.each_member_level do |member_level, level| %>
			<div class="plan_member_level">
				<div class="level_number">
					<%= level %>
				</div>
				<% member_level.each do |member| %>
				<%= render :partial => 'runs/for_reorder', :locals => { :run => run, :member => member } %>
				<% end %>
			</div>
			<div class="plan_member_level_divider">
				<p></p>
			</div>
			<% end %> <div style="clear:both"></div>
		</div>
	</div>
	<%= link_to 'done reordering', plan_path(run.plan_id, :run_id => run.id) %>
<% end %>
