<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
	<%= static_javascript_include_tag 'plans' %>
<% end %>
<h2>Editing Run</h2>

<%= form_for([@plan, @run], :html => { :class => 'cssform' }) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f } %>
  <%= render :partial => 'selected_requests', :locals => { :requests => @requests, :f => f, :plan_stage => @plan_stage, :show_date => true, :new_run => false } unless @requests.blank? %>
  <div class='button_bar'>
    <p>
      <% disabled = @plan.archived? ? true : false %>
      <%= f.submit 'Update', disabled: disabled %>
      <%= t(:archived_plan_message) if disabled %>
    </p>
  </div>
<% end %>
