<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h1>Listing runs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Requestor</th>
    <th>Owner</th>
    <th>Plan</th>
    <th>Plan stage</th>
    <th>Aasm state</th>
  </tr>

<% @runs.each do |run| %>
  <tr>
    <td><%=h run.name %></td>
    <td><%=h run.start_at %></td>
    <td><%=h run.end_at %></td>
    <td><%=h run.duration %></td>
    <td><%=h run.description %></td>
    <td><%=h run.requestor_id %></td>
    <td><%=h run.owner_id %></td>
    <td><%=h run.plan_id %></td>
    <td><%=h run.plan_stage_id %></td>
    <td><%=h run.aasm_state %></td>
    <td><%= link_to 'Show', plan_run_path(@plan, run) %></td>
    <td><%= link_to I18n.t(:edit), edit_plan_run_path(@plan, run) %></td>
    <td><%= link_to 'Destroy', plan_run_path(@plan, run), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New run', new_plan_run_path %>