<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<p>
  <b>Name:</b>
  <%=h @run.name %>
</p>

<p>
  <b>Start at:</b>
  <%=h @run.start_at %>
</p>

<p>
  <b>End at:</b>
  <%=h @run.end_at %>
</p>

<p>
  <b>Duration:</b>
  <%=h @run.duration %>
</p>

<p>
  <b>Description:</b>
  <%=h @run.description %>
</p>

<p>
  <b>Requestor:</b>
  <%=h @run.requestor_id %>
</p>

<p>
  <b>Owner:</b>
  <%=h @run.owner_id %>
</p>

<p>
  <b>Plan:</b>
  <%=h @run.plan_id %>
</p>

<p>
  <b>Plan stage:</b>
  <%=h @run.plan_stage_id %>
</p>

<p>
  <b>Aasm state:</b>
  <%=h @run.aasm_state %>
</p>


<%= link_to I18n.t(:edit), edit_plan_run_path(@plan, @run) %> |
<%= link_to 'Back', plan_runs_path %>