<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'plans', 'runs' %>
<% end %>
<% title = "#{@run.name}: Version Conflict Report" %>
<% page_settings :title => title %>
<%= render :partial => "plans/tabs", :locals => { :selected => "reports", :plan => @plan } %>
<div id='plans_container'>
  <h3>
    <%= link_to @run.name, plan_path(@run.plan.id, :run_id => @run.id) %>
    <%= ": Version Conflict Report" %>
  </h3>
  <div class='top_div' id='component_version_table_div' rel='version'>
    <% if @steps.empty? %>
      <p>
        There are no associated component versions.
      </p>
    <% else %>
      <table class='versionList formatted_table'>
        <thead>
          <tr>
            <th>Application</th>
            <th>Environment</th>
            <th>Component</th>
            <th>Version</th>
            <th>Request</th>
            <th>Step</th>
            <th>Requestor</th>
          </tr>
        </thead>
        <tbody>
          <% step_count = @steps.count %>
          <% @steps.each_with_index do |step, index| %>
            <% previous_step = index > 0 ? @steps[index-1] : nil %>
            <% next_step = @steps[index+1] %>
            <% previous_version_class = '' %>
            <% next_version_class = '' %>
            <tr <%= tag_options({:id => "step_row_#{step.id}", :class => cycle('even', 'odd')}, false) %>>
              <% if index > 0 && step.app == previous_step.app %>
                <td>
                  &nbsp;
                </td>
              <% else %>
                <td>
                  <%= h(truncate(step.app.name)) %>
                </td>
              <% end %>
              <% if index > 0 && step.request.environment_id == previous_step.request.environment_id %>
                <td>
                  &nbsp;
                </td>
              <% else %>
                <td>
                  <%= h(truncate(step.request.environment.name)) %>
                </td>
              <% end %>
              <td>
                <% if previous_step.try(:component_id) != step.component_id %>
                  <%= h(step.try(:component_name) || ' - ' ) %>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
              <% if !previous_step.nil? && !previous_step.try(:component_id).blank? && !step.component_id.blank? %>
                <% previous_version_class = (previous_step.try(:component_version) == step.component_version) ? 'version_repeats_previous' : 'version_conflicts_with_previous' %>
              <% end %>
              <% if !next_step.try(:component_id).blank? && !step.component_id.blank? && next_step.try(:component_id) == step.component_id %>
                <% next_version_class =  (next_step.try(:component_version) == step.component_version) ? 'version_repeats_next' : 'version_conflicts_with_next' %>
              <% end %>
              <td <%= tag_options({:class => [previous_version_class || "version_does_not_conflict_with_previous", next_version_class || "version_does_not_conflict_with_next"]}, false) %>>
                <%= h(step.try(:component_version) || ' - ' ) %>
              </td>
              <td>
                <%= link_to step.request.number, request_path(step.request) %>
              </td>
              <td>
                <%= h(step.number + '. ' + (truncate(step.name) || 'Anonymous Step')) %>
              </td>
              <td>
                <%= mail_to step.request.requestor.email, step.request.requestor.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <h3>
    Report Key
  </h3>
  <table class='version_conflict_report_key formatted_table'>
    <thead>
      <tr>
        <th>Cell Color</th>
        <th>Explanation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='version_repeats_previous'>
          yellow
        </td>
        <td>
          duplicate component version assignments
        </td>
      </tr>
      <tr>
        <td class='version_conflicts_with_previous'>
          pink
        </td>
        <td>
          conflicting component version assignments
        </td>
      </tr>
      <tr>
        <td class='version_repeats_previous version_conflicts_with_next'>
          orange
        </td>
        <td>
          component version both repeats and conflicts
        </td>
      </tr>
    </tbody>
  </table>
</div>
