<% content_for :sidebar do %>
  <% if can? :create, Route.new %>
    <p>
      <%= button_to 'Create Route', new_app_route_path(@app), :method => :get, :class => 'button create_route'  %>
    </p>
  <% end %>
<% end %>
<div id='routes'>
  <% if @routes.empty? %>
      <div class='blank_data_msg'>
        There are no routes at this time.
      </div>
  <% else %>
      <%= render :partial => "environments/metadata_pagination", :locals => {:metadata_model => @routes, :metadata_type => 'Route', :position => 'unarchived'} %>
      <table class='formatted_table'>
        <thead>
        <tr>
          <th>Name</th>
          <th>Environments</th>
          <th>Active / Archived Plans</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @routes.each do |route| %>
            <%= render :partial => 'route', :locals => {:route => route, :archived => false, :app => app} %>
        <% end %>
        </tbody>
      </table>
  <% end %>
  <% unless @archived_routes.blank? %>
      <h3><%= I18n.t(:archived) %></h3>
      <%= render :partial => "environments/metadata_pagination", :locals => {:metadata_model => @archived_routes, :metadata_type => 'Route', :position => 'archived'} %>
      <table class='formatted_table'>
        <thead>
        <tr>
          <th>Name</th>
          <th>Environments</th>
          <th>Active / Archived Plans</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @archived_routes.each do |route| %>
            <%= render :partial => 'route', :locals => {:route => route, :archived => true, :app => app} %>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
