<%# ############################################################################# %>
<%# BMC Software, Inc. %>
<%# Confidential and Proprietary %>
<%# Copyright (c) BMC Software, Inc. 2001-2012 %>
<%# All Rights Reserved. %>
<%# ############################################################################# %>
<tr id='route_<%= route.id %>' <%= tag_options({:class => cycle('', 'alt') +"#{' route_row' unless archived}"}, false) %>>
  <% if can? :inspect, Route.new %>
    <td><%= link_to index_title(h(truncate(route.name))), app_route_path(app, route) %></td>
  <% else %>
    <td><%= content_tag(:span, route.name) %></td>
  <% end %>
  <td title="<%= route.environments_list %>"><%= truncate(route.environments_list, length: 50) %></td>
  <td title="<%= route.active_plans_list(route.plans.archived) %>"><%= truncate(route.active_plans_list(route.plans.archived), length: 50) %></td>
  <td>
    <% unless archived %>
      <% if can? :edit, Route.new %>
        <%= link_to I18n.t(:edit), app_route_path(app, route), class: 'edit_route' %>
      <% else %>
        <span <%= tag_options({:style => "color:#999"}, false) %>>Edit</span>
      <% end %>
      <% if route.can_be_archived? %>
        &nbsp;|&nbsp;
        <% if can? :archive_unarchive, Route.new %>
          <%= link_to I18n.t(:archive), archive_app_route_path(app, route), method: :put, class: 'archive_route' %>
        <% else %>
          <span <%= tag_options({:style => "color:#999"}, false) %>>Archive</span>
        <% end %>
      <% end %>
    <% else %>
      <% if can? :archive_unarchive, Route.new %>
        <%= link_to I18n.t(:unarchive), unarchive_app_route_path(app, route), method: :put, class: 'archive_route' %>
      <% else %>
        <span <%= tag_options({:style => "color:#999"}, false) %>>Unarchive</span>
      <% end %>
      <% if route.destroyable? %>
        &nbsp;|&nbsp;
        <% if can? :delete, Route.new %>
          <%= link_to('Delete', app_route_path(app, route), method: :delete, confirm: "Are you sure you want to delete this route?", class: 'delete_route') %>
        <% else %>
          <span <%= tag_options({:style => "color:#999"}, false) %>>Delete</span>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
