<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<%= render :partial => "apps/application_container", :locals => {:subtitle => 'Create Route', :app => @app }   %>

<% content_for :sidebar do %>
  <span></span>
<% end %>
<h3>
<%= render :partial => "environments/metadata_heading", :locals => {:backlink => app_routes_path(@app), :title => "Create Route for #{truncate(@app.name)}"} %>
</h3>
<br>
<br>
<%= form_for [@app, @route], :html => { :class => 'cssform' } do |f| %>
  <%= render partial: 'form', locals: {f: f, app: @app, route: @route } %>
  <div class='field'>
    <%= f.submit I18n.t(:create), :class => "button" %>
    or
    <%= link_to 'cancel', app_routes_path(@app) %>
  </div>
<% end %>

