<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>


<%= render :partial => "apps/application_container", :locals => {:subtitle => "Route: #{h(truncate(@route.name))}", :app => @app} %>

<% unless @route.default?  -%>
    <% content_for :head do -%>
        <%= static_javascript_include_tag 'drag_and_drop/draggable_object', 'drag_and_drop/object_group_drop_zone', 'drag_and_drop/helpers' %>
        <%= static_javascript_include_tag 'drag_and_drop/jquery.ui.core', 'drag_and_drop/jquery.ui.widget', 'drag_and_drop/jquery.ui.mouse', 'drag_and_drop/jquery.ui.draggable' %>
    <% end -%>
<% end -%>

<% content_for :sidebar do %>
  <% if can? :edit, Route.new %>
    <p>
      <%= button_to 'Edit Route', edit_app_route_path(@app, @route), :class => 'button', :method => :get unless @route.default? %>
    </p>
  <% end %>
<% end %>

<h3>
  <%= render :partial => "environments/metadata_heading", :locals => {:backlink => app_routes_path(@app), :title => "Route for #{truncate(@app.name)}: #{h(truncate(@route.name))}"} %>
</h3>
<br class='clear'/>
<div class='field'>
  <b>
    Description:
  </b>
  <%= h(@route.description) %>
</div>

<% if can? :edit, Route.new %>
  <p>
    <%= link_to I18n.t(:edit), edit_app_route_path(@app, @route) unless @route.default? %>
  </p>
<% end %>
<hr/>

<h2>
  Route Gates
</h2>


<div id="route_gates_container">
  <%= render :partial => 'routes/reorder_route_gates', :locals => {:app => @app, :route => @route} %>
</div>

<br class='clear'/>
<hr/>
<div id="environments_list">
  <%= render :partial => 'routes/available_environments', :locals => {:app => @app, :route => @route, :environments => @available_environments} %>
</div>
<br>