<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr <%= tag_options({ class: "plan_stage_row #{cycle '', 'alt'}" }, false) %>>
  <td>
    <% if can?(:edit, plan_template) %>
      <span class='plan_stage' <%= tag_options({ id: dom_id(plan_stage) }, false) %>>
        <%= image_tag 'drag.gif' %>
      </span>
    <% end %>
  </td>
  <td>
    <%= link_to_if can?(:edit, plan_template), index_title(h(plan_stage.name)), edit_plan_template_plan_stage_path(plan_template, plan_stage), rel: 'facebox' %>
  </td>
  <td>
    <% if plan_stage.environment_type %>
      <%= colorized_label(plan_stage.environment_type.label_color, truncate(plan_stage.environment_type.name)) %>
    <% end %>
  </td>
  <td>
    <% if plan_stage.request_templates.any? %>
      <%= raw request_template_links(plan_stage.request_templates) %>
    <% end %>
  </td>
  <td>
    <%= plan_stage.members.try(:count) || 0 %>
  </td>
  <td>
  <%= (plan_stage.required? ? 'Yes' : 'No') %>
  </td>
  <td nowrap='' style='valign: top'>
    <% if can?(:edit, plan_template) %>
      <%= link_to t(:edit), edit_plan_template_plan_stage_path(plan_template, plan_stage), rel: 'facebox[.plan_stage_edit]', id: "plan_stage_edit_#{plan_stage.id}", class: 'edit_stage' %>

      <% unless plan_stage.members.try(:count) > 0 %>
        <%= link_to image_tag('bin_empty.png', alt: t('stage.delete')), plan_template_plan_stage_path(plan_template, plan_stage), method: :delete, confirm: t('stage.confirmations.delete'), id: "plan_stage_delete_#{ plan_stage.id }", title: t('stage.delete'), class: 'delete_stage' %>
      <% end %>
    <% end %>
  </td>
</tr>
