<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if @procedure.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>
    <ul>
    <% @procedure.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %><div class='field'>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'initialFocus', :maxlength => 255, :size => 30 %>
</div>
<div class='field'>
  <%= f.label :description %>
  <p class='expand_textarea_link fl' style='padding-top:10px;'>
    <%= f.text_area :description, :class => "expand", :rows => 0 %>
    [
    <a href="javascript:toggleTextarea('procedure_description', 'procedure_desc')" id='procedure_desc'>expand</a>
    ]
  </p>
</div>
<div class='field'>
  <%= f.label :app_ids, "Applications" %>
  <%= f.collection_select :app_ids, @apps, :id, :name, {}, { :multiple => true } %>
</div>
<%= hidden_field_tag 'procedure_id', @procedure.id %>

