<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div id='error_messages'><%= f.error_messages %></div>
<div class='field'>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'initialFocus' %>
</div>
<div class='field'>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 0, :class => "expand" %>
  <p class='expand_textarea_link'>
    [
    <a href="javascript:toggleTextarea('server_group_description', 'server_group_desc')" id='server_group_desc'>expand</a>
    ]
  </p>
</div>
<div class='field'>
  <%= f.label :server_ids, "Servers" %>
  <span id='servers'>
    <%= render :partial => "shared/checkbox_select_list", :locals => {:form_object => @server_group, :collection => servers, :object => "server_group", :method => "server_ids", :label => "name", :value => "id"} %>
  </span>
  <span class='sl_links' id='servergrp_select_links'>
    <%= select_clear_chk('servers') %>
  </span>
</div>
<div class='field'>
  <%= f.label :environment_ids, "Environments" %>
  <span id='environments'>
    <%= render :partial => "shared/checkbox_select_list", :locals => {:form_object => @server_group, :collection => environments, :object => "server_group", :method => "environment_ids", :label => "name", :value => "id"} %>
  </span>
  <span class='sl_links' id='env_select_links'>
    <%= select_clear_chk('environments') %>
  </span>
</div>
<%= hidden_field_tag :page, params[:page] %>
<%= hidden_field_tag :key, params[:key] %>
