<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='w_465' id='new_detail'>
  <%= form_for @server_level, :html => { :class => 'add_new_detail ajax cssform' } do |f| %>
    <% if @server_level.new_record? %>
      <h2>Create New Server Level</h2>
    <% else %>
      <h2>Edit Server Level</h2>
    <% end %>
    <%= error_messages_for :server_level %>
    <div class='field'>
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'initialFocus' %>
    </div>
    <div class='field'>
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 0, :class => "expand", :style => "width:auto" %>
      <p class='expand_textarea_link' style='padding:0'>
        [
        <a href="javascript:toggleTextarea('server_level_description', 'server_level_desc')" id='server_level_desc'>expand</a>
        ]
      </p>
    </div>
    <div class='button_bar'>
      <% if @server_level.new_record? %>
        <%= submit_tag "Create Level",:class =>'button' %>
      <% else %>
        <%= submit_tag "Update",:class =>'button' %>
        or <%= link_to 'cancel', server_level_path(@server_level.try(:id), :page => params[:page], :key => params[:key]), :class => 'ajax' %>
      <% end %>
    </div>
  <% end %>

</div>
