<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>
<div id='server_level_pagination'>
  <% if can?(:add, ServerAspect.new) %>
      <span class='add_new_link'>
        <%= link_to "Add New Instance", new_server_level_server_aspect_path(@server_level, :page => params[:page], :key => params[:key]), :class => 'ajax' %>
      </span>
  <% end %>
  <div class='server_search'>
    <%= render :partial => 'server_level_search' %>
  </div>
  <div class='line_h_20px'>
    <%= render :partial => "shared/alphabetical_pagination", :locals => {:path => server_level_path(@server_level.try(:id)), :class_name => "server_level_pagination"} %>
  </div>
  <table class='index_table clear tablesorter four_column_sorter formatted_table' id='server_levels'>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Parent</th>
      <th>Components</th>
      <th>Properties</th>
      <th>Actions</th>
    </tr>
    </thead>
    <% unless @server_level_server_aspect.blank? %>
        <tbody>
        <% @server_level_server_aspect.each do |server_aspect| %>
            <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
              <% if can?(:edit, server_aspect) %>
                <td><%= link_to index_title(h(server_aspect.name)), edit_server_level_server_aspect_path(@server_level, server_aspect, :page => params[:page], :key => params[:key]), :class => 'ajax' %></td>
              <% else %>
                <td><%= index_title(h(server_aspect.name)) %></td>
              <% end %>
              <td><%= ensure_space h(server_aspect.description) %></td>
              <td><%= ensure_space h(server_aspect.parent.path_string) %></td>
              <td><%= ensure_space h(server_aspect.installed_components.map { |component| component.path }.to_sentence) %></td>
              <td>
                <%= link_to_if can?(:edit_property, server_aspect), name_list_sentence(server_aspect.properties_with_values), edit_property_values_server_level_server_aspect_path(@server_level, server_aspect), :rel => 'facebox' %>
              </td>
              <td class='action_links'>
                <% if can?(:delete, server_aspect) %>
                  <%= form_tag [@server_level, server_aspect], :method => :delete, :class => 'ajax' do %>
                    <%= hidden_field_tag :page, params[:page] %>
                    <%= hidden_field_tag :key, params[:key] %>
                    <%= link_to image_tag("bin_empty.png", :alt => "delete"), '#', :class => 'delete' %>
                  <% end %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
    <% else %>
        <tr>
          <td colspan='5'>
            No Results Found
          </td>
        </tr>
    <% end %>
  </table>
  <div class='line_h_20px'>
    <%= render :partial => "shared/alphabetical_pagination", :locals => {:path => server_level_path(@server_level.try(:id)), :class_name => "server_level_pagination"} %>
  </div>
  <h2>
    <%= h @server_level.name %>
    Properties
  </h2>
  <% if can?(:create, Property.new) %>
      <span style='font-size:10px;display:block;clear:both;'>
        <%= link_to I18n.t(:'property.buttons.add_new'),
                    new_server_level_property_path(@server_level,
                                                   :object => @server_level.class.to_s.underscore,
                                                   :object_id => @server_level.id,
                                                   :page => params[:page],
                                                   :key => params[:key]),
                    :rel => 'facebox' %>
      </span>
  <% end %>
</div>
