<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<li class='edit_server_level'>
  <h2>
    <%= "Server Level: #{h @server_level.name}" %>
  </h2>
</li>
<%= render :partial => "actions" %>
<div id='server_search_result'>
  <%= render :partial => "server_level_show" %>
</div>
<br>
<hr>
  <table class='index_table tablesorter three_column_sorter formatted_table' id='server_level_properties'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Default Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @server_level.properties.active.each do |property| %>
        <tr <%= tag_options({:class => cycle('', 'alt')}, false) %>>
          <% if can?(:edit, property) %>
            <td><%= link_to index_title(h(property.name)), edit_server_level_property_path(@server_level, property), :rel => 'facebox' %></td>
          <% else %>
            <td><%= index_title(h(property.name)) %></td>
          <% end %>
          <td><%= ensure_space h(property.literal_display_value_for(@server_level)) %></td>
          <td>
            <%= form_tag [@server_level, property], :method => :delete, :class => 'ajax' do %>
              <% if can?(:delete_property, @server_level) %>
                <%= link_to image_tag("bin_empty.png", :alt => "delete"), '#', :class => 'delete' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <input id='server_levels_params' type='hidden' value='#{params[:id]}'>
  <input id='extra_params' type='hidden' value='#{params[:_]}'>
</hr>
