<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => @server_level.name %>
<% content_for :head do %>
  <%= static_javascript_include_tag "server_level_instances" %>
<% end %>
<% content_for :page_section do %>
  <%= render :partial => 'account/environment_tabs', :locals => {:selected => "servers"} %>
<% end %>
<%= render :partial => "servers/sidebar" %>
<div class='pageSection'>
  <% draw_tabs :for => :server do %>
    <%= render "servers/tabs", :selected => 'server_levels' %>
  <% end %>
</div>
<%= javascript_tag set_server_level_actions(@server_level) %>
<div class='sidebar'>
  <nbsp></nbsp>
</div>
<div id='server_container'>
  <%= render :partial => 'server_levels/show' %>
</div>
