<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='filter_selected_values' <%= tag_options({:id => "filter_selected_values_#{filter}"}, false) %>>
  <div class='selected'>
    <%= link_to_function 'add', "return false", 'data-attr-id' => "#{filter}", :class => 'ignore-pending', :id => "f_#{filter}" %>
  </div>
</div>
<div class='filter_values_to_select' <%= tag_options({:id => "filter_values_to_select_#{filter}", :style => 'display: none'}, false) %>>
  <%= select_tag "filters[#{filter}][]", local_assigns[:options_from_collection_for_select] ? options_from_collection_for_select : options_for_select(filter_options), :multiple => true, :size => 5, :style => "width:100px; height:100px;", 'data-attr-id' => "#{filter}" %>
  <br/> 
  <%= link_to_function 'done', "return false", :class => 'filter_done ignore-pending', 'data-attr-id' => filter, :id => "filter_done_#{filter}" %>
  <%= link_to_function 'cancel', "return false", :style => 'display:none', :class => 'filter_cancel_select', 'data-attr-id' => "#{filter}", :id => "filter_cancel_#{filter}" %>
  <%= link_to_function 'clear', "return false", :class => 'filter_clear ignore-pending', 'data-attr-id' => filter, :id => "filter_clear_#{filter}" %>  
</div>
