<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% backlink = releases_path %>
<% title = "Edit Release: #{h(@original_title ?  @original_title : @release.name)}" %>
<% page_settings :title => title %>
<% content_for :page_section do %>
  <%= render 'account/environment_tabs', :selected => 'metadata' %>
<% end %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= render :partial => 'environments/metadata_heading', :locals => {:backlink => backlink, :title => title} %>
<br/>
<br/>
<%= form_for @release, :html => { :class => 'cssform' } do |f| %>
  <%= f.error_messages %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'initialFocus' %>
  </div>
  <div class='field'>
    <%= f.submit "Update", :class => "button" %>
    or
    <%= link_to 'cancel', releases_path %>
  </div>
<% end %>

