<fieldset>
  <p class='in_form'>
    <% if builder.object.new_record? %>
      <%= builder.file_field :attachment, :class => "upload_file_field" %>
    <% else %>
      <%= link_to_upload(builder.object) %>
    <% end %>
    <%= builder.hidden_field :attachment_cache %>
    <%= builder.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_fields" %>
  </p>
</fieldset>
