<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if @plans.keys.size > 0 %>
  <table id='release_calendar'>
    <tr></tr>
    <% @duration.each_with_index do |date, index| %>
      <td>
        <table class='tablesorter releases formatted_table'>
          <thead>
            <tr>
              <td class='month_year'><%= date.strftime('%B %Y') %></td>
            </tr>
          </thead>
          <tbody>
            <% @plans[date.strftime('%B %Y')].each do |plan| %>
              <tr>
                <td class='release_title'>
                  <%= (can? :inspect, Plan.new) ? link_to(h(plan.name), plan) : h(plan.name) %>
                  <span class='fr'><%= ensure_string(default_format_date(plan.release_date), "Unassigned") %></span>
                </td>
              </tr>
              <tr>
                <td class='environments'><%= plan.environments.to_sentence %></td>
              </tr>
              <tr class='stages'>
                <td>
                  <table <%= tag_options({:class => index % 2 == 0 ? "stages_even" : "stages_odd"}, false) %>>
                    <thead>
                      <th>Stage</th>
                      <th>Start</th>
                      <th>End</th>
                    </thead>
                    <tbody>
                      <% members = plan.members %>
                      <% stage_dates = plan.stage_dates.group_by(&:plan_stage_id) %>
                      <% plan.stages.each do |stage| %>
                        <tr>
                          <td <%= tag_options({:width => 90}, false) %>><%= stage.name %></td>
                          <td><%= default_format_date(stage_dates[stage.id].try(:first).try(:start_date)) %></td>
                          <td><%= default_format_date(stage_dates[stage.id].try(:first).try(:end_date)) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
              <% if plan.description %>
                <tr>
                  <td><%= h plan.description %></td>
                </tr>
              <% end %>
              <% unless @plan_activities.blank? %>
                <% @plan_activities.each do |activity| %>
                  <tr class='project_requests'>
                    <td <%= tag_options({:id => "#{plan.id}_activity_#{activity.id}", :style => "display:none;"}, false) %>></td>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <td style='padding-top:10px;padding-bottom:10px;'>
                  <hr>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    <% end %>
  </table>
<% end %>
