<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<table class='requestList formatted_table'>
  <% if requests.empty? %>
    <tr>
      <td colspan='0'>
        There are no requests scheduled
      </td>
    </tr>
  <% else %>
    <thead>
      <tr>
        <th></th>
        <%= sortable_th 'Status', :column => "aasm_state" %>
        <%= sortable_th 'Id', :column => 'id' %>
        <%= sortable_th 'Name', :column => 'name' %>
        <%= sortable_th 'App', :column => 'app' %>
        <%= sortable_th 'Env', :column => 'environment' %>
        <%= sortable_th 'Project', :column => 'activity' %>
        <th>Participants</th>
        <%= sortable_th 'Steps', :class => 'last', :column => "executable_step_count" %>
      </tr>
    </thead>
    <tbody>
      <% requests.each do |recent_request| %>
        <tr <%= tag_options({:class => "#{cycle('', 'alt' )} request_row", :id => "request_row_#{recent_request.id}"}, false) %>>
          <td>
            <%= link_to "L", recent_request.plan if recent_request.plan %>
            <%= link_to "P", recent_request.activity if recent_request.activity %>
          </td>
          <td <%= tag_options({:class => "status#{' person_cell' if current_user.is_owner_or_requestor_of?(recent_request)}", :nowrap => "", :style => "width: 80px;"}, false) %>>
            <%= link_to content_tag(:div, h(recent_request.aasm.current_state), :class => "#{recent_request.aasm.current_state}RequestStep state" ), recent_request %>
          </td>
          <td class='request_number'>
            <%= recent_request.number %>
          </td>
          <td <%= tag_options({:title => h(recent_request.name)}, false) %>>
            <%= ensure_space h(truncate(recent_request.name, :length => 25)) %>
          </td>
          <% if recent_request.app && !recent_request.app.default? %>
            <td <%= tag_options({:title => ensure_space(recent_request.app_name.to_sentence)}, false) %>>
              <%= ensure_space h(truncate(recent_request.app_name.to_sentence, :length => 25)) %>
            </td>
          <% else %>
            <td>&nbsp;</td>
          <% end %>
          <% if recent_request.environment && !recent_request.environment.default? %>
            <td <%= tag_options({:title => h(recent_request.environment.name)}, false) %>>
              <%= ensure_space h(truncate(recent_request.environment.name, :length => 25)) %>
            </td>
          <% else %>
            <td>&nbsp;</td>
          <% end %>
          <td><%= recent_request.activity.try(:name) %></td>
          <td><%= recent_request.participant_names.to_sentence %></td>
          <td style='text-align: center'>
            <%= recent_request.executable_steps.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
