<div>
  <div id="toggleFilterLink">
    <%= link_to "Open Filters", {}, data: { placeholder: 'Close Filters' } %>
  </div>
  <div id="filterSection" class="hide">
    <% if @filter_params[:filters].present? %>
      <%= hidden_field_tag 'not_empty_filter' %>
    <% end %>
    <div id="financials_filters">
      <%= form_tag nil, remote: true,
                        method: :get,
                        class: 'filters',
                        id: 'filter_form' do -%>
        <%= hidden_field_tag 'act', 'filter' %>
        <%= hidden_field_tag 'clear_filters', '1', disabled: 1 %>
        <table align="center" cellpadding="0" cellspacing="0" style="width:100%">
          <tbody>
            <tr>
              <td>
                <label for="filters_recurrence_id">Recurring:</label>
                <%= render partial: "dashboard/filters/filter_select_list",
                           locals: { filter: "recurrent",
                                     filter_selected_values: @filter_params[:filters][:recurrent],
                                     filter_options: [['Yes', 1], ['No', 0]] } %>
              </td>
              <td>
                <label for="filters_behavior">Behavior:</label>
                <%= render partial: "dashboard/filters/filter_select_list",
                           locals: { filter: "behavior",
                                     filter_selected_values: @filter_params[:filters][:behavior],
                                     filter_options: DeploymentWindow::Series::BEHAVIOR } %>
              </td>
              <td>
                <label for="filters_environment">Environment:</label>
                <%= render partial: "dashboard/filters/filter_select_list",
                           locals: { filter: "environment",
                                     filter_selected_values: @filter_params[:filters][:environment],
                                     filter_options: Environment.all.sort.map { |e| [e.name, e.id] } } %>
              </td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: left">&nbsp;</td>
              <td style="text-align: right">
                <%= link_to "clear", nil, class: 'clear_request_filters' %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end -%>
    </div>
  </div>
</div>
