  <% if @deployment_window_series.errors.any? %>
    <div id="error_explanation" class="error">
      <% if @deployment_window_series.new_record? %>
        <h2 class="error">Fix error below to save the Deployment Window.</h2>
        <h2 class="error">There were problems with the following fields:</h2>
      <% else %>
        <h2 class="error"><%= pluralize(@deployment_window_series.errors.count, "error") %> prohibited this deployment window series from being saved:</h2>
      <% end %>

      <ul>
      <% @deployment_window_series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="error_explanation_js" class="error on_form" style="display: none;"><ul></ul></div>

  <% if @deployment_window_series.requests.active.any? %>
    <div class="bg-warning">
      <% link_to_active_requests = link_to_active_requests(@deployment_window_series, @deployment_window_series.requests.active) %>
      <p class="bold"><%= t 'deployment_window.warnings.has_active_requests_html', action: t(:edit), link_to_active_requests: link_to_active_requests %></p>
      <p class="bold"><%= t 'deployment_window.warnings.edit' %></p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'initialFocus' %>
  </div>

  <div class="field">
    <%= f.hidden_field :behavior, value: @deployment_window_series.behavior %>
    <%= f.label :behavior %>
    <span id="behavior"><%= @deployment_window_series.behavior.camelize %></span>
    <br />
  </div>

  <div class="divider"></div>

  <div class="field stitched_date">
    <%= f.label :start_at, 'Start' %>
    <% if @deployment_window_series.start_at? %>
      <% if start_at_disabled?(@deployment_window_series) %>
        <%= f.hidden_field :start_at, value: default_format_date(@deployment_window_series.start_at) %>
      <% end %>
      <%= f.text_field :start_at, value: default_format_date(@deployment_window_series.start_at), class: 'date', disabled: start_at_disabled?(@deployment_window_series) %>
    <% end %>
    <span class="time">
        <span class="prefix">at</span>
        <%= f.time_select :start_at, ignore_date: true, disabled: (start_at_disabled?(@deployment_window_series) && !@deployment_window_series.recurrent?) %>
    </span>
  </div>

  <div class="field stitched_date">
    <%= f.label :finish_at, 'Finish' %>
    <%= f.text_field :finish_at, value: default_format_date(@deployment_window_series.finish_at), class: 'date' %>
    <span class="time">
        <span class="prefix">at</span>
        <%= f.time_select :finish_at, ignore_date: true %>
    </span>
  </div>

  <div class="divider"></div>

  <div class="field">
    <%= f.label :recurrent %>
    <%= f.check_box :recurrent, {}, "true", "false" %>
  </div>

  <div class="field recurrence">
    <div id="time_holder" class="field"></div>
    <div class="field">
      <%= f.label :frequency %>
      <%= f.select_recurring :frequency, nil, { blank_label: '', allow_blank: false }, {  class: "recurrence_rules"} %>
    </div>

    <div id="deployment_window_series_recurrent_time">
    </div>

    <div class="field">
      <%= f.label :duration do %>
        Duration: <%= help_question_mark_with_text(t 'deployment_window.duration_help') %>
      <% end %>
      <%= f.select(:duration_in_days, duration_days_select ) %>
      <span id="duration_result"></span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="field">
    <%= f.label :environments %>
    <%= link_to_multiple_picker(:environment, object: @deployment_window_series, item_display_field: 'name',
                                filters: {deployment_policy: @deployment_window_series.allow? ? 'closed' : 'opened'}) %>
    <%= f.hidden_field :environment_ids %>
  </div>
