<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################

%>
<table class="server_side_tablesorter tablesorter formatted_table"
       summary="<%= deployment_window_series_index_path(params.merge({scope: scope, order: @filter_params[scope][:order]})) %>"
>
  <thead>
    <tr>
      <th headers="name">Name</th>
      <% if unarchived?(scope) %>
        <th>Status</th>
      <% end %>
      <th headers="start_at">Start</th>
      <th headers="finish_at">Finish</th>
      <th headers="recurrent">Recurring</th>
      <th headers="frequency_name">Frequency</th>
      <th>Environments</th>
      <th headers="behavior">Behavior</th>
      <% if scope == :unarchived %>
        <th headers="requests_count">Active Requests</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @deployment_window_series.send(scope)
                                .order(@scope_params[scope][:order])
                                .paginate(page: @scope_params[scope][:page] || 1 )
                                .each do |series| %>
      <tr id='deployment_window_series_<%= series.id %>'>
        <td title="<%= series.name %>" class="name">
          <div class="truncated">
            <% if series.recurrent? %>
              <%= prepare_name(series) %>
            <% else %>
              <%= series.name %>
            <% end %>
          </div>
        </td>
        <% if unarchived?(scope) %>
          <% if can?(:update_state, series) %>
            <%= render partial: 'object_state/td_state', locals: { passed_obj: series } %>
          <% else %>
            <td>&nbsp;</td>
          <% end %>
        <% end %>
        <td>
          <%= series.start_at.strftime(GlobalSettings['default_date_format']) %>
        </td>
        <td>
          <%= series.finish_at.strftime(GlobalSettings['default_date_format']) %>
        </td>
        <td>
          <%= series.recurrent? ? 'Yes' : 'No' %>
        </td>
        <td title="<%= [series.frequency_name, series.rrule_description].compact.join(', ') %>">
          <%= series.frequency_name.present? ? series.frequency_name : '-' %>
        </td>
        <td title="<%= series.environments.pluck('environments.name').join(', ') %>" class="environments truncated">
          <%= series_environments_links(series, current_user) %>
        </td>
        <td>
          <%= series.behavior %>
        </td>
        <% if unarchived?(scope) %>
          <td>
            <% if series.allow? %>
              <% requests_count = series.active_requests.accessible_to_user(current_user).count %>
              <% if requests_count == 0 %>
                <%= requests_count %>
              <% else %>
                <%= link_to requests_count, request_dashboard_path({
                  "filters[deployment_window_series_id][]" => series.id,
                  "filters[aasm_state][]" => "active"
                })%>
              <% end %>
            <% else %>
              &#45;
            <% end %>
          </td>
        <% end %>
        <td>
          <% if unarchived?(scope) %>
            <% if series.editable? %>
              <% if can?(:edit, series) %>
                <div style="float:left;">
                  <%= link_to'Edit', edit_deployment_window_series_path(series), class: 'edit_deployment_window_series' %>
                </div>
              <% end %>
              <% if series.can_change_aasm_state? && can?(:update_state, series) %>
                <%= render partial: 'object_state/state_list', locals: { passed_obj: series } %>
              <% end %>
            <% else series.can_be_archived? && can?(:update_state, series) %>
              <%= link_to('Archive', archive_deployment_window_series_path(series), method: :put) %>
            <% end %>
          <% else %>
            <% if can?(:update_state, series) && series.editable? %>
              <div style="float:left;">
                <%= link_to 'Unarchive', unarchive_deployment_window_series_path(series), method: :put, class: 'archive_deployment_window_series' %>
                &nbsp;|&nbsp;
              </div>
            <% end %>
            <% if can?(:delete, series) %>
            <div style="float:left;">
                <%= link_to 'Delete', series, method: :delete, class: 'delete_deployment_window_series', confirm: "Are you sure you want to delete this deplyment window series?" %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @deployment_window_series.send(scope).paginate(page: (@scope_params[scope][:page] || 1), count: { group: 'deployment_window_series.name' }), { class: 'server_side_tablesorter_pagination', params: {scope: scope}} %>
