  <table class="server_side_tablesorter tablesorter formatted_table" summary="<%= deployment_window_series_index_path(scope: scope) %>">
    <thead>
      <tr>
        <th headers="name">Name</th>
        <th headers="start_at">Start</th>
        <th headers="finish_at">Finish</th>
        <th headers="recurrence_id">Recurring</th>
        <th headers="frequency">Frequency</th>
        <th>Environments</th>
        <th headers="behavior">Behavior</th>
      <% if scope == :unarchived -%>
        <th>Active Requests</th>
      <% end -%>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
<% @deployment_window_series.each do |deployment_window_series| -%>
    <tr>
      <td>
        <% if deployment_window_series.recurrent? %>
          <%= link_to deployment_window_series.name, deployment_window_series_occurrences_path(deployment_window_series) %>
        <% else %>
          <%= deployment_window_series.name %>
        <% end %>
      </td>
      <td><%= deployment_window_series.start_at %></td>
      <td><%= deployment_window_series.finish_at %></td>
      <td><%= deployment_window_series.recurrent? ? 'Yes' : 'No' %></td>
      <td title="<%= deployment_window_series.schedule.try(:to_s).match(/^\w+/) %>">
        <%= deployment_window_series.schedule.rule %>
      </td>
      <td class="environments truncated" title="<%#= deployment_window_series.environments.map(&:name).join(', ') %>">
        <%#= deployment_window_series.environments.map(&:name).join(', ') %>
      </td>
      <td><%= deployment_window_series.behavior %></td>
    <%
      active_requests = if deployment_window_series.behavior == DeploymentWindow::Series::PREVENT
        '-'
      else
        '+'#deployment_window_series.requests.active.count
      end
    -%>
    <% if scope == :unarchived -%>
      <td><%#= deployment_window_series.requests.active.count > 0 ? link_to(active_requests, requests_path + '#TODO') : active_requests %></td>
    <% end -%>
      <td>
    <% if scope == :unarchived -%>
        <%#= link_to('Archive', archive_deployment_window_series_path(deployment_window_series), :method => :put) if deployment_window_series.requests.active.count > 0 %>
    <% else %>
        <%#= link_to I18n.t(:unarchive), unarchive_deployment_window_series_path(deployment_window_series), :method => :put %>
        <%# if deployment_window_series.destroyable? %>
           &nbsp;|&nbsp;
           <%#= link_to I18n.t(:delete), deployment_window_series, :method => :delete, :confirm => "Are you sure you want to delete this deplyment window series?" %>
        <%#  end %>
    <% end %>
        <%= link_to(I18n.t(:edit), edit_deployment_window_series_path(deployment_window_series)) %>
      </td>

    </tr>
<% end -%>
  </tbody>
  </table>
  <%#= will_paginate @deployment_window_series, class: 'server_side_tablesorter_pagination' %>
