<% backlink = deployment_window_series_index_path %>
<% title = "Editing #{@deployment_window_series.behavior.capitalize} Deployment Window Series" %>
<% page_settings title: title %>
<% content_for :page_section do %>
    <%= render 'account/environment_tabs', selected: 'metadata' %>
<% end %>

<% content_for :sidebar do %>
    <span></span>
<% end %>

<%= render 'environments/metadata_heading', backlink: backlink, title: title  %>

<% if @deployment_window_series.can_change_aasm_state? && can?(:update_state, @deployment_window_series) %>
  <%= render 'object_state/state_indicator', passed_obj: @deployment_window_series %>
<% end %>

<%= form_for @deployment_window_series, html: { class: 'cssform', id: 'edit_deployment_window_series' } do |f| %>
  <%= render 'form', f: f %>

  <div class='field'>
    <% if @deployment_window_series.requests.any? %>
      <%= f.submit "Update", class: "button dws_form_submit", data: { confirm: t('confirm_update_deployment_window') } %>
    <% else %>
      <%= f.submit "Update", class: "button dws_form_submit" %>
    <% end %>
      or
      <%= link_to 'cancel', (params[:return_to] ? deployment_windows_calendar_reports_path : deployment_window_series_index_path) %>
  </div>

  <% if params[:return_to].present? %>
    <%= hidden_field_tag 'return_to', params[:return_to] %>
  <% end %>
<% end %>
