<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
  <% selected_application_environments.each do |app_env| %>
        <p class=<%= class_for_environment_color(app_env)%>><span><%= (source_env==true)?"Source Environment: ":"Target Environment: "    %></span><%= h(app_env.name_label) %></p>
      <% end %>

<table id="map" class="formatted_table">
  <thead>
    
    <tr>
      <th>Lvl</th>
      <th>Component</th>
      <% selected_application_environments.each do |app_env| %>
        <th class="">Version</th>
        <th class="leftBorder">Last deploy</th>
        <% if defined?(env) %>
        	<th id="check_all" class="check_all">
                  <%= check_box_tag :select_all_chk, "1", false, :check_box_dom => "#map tbody tr th",:onclick => 'toggleHeaderChecked($(this))' %>
                  <%= hidden_field_tag 'checked', true %>
                </th>
        	
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% unless selected_application_environments.empty? %>
    <tfoot>
      <%= render :partial => 'maps/table_footer', :locals => { :selected_app => selected_app, :selected_application_environments => selected_application_environments } %>
    </tfoot>
  <% end %>
  <tbody>
    <%= render :partial => 'maps/app_component_by_level', :locals => { :env => defined?(env) ? true : false , :selected_app => selected_app, :selected_application_environments => selected_application_environments } %>
  </tbody>
</table>
