<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= form_tag create_from_template_requests_path(:request_template_id => template.id), :method => :post , :class => "create_request_from_template", :id => "template_#{template.id}"  do %>
  <%= hidden_field_tag :app_id, @selected_values[:app_id] %>
  <%= hidden_field_tag :target_env, @selected_values[:target_env] %>
  <%= hidden_field_tag :environment_id, @selected_values[:target_env] %>
  <%= hidden_field_tag :source_env, @selected_values[:source_env] %>
  <% if can? :create, template.request %>
    <% if template.has_all_components(@selected_values[:component]) %>
      <div class='prm_table_div'>
        <%= button_to_function "Create Request", "saveRequestPromotion(#{template.id})", :style => "position:relative; right: 0px; bottom: 0px;" %>
      </div>
    <% else %>
      <div class='prm_table_div'>
        <%= button_to_function("Create Request", "if (confirm('Warning: This template does not contain all of the selected componenets for promotion.')) saveRequestPromotion(#{template.id})") %>
      </div>
    <% end %>
  <% end %>
  <% Request.column_names.each do |column| %>
    <%= hidden_field_tag "request[#{column}]" %>
  <% end %>
  <%= hidden_field_tag "request[selected_components]", @selected_values[:component].join(',') %>
  <%= hidden_field_tag "request[promotion_source_env]", @selected_values[:source_env] %>
  <div class='prm_table_div'>
    <%= check_box_tag "include[users]", 1, false, :id => "include_users_#{template.id}" %>
    <label class='normal_font_label' <%= tag_options({:for => "include_users_#{template.id}"}, false) %>>
      preserve assignments
    </label>
    <%= check_box_tag "include[all]", 1, true, :id => "include_all_#{template.id}" %>
    <label class='normal_font_label' <%= tag_options({:for => "include_all_#{template.id}"}, false) %>>
      preserve all data
    </label>
  </div>
<% end %>

