<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h3>Create Promotion</h3>
<%= form_tag url_for(promotion_table_promotions_path), :remote => true, :class => 'request cssform', :id => 'promotionForm' do %>
  <span id='error_messages'></span>
  <div class='field'>
    <%= label_tag 'Applications' %>
    <%= select_tag 'promotion[app_id]', ("<option value=''>Select</option>" + options_from_collection_for_select(current_user.accessible_apps_for_requests, :id, :name)).html_safe, :onchange => "loadEnvforPromotion($(this))", :id => 'application_id' %>
  </div>
  <div id='source_env'></div>
  <div id='target_env'></div>
  <div id='generate_promotions'>
    <%= submit_tag "Create Promotion Table", :class => "button", :id => "btn-create_p_table" %>
    or
    <%= link_to_function 'cancel', "hidePromoteTable()" %>
  </div>
<% end %>

<div id='promotion_table'></div>
