<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<br class="clear"/>
<hr/>
<h3><%= "Promotion Table: #{@app.name}" %></h3>
<form id='componentListing'>
  <%= hidden_field_tag 'app_id', @app.id %>
  <%= hidden_field_tag 'source_env', @promotion.source_env %>
  <%= hidden_field_tag 'target_env', @promotion.target_env %>
  <table>
    <tr id='list_of_components'>
      <td>
        <%= render :partial => 'promotions/components_listing', :locals => { :env => 'source',:source_env =>true, :selected_app => @app, :selected_application_environments => @promotion.source_environments } %>
      </td>
      <td>
        <%= render :partial => 'promotions/components_listing', :locals => { :show_promote_btn => true,:source_env =>false, :selected_app => @app, :selected_application_environments => @promotion.target_environments } %>
      </td>
    </tr>
  </table>
  <%= link_to_function image_tag('btn-promote.png'), "jQuery.facebox({ ajax: '#{new_promotion_url}' + '/?' + jQuery.param(jQuery('#componentListing').serializeArray()) })" %>
  or
  <%= link_to_function "Cancel", "hidePromotionTable();" %>
</form>
