<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<form class='cssform' id='promotion_form'>
  <div id='promotion_request_form' style='width:650px;'></div>
  <h2>
    Create Promotion Request
  </h2>
  <p style='padding-left:0'>
    Select the Template for the Promotion Request
    Note: Selected Components may not be present in some or all the available templates
  </p>
  <h3>
    Promotion Request Information
  </h3>
  <%= hidden_field_tag :app_id, @selected_values[:app_id] %>
  <%= hidden_field_tag :environment_id, @selected_values[:target_env] %>
  <div class='field'>
    <%= label_tag :name, 'Name' %>
    <%= text_field_tag :name %>
    Optional
  </div>
  <div class='field'>
    <%= label_tag :release_id, 'Release' %>
    <%= select_tag 'release_id', "<option value=''>Select</option>".html_safe + options_from_collection_for_select(Release.unarchived.in_order, :id, :name) %>
    &nbsp;Optional
  </div>
  <div class='field'>
    <%= label_tag :activity_id, activity_or_project? %>
    <%= select_tag 'activity_id', "<option value=''>Select</option>".html_safe + options_from_collection_for_select(Activity.request_compatible(:order => 'name'), :id, :name) %>
    &nbsp;Optional
  </div>
</form>
  <div id='request_templates'></div>
  <%= javascript_tag("$('#request_templates').html(\"#{escape_javascript(render(:partial => 'promotions/template_list'))}\");") %>
  <%= javascript_tag("$('#new_request input, #new_request select').change();") %>
  <%= javascript_tag("tablesorterTableHeaderArrowAssignment();") %>

<br/>
