<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% if script %>
  <table class="formatted_table">
    <% if script.arguments.blank? %>
      <thead>
        <tr><th colspan = "5">The selected script has no parameters.</th></tr>
      </thead>
    <% else %>
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Name</th>
          <th>Value</th>
          <th>Infrastructure Mapping</th>
          <th>Application Mapping</th>
        </tr>
      </thead>
      <tbody>
        <% script.arguments.each do |argument| %>
          <tr>
            <td><%= argument.argument %></td>
            <td><%= argument.name %></td>
            <td><%= bladelogic_script_argument_value_input_display step, argument, installed_component, argument_values[argument.id]["value"] %><span></span></td>
            <td><%= infrastructure_mapping_property_names argument, installed_component %></td>
            <td><%= app_mapping_property_names argument, installed_component %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
    <% if script.respond_to?(:authentication) && script.authentication == 'step' %>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>BMC BladeLogic Username:</td>
          <td>
            <% if step && step.owner.is_a?(User) && step.owner.bladelogic_user %>
              <%= step.owner.bladelogic_user.username %>
            <% elsif step %>
              No BMC BladeLogic associated with <%= h step.owner.try(:name) %>
            <% else %>
              <%= text_field_tag 'argument[bladelogic_username]' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>BMC BladeLogic Password:</td>
          <td>
            <% if step %>
              <%= password_field :step, :bladelogic_password %>
            <% else %>
              <%= password_field_tag 'argument[bladelogic_password]' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>BMC BladeLogic Role:</td>
          <td>
            <% if step && step.owner.is_a?(User) && step.owner.bladelogic_user %>
              <%= select_tag "step[bladelogic_role]", options_for_select(step.owner.bladelogic_user.roles.map { |r| r.name }.unshift(''), step.owner.bladelogic_user.default_role) %>
            <% else %>
              <%= select_tag "arugument[bladelogic_role]", options_from_collection_for_select(BladelogicRole.all, :name, :name), :include_blank => true %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
