<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<%= hidden_field_tag :datepicker_format, DEFAULT_DATE_FORMATS_FOR_DATEPICKER[GlobalSettings[:default_date_format]] %>
<div class='wrap_stage_tbl'>
  <div class='scrollingDiv'>
    <table class='edit_env_app_dates formatted_table'>
      <thead>
        <tr>
          <th <%= tag_options({}, false) %>>ENV</th>
          <th <%= tag_options({}, false) %>>APP</th>
          <th <%= tag_options({}, false) %>>START</th>
          <th <%= tag_options({}, false) %>>END</th>
          <% if defined?(use_date_field) %>
            <th <%= tag_options({}, false) %>>ACTIONS</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% PlanEnvAppDate.where(:plan_id => @plan.id).includes(:app, :environment).each do |ead| %>
          <% start_date = ead.planned_start %>
          <% end_date = ead.planned_complete %>
          <% app = ead.app %>
          <% env = ead.environment %>
          <tr <%= tag_options({:class => "#{cycle('', 'alt' )}"}, false) %>>
            <td title="<%= env.name %>"><%= "#{env.name}".truncate(local_assigns[:facebox_edit].present? ? 11 : 25) %></td>
            <td title="<%= h(app.name) %>"><%= link_to_if (can? :edit, app), "#{h(app.name)}".truncate(local_assigns[:facebox_edit].present? ? 11 : 25), app_path(app) %></td>
            <td>
              <% if defined?(use_date_field) %>
                <%= date_field_tag "start_ead_#{ead.id}", start_date, {}, 'float:left; padding-left:4px; width:16px; height:16px;' %>
              <% else %>
                <%= default_format_date(start_date) %>
              <% end %>
            </td>
            <td>
              <% if defined?(use_date_field) %>
                <%= date_field_tag "end_ead_#{ead.id}", end_date, {}, 'float:left; padding-left:4px; width:16px; height:16px;' %>
              <% else %>
                <%= default_format_date(end_date) %>
              <% end %>
            </td>
            <% if defined?(use_date_field) %>
              <td>
                <% if ead.deletable? %>
                  <%= link_to image_tag('bin_empty.png'), delete_env_date_plan_path(@plan.id, :plan_app_env_id => ead.id), :remote => true, :confirm => "Are you sure you want to delete this environment date?", :method=>:delete %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
