<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<div class='contentCol1' style='width:auto;'>
  <%= f.error_messages :object_name => 'plan' %>
  <% if plan.new_record? %>
    <div class='field'>
      <%= f.label :plan_template_id, "*Plan Template" %>
      <%= select_list_for_plans_templates(plan_templates) %>
    </div>
  <% end %>
  <div class='field'>
    <%= f.label :name, '*Plan Name' %>
    <%= f.text_field :name, :disabled => plan.foreign_id.present? %>
  </div>
  <div class='field'>
    <%= f.label :release_manager_id, 'Release Manager' %>
    <%= f.select :release_manager_id, release_managers, { :include_blank => "Select" }, {:disabled => plan.foreign_id.present? } %>
  </div>
 </div>
 <div class='contentCol2'> 
  <div class='field'>
    <%= f.label :team_ids, 'Teams' %>
    <div id='plan_team_ids'>
      <%= render :partial => "shared/checkbox_select_list", :locals => {:form_object => plan, :collection => teams, :object => "plan", :method => "team_ids", :label => "name", :value => "id", :disabled => plan.foreign_id.present? } %>
    </div>
    <span class='sl_links' id='team_select_links'>
      <%= select_clear_chk('plan_team_ids') %>
    </span>
  </div>
  <div class='field'>
    <%= f.label :release_id, 'Release Tag' %>
    <%= f.select :release_id, releases, { :include_blank => "Select" }, {} %>
  </div>
  <div class='field'>
    <%= f.label :release_date, 'Release Date', :id => :release_date_label %>
  </div>
  <%= date_field_tag 'plan[release_date]', plan.release_date, {:disabled => plan.foreign_id.present?
}, 'float:left; padding-left:4px; width:16px; height:16px;' %>
</div>
 
<div class='clear'></div>
<div class='field'>
  <%= f.label :description, 'Release Description' %>
  <%= f.text_area :description, :style => "width:86%;", :rows => 3 %>
</div>


<div class='contentCol1' style='width:59%;'>
  <% unless plan.new_record? || plan.plan_template.nil? || plan.plan_template.stages.blank? %>
    <div class='field'>
      <%= f.label :env_app_dates, 'Environment Dates', :id => "form_env_app_date_label" %>
    </div>
    <div id="dates_div_facebox">
      <%= render :partial => "plans/env_app_dates", :locals => {:use_date_field => true,:facebox_edit => true} %>
    </div>
  <% end %>
</div>


<div class='contentCol2' style='width:39%;padding-right: 10px;'>
  <% unless plan.new_record? || plan.plan_template.nil? || plan.plan_template.stages.blank? %>
    <div class='field'>
      <%= f.label :stage_dates, 'Stage Dates', :id => "form_stage_date_label" %>
    </div>
    <%= render :partial => "plans/stage_dates", :locals => {:use_date_field => true,:facebox_edit => true} %>
  <% end %>
</div>
<br class="clear"/>

<div class='field'>
  <%= hidden_field_tag "tab", @plan_tab_value %>
  <%= hidden_field_tag 'request[deployment_coordinator_id]', current_user.id %>
  <%= hidden_field_tag 'plan[team_ids[]]', "" %>
</div>
