<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr <%= tag_options({:id => "lifecyle#{plan.id}", :class => cycle('even', 'odd')}, false) %>>
  <td class='plan_status_flowchart'>
    <%= link_to_if(can?(:inspect, plan), status_label(plan), plan) %>
  </td>
  <td>
    <%= link_to_if(can?(:inspect, plan), sanitize("<span class='plan_name_txt'>#{h(plan.name)}</span>"), plan) %>
    <% app_name_labels = plan.application_name_labels %>
    <% unless app_name_labels.length < 2 %>
      <br>
      <span <%= tag_options({:title => "App: " + app_name_labels}, false) %>>
        <%= "Apps: #{ truncate(app_name_labels, :length => 90) }" %>
      </span>
    <% end %>
  </td>
  <td>
    <%= sanitize ensure_space(truncate(plan.release.try(:name), :length => 30)) %>
  </td>
  <td>
    <%= ensure_space(plan.release_date.try(:default_format_date)) %>
  </td>
  <td>
    <%= ensure_space(truncate(plan.plan_template.try(:name), :length => 30)) %>
  </td>
  <td>
    <%= ensure_space(truncate(plan.try(:template_type_label), :length => 30)) %>
  </td>
  <td class='plan_stages_flowchart' nowrap='nowrap'>
    <%= sanitize flowchart_stages_for_plan(plan) %>
  </td>
</tr>
