<%
   ################################################################################
   # BMC Software, Inc.
   # Confidential and Proprietary
   # Copyright (c) BMC Software, Inc. 2001-2012
   # All Rights Reserved.
   ################################################################################
%>

<% violations = psi.constraint_violations %>
<% messages = violations.present? ? violations.map { |cvo| cvo.message }.join(' | ') : 'Plan stage is fully compliant.' %>

<div class="plan_stage_instance_row">
  <table class="formatted_table">
    <tr>
      <td class="psi_status_cell">
        <span <%= tag_options({:class=>"clear psi_status round_box_lc_#{psi.aasm_state}"}, false) %> ><%=  psi.aasm_state.humanize %></span>
      </td>
      <td class="psi_messages_cell" title="<%= messages %>">
        <%= truncate(messages, :length => 100) %>
      </td>
      <td class="psi_constraints_cell" >
        <%= constraint_type_links(psi) %>
      </td>
      <td class="psi_last_cell">
        <strong>Requests:</strong> <%= grouped_members[stage.id].try(:length) || 0 %>  |
        <strong>Runs:</strong> <%= Run.by_plan_and_stage(plan.id, stage.id).functional.try(:length) || 0 %>
      </td>
    </tr>
  </table>

</div>