<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr class='plan_row' <%= tag_options({:class => "#{cycle('white_bg', 'alt' )} #{defined?(plan_view) ? '' : 'request_row'}", :id => "request_row_#{recent_request.try(:id)}"}, false) %>>
  <%= request_id_td(recent_request, current_user.app_ids) %>
  <%= request_number_td(recent_request) %>
  <%= request_name_td(recent_request) %>
  <%= request_owner_td(recent_request) %>
  <%= request_release_td(recent_request) %>
  <%= request_app_td(recent_request) %>
  <%= request_env_td(recent_request) %>
  <%= request_scheduled_td(recent_request) %>
  <%= request_duration_td(recent_request) %>
  <%= request_due_td(recent_request) %>
  <%= request_steps_td(recent_request) %>
  <%= request_created_td(recent_request) %>
  <%= request_participants_td(recent_request) %>
  <td>
    <% if can?(:manage_plan, plan) && !recent_request.run.blank? %>
      <%= link_to(recent_request.run.try(:name) || "Unscheduled", "#{plan_path(plan)}?run_id=#{recent_request.run.try(:id)}",
                    class: "run_title_#{recent_request.run.try(:aasm_state)}",
                    title: recent_request.run.try(:aasm_state).capitalize) %>
    <% end %>
  </td>
  <% if can?(:manage_plan, plan) %>
    <td>
      <%= check_box_tag "requests[]", recent_request.try(:id), (@sel_requets && @sel_requets.include?("#{recent_request.try(:id)}")), {:class => "requests_", :id => "requests_move_#{recent_request.id}", 'data-stage-id' =>"#{stage.try(:id)}"} %>
      <%= render :partial => 'plans/members/member_parallel_toggle', :locals => { :member => member } if member.run && @run %>
      <%= hidden_field_tag :member_id, member.try(:id) %>
      <%= hidden_field_tag :stage_id, stage.try(:id) %>
    </td>
  <% else %>
    <td>
      <%= ensure_space %>
    </td>
  <% end %>
</tr>
