<% content_for :sidebar do %>
  <div style='margin-top:12px;'></div>
  <p class='state_manipulator'>
    <% if plan.created? %>
      <%= plan.decorate.plan_button if can?(:plan, plan) %>
      <%= plan.decorate.cancel_button if can?(:cancel, plan) %>
      <%= plan.decorate.delete_button if can?(:delete, plan) %>
    <% elsif plan.planned? %>
      <%= plan.decorate.start_button if can?(:start, plan) %>
      <%= plan.decorate.cancel_button %>
    <% elsif plan.plan_locked? %>
      <%= plan.decorate.start_button if can?(:start, plan) %>
    <% elsif plan.started? %>
      <%= plan.decorate.lock_button if can?(:lock, plan) %>
      <%= plan.decorate.hold_button if can?(:hold, plan) %>
      <%= plan.decorate.complete_button if can?(:complete, plan) %>
      <%= plan.decorate.cancel_button if can?(:cancel, plan) %>
    <% elsif plan.hold? %>
      <%= plan.decorate.start_button if can?(:start, plan) %>
      <%= plan.decorate.cancel_button if can?(:cancel, plan) %>
    <% elsif plan.cancelled? %>
      <%= plan.decorate.plan_button if can?(:plan, plan) %>
      <%= plan.decorate.delete_button if can?(:delete, plan) %>
    <% elsif plan.complete? %>
      <%= plan.decorate.archive_button if can?(:archive_unarchive, plan) %>
      <%= plan.decorate.reopen_button if can?(:reopen, plan) %>
    <% elsif plan.archived? %>
      <%= plan.decorate.unarchive_button if can?(:complete, plan) %>
      <%= plan.decorate.delete_button if can?(:delete, plan) %>
    <% end %>
  </p>

  <% unless plan.archived? %>
    <% if can?(:assign_app, PlanRoute.new) %>
      <p>
        <%= link_to image_tag('btn-assign-app-route.png'), new_plan_plan_route_path(plan), method: :get, class: 'button' %>
      </p>
    <% end %>

    <% if can?(:move_requests, plan) %>
      <p>
        <%= link_to_function image_tag("move_requests.png", title: "Move Requests"), "moveRequests('#{plan.id}')" %>
        <br class='clear'>
      </p>
    <% end %>
  <% end %>

  <% unless plan.tickets.blank? %>
    <% if can?(:view_ticket_summary_report, plan) %>
      <p>
        <%= button_to 'Ticket Summary Report', ticket_summary_report_plan_path(plan), method: :get, class: 'button' %>
      </p>
    <% end %>
  <% end %>
<% end %>
