<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :sidebar do %>
  <p/>
<% end %>
<% if @requests.empty? %>
  No requests found
<% else %>
  <div class='cont_horizontal_scroll'>
    <table class='requestList formatted_table'>
      <% @requests.each_with_index do |recent_request, index| %>
        <% if index == 0 %>
          <thead>
            <tr>
              <th colspan='2'>Step</th>
              <th>Name</th>
              <th>Component</th>
              <th>Work Task</th>
              <th>Phase</th>
            </tr>
          </thead>
        <% end %>
        <% recent_request.steps.each do |recent_step| %>
          <tbody>
            <tr class='requestList' <%= tag_options({:style => "cursor:auto;", :class => "#{cycle('', 'alt' )} request_row", :id => "request_row_#{recent_request.id}"}, false) %>>
              <td>
                <%= link_to recent_request.number, recent_request %>
                :
                <%= link_to_request_with_open_step recent_request, recent_step %>
              </td>
              <td <%= tag_options({:class => "step_status status#{' person_cell' if current_user.involved_with_step?(recent_step)} step_status_#{recent_step.aasm.current_state}"}, false) %>>
                <%= content_tag(:div, h(recent_step.aasm.current_state), :class => "state" ) %>
              </td>
              <td <%= tag_options({:title => h(recent_request.name)}, false) %>>
                <%= ensure_space(recent_step.name) %>
              </td>
              <td>
                <%= recent_step.component.name if recent_step.component %>
              </td>
              <td>
                <%= recent_step.work_task.name if recent_step.work_task %>
              </td>
              <td>
                <%= recent_step.phase.name if recent_step.phase %>
              </td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
