<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= stylesheet_link_tag 'plans' %>
<% content_for :sidebar do %>
  <span></span>
<% end %>
<%= render :partial => "plans/tabs", :locals => { :selected => "Builds".underscore } %>
<h3>Builds</h3>
<div>
  <span>
    Last Run at
    <%= my_datetime(@queries.first.try(:last_run_at)) %>
    by
    <%= @queries.first.user.name rescue '' %>
  </span>
  <span style='float:right'>
    <%= link_to "Add Build", rally_build_data_build_path(@plan), :rel => 'facebox' %>
  </span>
</div>
<table class='tablesorter formatted_table' id='tablesorter-demo'>
  <thead>
    <tr>
      <th>Build ID</th>
      <th>Message</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @build_contents.each do |rc| %>
      <tr <%= tag_options({:class => "#{cycle('even', 'odd')}"}, false) %>>
        <td><%= rc.object_i_d %></td>
        <td><%= rc.message %></td>
        <td><%= rc.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Release Contents Queries</h3>
<% if @queries.size > 0 %>
  <span style='float:right'>
    <%= button_to_remote "Run Queries", :url => sync_build_path(@plan) %>
  </span>
<% end %>
<br>
<table class='tablesorter formatted_table' id='tablesorter-demo'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>System</th>
      <th>Query</th>
      <th>Integration</th>
      <th>Last run</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @queries.each do |query| %>
      <tr <%= tag_options({:class => "#{cycle('even', 'odd')}"}, false) %>>
        <td><%= query.id %></td>
        <td><%= query.try(:name) %></td>
        <td><%= Query::SERVER.index(query.project_server.server_name_id) %></td>
        <td><%= query.details %></td>
        <td><%= query.project_server.try(:name) %></td>
        <td><%= my_datetime(query.last_run_at) %></td>
        <td><%= query.user.try(:name) %></td>
        <td><%= link_to 'edit', edit_query_build_path(query), :rel => 'facebox', :class => "default_link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
