<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Environments Calendar" %>
<% content_for :head do %>
  <%= static_javascript_include_tag 'plans' %>
  <%= stylesheet_link_tag 'plans' %>
<% end %>
<% content_for :page_section do %>
  <% draw_tabs :selected => "request" do %>
    <li><%= link_to "Release Plans", plans_path(:template_type => 'release_plan') %></li>
    <li><%= link_to "Release Calendar", release_calendar_plans_path %></li>
    <li class='selected'><%= link_to "Environments Calendar", environments_calendar_plans_path %></li>
  <% end %>
<% end %>
<% content_for :sidebar do %>
  <p><%= link_to image_tag("btn-create-plan.png", :alt => "Create Plan"), new_plan_path if can? :create, Plan.new %></p>
<% end %>
<div class='prj_calendar_wrap'>
  <table class='project_calendar_tbl'>
    <tr>
      <td style='padding:0!important'>
        <table class='week_tbl'>
          <tr>
            <th scope='row'>&nbsp;</th>
            <% @months.each do |month| %>
              <td <%= tag_options({:colspan => @weeks[month].size}, false) %>><%= month %></td>
            <% end %>
          </tr>
          <tr>
            <th scope='row'>Week Beginning (Sundays)</th>
            <% @months.each do |month| %>
              <% @weeks[month].each do |first_day_of_week| %>
                <td <%= tag_options({:day => first_day_of_week}, false) %>><%= first_day_of_week %></td>
              <% end %>
            <% end %>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td <%= tag_options({:bgcolor => "#999999", :style => "height:8px; padding:0"}, false) %>></td>
    </tr>
    <% @plans.each do |plan| %>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th><%= link_to_function plan.name + "(#{plan.projects.count})", "$('.projects_of_plan_#{plan.id}').toggle()", :class => "clear_list" %></th>
      </tr>
      <% plan.projects.each do |project| %>
        <tr <%= tag_options({:class => "projects_of_plan_#{plan.id} dn"}, false) %>>
          <td><%= link_to project.name, project %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%= javascript_tag("highLightCurrentDay('#{Date.today.beginning_of_week(:sunday).strftime('%m/%d')}')") %>
