<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% content_for :head do %>
  <%= static_javascript_include_tag 'project', 'plan_dashboard' %>
  <%= stylesheet_link_tag 'pagination', 'plans', 'dashboard' %>
<% end %>
<% page_settings :title => "Plans" %>
<%= render :partial => "plans/index_tabs", :locals => {:page => params[:page], :key => params[:key], :state => params[:state]} %>

<% content_for :sidebar do %>
  <% if can? :create, Plan.new %>
    <p><%= link_to image_tag("btn-create-plan.png", :alt => "Create plan", :id => "create_plan"), new_plan_path %></p>
    <br class='clear'/>
  <% end %>
<% end %>

<% if can?(:list, Plan.new) %>
  <div id='plan_listing'>
    <div style='text-align:right;margin-bottom:10px;'>
      <%= render :partial => "plans/search", :locals => {:path => plans_path} %>
    </div>
    <%= render :partial => "plans/plan_filters", :locals => {:plans => @plans} %>
    <div id='plan_results' style='padding-top:20px;'>
      <%= render :partial => "automated_plan", :locals => {:plans => @plans, :results_label => @results_label } %>
    </div>
  </div>
<% end %>
