<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'plans' %>
  <%=  static_javascript_include_tag "plans", "multi_select" %>
<% end %>
<% page_settings :title => 'Create Plan', :heading => 'Create Plan' %>

<% content_for :sidebar do; end %>

<%= form_for @plan, :html => { :class => 'cssform' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :plan => @plan, :release_managers => @release_managers, :teams => @teams, :releases => @releases, :plan_templates => @plan_templates } %>
  <%= hidden_field_tag "include[all]", 1 %>
  <p>
    <%= f.submit I18n.t(:create) , :class => 'button'%> or
    <%= link_to 'cancel', plans_path %>
  </p>
<% end %>

