<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<% page_settings :title => "Release Plans Calendar" %>
<% content_for :head do %>
  <%= static_javascript_include_tag 'plans' %>
  <%= stylesheet_link_tag 'plans' %>
<% end %>
<% content_for :page_section do %>
  <% draw_tabs :selected => "request" do %>
    <li><%= link_to "Release Plans", plans_path(:template_type => 'release_plan') %></li>
    <li class='selected'><%= link_to "Release Calendar", release_calendar_plans_path %></li>
    <li><%= link_to "Environments Calendar", environments_calendar_plans_path %></li>
  <% end %>
<% end %>
<% content_for :sidebar do %>
  <p><%= link_to image_tag("btn-create-plan.png", :alt => "Create Plan"), new_plan_path if can? :create, Plan.new %></p>
<% end %>
<div class='pageSection'>
  <p>
    <b>Period:</b>
    <%= select_tag "calendar_period", options_for_select(release_calendar_options) %>
    <b>Application:</b>
    <%= # select_tag "app_id", "<option value=''>Select</option>" + options_for_select(PlanMember.group_app_id.reject{|lm|lm.app_id.blank?}.collect{|lm| [lm.app.name, lm.app_id]}) %>
  </p>
  <div class='vscroll_960' id='releases'></div>
</div>
<%= javascript_tag("loadReleases()") %>
