<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<%= f.error_messages %>
<div class='field'>
  <%= f.label :name %>
  <%= f.text_field :name, :class => 'initialFocus' %>
</div>
<span class='dynamic_fields'>
  <% if @phase.runtime_phases.present? %>
    <% @phase.runtime_phases.each do |runtime_phase| %>
      <div class='field'>
        <label><%= "Runtime Phase" %></label>
        <%= text_field_tag "runtime_phases[]", h(runtime_phase.name),:disabled =>runtime_phase.destroyable? ? false : true %>
        <% if runtime_phase.destroyable? %>
          &nbsp;|&nbsp;
          <%= link_to 'clear', '#', :class => 'clear_field' %>
        <% end %>
      </div>
    <% end %>
  <%else%>
    <div class="field">
        <label>Runtime Phase(s)</label>
        <%= text_field_tag "runtime_phases[]",nil,:size => 30 %>
    </div>    
  <%end%>
  <span id='field_for_clone' style='display: none'>
    <div class='field'>
      <label>&nbsp;</label>
      <%= text_field_tag "runtime_phases[]",nil,:size => 30 %>
      |
      <%= link_to "remove", "#", :class => "remove_field" %>
    </div>
  </span>
  <span>
    <div class='field'>
      <label>&nbsp;</label>
      <%= link_to "more", '#', :id => "add_field" %>
    </div>
  </span>
</span>
