<%# ############################################################################# %>
<%# BMC Software, Inc. %>
<%# Confidential and Proprietary %>
<%# Copyright (c) BMC Software, Inc. 2001-2012 %>
<%# All Rights Reserved. %>
<%# ############################################################################# %>
<tr <%= tag_options({:class => cycle('', 'alt')+"#{' phase_row' unless archived}"}, false) %>>
  <% unless archived %>
    <td>
      <span class='phase' <%= tag_options({:id => dom_id(phase)}, false) %>>
        <%= image_tag 'drag.gif' %>
      </span>
    </td>
  <% end %>
  <td><%= link_to_if can?(:edit, phase),
                     index_title(h(phase.name)),
                     edit_phase_path(phase) %></td>
  <td><%= " #{phase.count_of_existing_requests_through_step_and_execution_conditions} | #{phase.count_of_request_templates_through_steps_and_execution_conditions} | #{phase.count_of_procedures_through_steps} " %></td>
  <td>
    <% unless archived %>
      <% if can? :edit, phase %>
        <%= link_to I18n.t(:edit), edit_phase_path(phase) %>
      <% end %>
      <% if can? :archive_unarchive, phase %>
        &#124;
        <%= link_to I18n.t(:archive), archive_phase_path(phase), :method => :put %>
      <% end %>
    <% else %>
      <% if can? :archive_unarchive, phase %>
        <%= link_to I18n.t(:unarchive), unarchive_phase_path(phase), :method => :put %>
      <% end %>
      <% if can? :delete, phase %>
        &#124;
        <%= link_to I18n.t(:delete), phase, :method => :delete, :confirm => "Are you sure you want to delete the phase?" %>
      <% end %>
    <% end %>
  </td>
</tr>
