<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<td>
  <% if can? :edit, :automation %>
    <%= link_to "<strong>#{h(script.name)}</strong>".html_safe, edit_shared_script_path(script, :page => params[:page],:key => params[:key], :inline => "yes"), :class => 'append_row' %>
  <% else %>
    <%= h(script.name) %>
  <% end %>
</td>
<td><%= h truncate(script.description, :length => 80) %></td>
<td>
  <%= default_format_date(script.updated_at) %>
  <td>
    <%= h(script.in_use_by) %>
    <td class='action_links'>
      <% if can? :edit, :automation %>
        <%= link_to 'edit', edit_shared_script_path(script, :page =>  params[:page],:key => params[:key]), :class => 'append_row' %>
      <% end %>
      <% if can? :delete, :automation %>
        | <%= link_to 'delete', shared_script_path(script, :page => params[:page],:key => params[:key]), :method => :delete, :confirm => "Are you sure?" %>
      <% end %>
      <% if can? :test, :automation %>
        <% if prepared_to_test?(script) %>
          | <%= link_to 'test', test_run_shared_script_path(script, :page =>  params[:page],:key => params[:key]), :class => 'append_row' %>
        <% end %>
      <% end %>
    </td>
  </td>
</td>
