<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<tr class='no_hover' <%= tag_options({:id => "script_#{@script.id}_row"}, false) %>>
  <td colspan='5'>
    <h3>
      <%= @script.name %>
      <span style='font-size:12px;'>-- Script Run Results</span>
    </h3>
    <p>
      <textarea cols='100' rows='5'><%= @result %></textarea>
    </p>
    <p>
      <%= "Results file: #{results_hyperlink(@result)}".html_safe %>
    </p>
    <%= link_to('done', shared_script_index_path(params[:page],params[:key])) + " | " + link_to('edit', edit_shared_script_path(@script, :page => params[:page], :key => params[:key]), :onclick => "ajax_call_on_script_edit(this);return false;") %>
  </td>
</tr>
