<%
################################################################################
# BMC Software, Inc.
# Confidential and Proprietary
# Copyright (c) BMC Software, Inc. 2001-2012
# All Rights Reserved.
################################################################################
%>
<h2><%= "Update Package Template - #{@package_template.name}" %></h2>
<%= form_for(@package_template, :url => app_package_template_path(@app, @package_template, :simple_update => true),:remote => true, :html => { :method => :put, :class => 'cssform' }) do |f| %>
  <div id='package_template_error_messages'></div>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, :style => "width:240px;" %>
  </div>
  <div class='field'>
    <%= f.label :version %>
    <%= f.text_field :version, :style => "width:240px;" %>
  </div>
  <div class='field'>
    <%= f.submit "Update",:class => button %>
  </div>
<% end %>

